[2019-10-23 18:11] admiralAwkbar opened #7 "Split up checks into smaller checks for each linter"
Currently, this runs as 1 giant check. And that is great except for larger repos will have a very large file to parse. We can utilize the checks API and make each linter its own check and make this sooo much nicer to look at.

Example:
- Source-Linter
  - bash linter
  - ruby linter
  - etc...

At the end of the Action you will see many smaller jobs inside the main job

[2020-05-15 16:31] Hanse00 commented on #7
Hi @admiralAwkbar, are you actively working on this? IF not, it seems like an excellent opportunity to learn more about using GitHub Actions, and I'd like to give it a try.

[2020-05-15 16:35] admiralAwkbar commented on #7
@Hanse00 Hey! it was a great idea when this was first being developed.

At this point, I have not had the time to make it happen, but would love some help :)
Let me know if I can be of any help

thanks!

[2020-05-15 16:37] Hanse00 commented on #7
We all know how that goes :)

I'll get my environment set up, and poke around at it today.

[2020-05-15 17:16] Hanse00 commented on #7
@admiralAwkbar Just want to check my assumption here: Since I am modifying the scripts that make up the action, rather than following your instructions on [running the linter locally](https://github.com/github/super-linter/blob/master/docs/run-linter-locally.md), I should build a new version of the container and run the action locally, is that correct?

You mentioned using "checks" in your origina

[2020-05-15 18:15] admiralAwkbar commented on #7
@Hanse00 You are correct, sorry for the incorrect language on it :)
your assumption is correct

[2020-05-15 18:38] Hanse00 commented on #7
Not a problem at all! Just wanted to confirm we're in agreement.

[2020-05-15 20:51] Hanse00 commented on #7
After further investigation, this is what I've concluded:

* For each "check" to be reported upon separately in the UI as you're suggesting. They need to be separate "actions" within a "workflow".
* GitHub only supports publishing "actions" on the marketplace, not whole "workflows", so we cannot publish a full workflow that will run all the individual checks for us on the marketplace.
* There are

[2020-05-22 12:46] admiralAwkbar commented on #7
@Hanse00 it would appear that this would require a little bit of re-arch the scripting and how variables are being passed and such...
I see it as a small win, but at this point, I don't have the time to make a change of that magnitude.
We're still working on getting additional adoption of the tooling, and then I would assume the bug fixes that follow :)

Thank you so much for digging into this and

[2020-05-23 16:08] Hanse00 commented on #7
Not a problem! It's always good to get an understanding of the problem, before jumping in :)

That being said, are you open to the community potentially working on the variable passing? Or it is something you'd rather take ownership of for now?

It's totally understandable if you want to keep this close, this early on in the lifecycle of the project. If however you do decide you want help with thi

[2020-05-26 12:28] admiralAwkbar commented on #7
@Hanse00 I would be open for all the help :)
I agree i think this is more of an epic, and would need to open smaller issues to track the underlying changes to make this work in the real world

[2020-05-26 15:23] Hanse00 opened #98 "Restructure linter flags"
**Is your feature request related to a problem? Please describe.**
As discussed in #7, we'd like to be able to run each individual linter in a separate process.
To do this, we need an easy way to enable only one specific linter per process.

**Describe the solution you'd like**
Rather than defaulting to linting all supported languages, and taking an environment variable to disable a specific langu

[2020-06-03 19:05] Hanse00 commented on #98
@admiralAwkbar What do you think of the solution I proposed in #7?

If none of the relevant env variables are present, run all linters. If any of the variables are present, default to not running any of the linters, and determine which to run based on the variables.

[2020-06-03 19:09] admiralAwkbar commented on #98
@Hanse00 I agree and for the most part, I believe it acts in that manner, all linters are defaulted to true, unless a user sets them to false, so it wouldn't be a stretch to conform the rules to act a bit differently.

I like the idea and think its the next evolution to getting this into multiple runs.

[2020-06-03 19:10] Hanse00 commented on #98
Sounds good. I'll get to work on making it work in this manner then.

[2020-06-03 19:11] admiralAwkbar commented on #98
@Hanse00
![](https://media.giphy.com/media/l0ErFafpUCQTQFMSk/giphy.gif)

[2020-06-07 17:00] Hanse00 commented on #98
@admiralAwkbar I've come up with a prototype for a solution, I wanted to give you a chance to take a look before I go implementing it in the script:

[code]

The above code results in the following output:
[code]

Overall I like this solution, as it will scale well with additions / removals of possible linter options. All one needs to do is add them to the array at the start, and the rest of the l

[2020-06-08 12:47] admiralAwkbar commented on #98
@Hanse00 I agree, I'm against `eval`, seems like the simple approach should do the trick. I think we can start a PR and get this going and tested. Create a PR and I will be glad to help out as well as I get time. Thanks!

[2020-06-16 22:31] zkoppert opened #102 "npm WARN deprecated packages"
**Describe the bug**
npm WARN deprecated nomnom@1.8.1: Package no longer supported. Contact support@npmjs.com for more info.
See [occurrence](https://github.com/github/super-linter/pull/101/checks?check_run_id=778367625#step:3:69)

**To Reproduce**
Steps to reproduce the behavior:
1. Run or [rerun](https://github.com/github/super-linter/runs/778275716?check_suite_focus=true) actions checks
2. Obse

[2020-06-17 16:01] Hanse00 commented on #98
This was resolved in #100 and #101, woohoo!

[2020-06-17 16:01] #98 closed

[2020-06-17 19:12] #102 closed

[2020-06-18 05:18] zkoppert opened #105 "Package version number shows v1.0"
**Describe the bug**
Package version number shows v1.0 but it should show v2.0

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'github.com/github/super-linter'
2. Observe the Packages section on the right side bar

**Expected behavior**
A package labeled v2.0 should be available.

**Screenshots**
<img width="279" alt="Screen Shot 2020-06-17 at 10 17 08 PM" src="https://user-images.gith

[2020-06-18 15:47] LifeIsStrange opened #107 "Kotlin support"
I believe klint is the most popular kotlin linter and shouldn't be too opinionated:

https://github.com/pinterest/ktlint

If you were to create a super-static-analyser
It could use https://github.com/detekt/detekt

[2020-06-18 15:51] GiorgioG opened #108 "Rust support"
Using https://github.com/rust-lang/rust-clippy

[2020-06-18 15:57] kilasuit opened #109 "Add PowerShell Support"
**Is your feature request related to a problem? Please describe.**
Lack of PowerShell Support

**Describe the solution you'd like**
Add support to include PowerShell's PSScriptAnalzer https://github.com/PowerShell/PSScriptAnalyzer/

**Describe alternatives you've considered**
Running seperate task for this anyway

**Additional context**

[2020-06-18 15:58] barkerja opened #110 "Elixir Support"
Using https://github.com/rrrene/credo

[2020-06-18 16:03] thenonameguy opened #111 "Clojure support"
Using https://github.com/borkdude/clj-kondo

[2020-06-18 16:25] tobiasbueschel opened #115 "Java Support"
Really appreciate the efforts that already went into `super-lint`, it would be great to also add support for Java using perhaps one of the following linters:

- https://github.com/checkstyle/checkstyle
- https://github.com/spotbugs/spotbugs
- https://github.com/pmd/pmd

[2020-06-18 16:40] zkoppert opened #116 "Lint for unequal phrasing"
**Is your feature request related to a problem? Please describe.**
I'd like to see default linter settings that scan code for problematic words like 'master' that cause harm and silence black voices. request from https://news.ycombinator.com/item?id=23563823#23564249

**Describe the solution you'd like**
Please consider adding https://alexjs.com/

**Describe alternatives you've considered**
none

[2020-06-18 16:52] fluxsauce opened #117 "Configuring for non-standard filenames?"
Hi there, this is a fantastic project!

We've got a use case where we have a repository that contains a number of JSON files that are named `.properties`. While I understand it's best practice to have semantically meaningful file extensions, it's what we have for now.

Is it possible to configure `jsonlint` (and possibly others) to specify file extensions to validate?

Thanks!

[2020-06-18 17:07] AaronFriel opened #119 "What is the behavior of the super linter in a monorepo?"
Specifically, when there might be multiple `.eslintrc` configurations, things of that nature?

[2020-06-18 17:15] shyndman opened #120 "Dart support"
Dart support would be useful.

The official (and only I believe) linter is https://github.com/dart-lang/linter
Rules: https://dart-lang.github.io/linter/lints/

[2020-06-18 17:17] admiralAwkbar commented on #119
hey, @AaronFriel that's a great question... We need to look into being able to have multiple `.eslintrc` files available for repos that house multiple projects. One of the steps we wanted to invest was more in JS as we don't have deep hooks into parsing the current `.eslint.json` files and really only look at the master file. that would be a huge help to be able to parse those more real-time with

[2020-06-18 17:21] lukeholder opened #122 "PHP Support"
Possible linters:

- https://cs.symfony.com/ (9.1k Stars)
- https://psalm.dev/  (3.1k Stars)
- https://github.com/phpstan/phpstan (8.8k Stars)
- https://github.com/phan/phan (4.8k Stars)

[2020-06-18 17:26] admiralAwkbar commented on #109
@kilasuit love it... need to find the best way to install PowerShell Core on a Linux image :) without making it just huge lol...
If you have some time to get a PR going would love to take a look and help:) we got a lot of users on PS

[2020-06-18 17:34] aniforprez opened #123 "Flake8 support"
**Is your feature request related to a problem? Please describe.**
I prefer flake8 over pylint and would love flake8 support for Python3 linting

**Describe the solution you'd like**
Flake8 support

**Additional context**
Documentation here: https://flake8.pycqa.org/en/latest/

[2020-06-18 17:36] tihuan opened #124 "Consume `.eslintrc` instead of defining `.eslintrc.yml`?"
**Is your feature request related to a problem? Please describe.**
Really love the super linter! My concern so far is creating a `.github/linters/.eslintrc.yml` when `.eslintrc` already has all of our project's custom rules and configs

**Describe the solution you'd like**
Just wondering if it'd make sense to preserve a single source of truth by allowing super linter to consume `.eslintrc` instead

[2020-06-18 17:37] zkoppert opened #125 "transfer Docker image from admiralawkbar to github"
**Describe the bug**
transfer Docker image from admiralawkbar to github

**To Reproduce**
Steps to reproduce the behavior:
none

**Expected behavior**
github is the more official place so can we post the docker image there?

**Screenshots**
https://github.com/github/super-linter/blob/3569fc0407685cc8a29c815a02898607938c9b02/.github/workflows/deploy-PROD.yml#L48

**Additional context**
Need to get

[2020-06-18 17:41] admiralAwkbar commented on #125
@zkoppert I agree it needs to be moved when we get some access to push to GitHub

![](https://media.giphy.com/media/102Kt6jnALRaV2/giphy.gif)

[2020-06-18 17:41] fafnirical commented on #122
https://github.com/squizlabs/PHP_CodeSniffer is another very popular tool (7.7K stars, 64.5M installs through [Packagist](https://packagist.org/packages/squizlabs/php_codesniffer))

[2020-06-18 17:44] alphatroya opened #127 "Swift support"
**Possible linters**

- [swiftlint](https://github.com/realm/SwiftLint) tool is widely using across swift community.
- [swiftformat](https://github.com/nicklockwood/SwiftFormat) is also popular code formatting tool that have --lint option.

[2020-06-18 17:46] LifeIsStrange commented on #115
Using https://github.com/diffplug/spotless
one could simultaneously and seamlessly supports formatting for Java, Kotlin, scala and SQL :}
I think this is strongly important because Java is more and more used with complementary languages.

[2020-06-18 17:46] thehesiod opened #128 "SQL Support"
we have a lot of SQL in our codebase and would be nice to lint these as well.

not sure which linter would be the best

[2020-06-18 17:56] LifeIsStrange commented on #128
In https://github.com/github/super-linter/issues/115
I mentioned https://github.com/diffplug/spotless
which would allow to solve simultaneously Java, Kotlin, Scala, Groovy and SQL support in a unified way.
For SQL it would use https://github.com/diffplug/spotless/blob/main/lib/src/main/java/com/diffplug/spotless/sql/DBeaverSQLFormatterStep.java
so from this tool
https://github.com/dbeaver/dbeaver/

[2020-06-18 18:00] joeyaiello commented on #109
PM owner for PowerShell here, feel free to reach out in this issue or offline if you have any questions. We have [supported packages](https://docs.microsoft.com/en-us/powershell/scripting/install/installing-powershell-core-on-linux?view=powershell-7) and [Docker containers](https://hub.docker.com/_/microsoft-powershell) across the board, happy to chat if none of it meets your needs.

Similarly, my

[2020-06-18 18:06] fluxsauce commented on #117
That would work!

IMHO it'd be optimal of the custom mapping overrode the defaults rather than merged to avoid unexpected behavior.

[2020-06-18 18:12] pronoiac opened #132 "Link the linters used in the README?"
I note the linters used are all linked on [the "disabling linters" page,](https://github.com/github/super-linter/blob/master/docs/disabling-linters.md) and think they should also be linked in the main README.
While adjusting that table, I'd consider sorting the languages alphabetically, and aligning the columns.

[2020-06-18 18:16] zkoppert commented on #132
Yes! This is a good idea.

[2020-06-18 18:27] admiralAwkbar commented on #132
@pronoiac great idea! want to open a PR with it?

[2020-06-18 18:27] pronoiac commented on #132
@admiralAwkbar Sure thing!

[2020-06-18 18:28] fafnirical commented on #124
`.eslintrc` is deprecated, but if multiple configuration formats were to supported it could be good to support them all: https://eslint.org/docs/user-guide/configuring#configuration-file-formats

[2020-06-18 18:29] admiralAwkbar commented on #117
@fluxsauce so if the value is set in the `mapping.yml` let's say for example as above, then I wouldn't look for `.json` but only `.properties` and `.config`?

Interesting idea, I guess if the users wanted to add tags, the could easily add `.json` to the list as well. right?

[2020-06-18 18:43] tihuan commented on #124
@fafnirical Thanks for pointing that out!

Sounds like we could have two requests here?

1. Make Super Linter consume a project's existing lint rule file, so we don't have to duplicate rules in `.github/linters/.eslintrc.yml`, doubling the maintenance cost and losing single source of truth

2. Make Super Linter support all formats specified in https://eslint.org/docs/user-guide/configuring#configu

[2020-06-18 18:44] mchusma opened #134 "Upgrade Rubocop to Latest"
**Is your feature request related to a problem? Please describe.**
We were looking to move from running Rubocop locally to super-linter but super-linter uses a version from about 1 year ago (0.74). https://github.com/rubocop-hq/rubocop/releases has 0.85.1 as the latest right now.

**Describe the solution you'd like**
Upgrade to a more recent version of rubocop, or enable this to be configured by u

[2020-06-18 18:47] #132 closed

[2020-06-18 18:51] ribtoks opened #135 "C++ support"
**Is your feature request related to a problem? Please describe.**

`super-linter` does not support C++

**Describe the solution you'd like**

Use `super-linter` to lint C++ code

**Describe alternatives you've considered**

Running `clang-tidy` and `clazy` yourself through custom run steps

[2020-06-18 18:53] PatMyron opened #136 "CloudFormation support"
[CloudFormation Linter](https://github.com/aws-cloudformation/cfn-python-lint/)

[CloudFormation template recognition logic](https://github.com/aws-cloudformation/aws-cfn-lint-visual-studio-code/blob/ec7ab4af616cf85c18f93918cdeeaa11da2fbe72/server/src/server.ts#L140) if needed

[2020-06-18 18:53] michaelsainz commented on #109
Integration of the PSScriptAnalyzer would be ✨ ❤️ 🎉 .

[2020-06-18 18:56] fluxsauce commented on #117
That'd be my opinion, otherwise I could anticipate someone asking for a way to exclude a tag; by overriding it gives optional granular control to the end user through one interface.

Not a deal breaker for me either way :-)

[2020-06-18 19:07] SeanKilleen opened #138 "Add Support for disabling errors (info-only runs)"
**Is your feature request related to a problem? Please describe.**

I have a repository of legacy markdown files that super-linter would be really useful for. I've also encountered similar situations with other repositories in the past. Sometimes, I'm not looking for a pass/fail, but rather for counts of issues so that I can monitor a trend.

**Describe the solution you'd like**

I'd love to see a

[2020-06-18 19:33] antleblanc opened #142 "Stylelint support"
**Is your feature request related to a problem? Please describe.**
`super-linter` does not support [stylelint](https://stylelint.io/).

**Describe the solution you'd like**
Use `super-linter` to lint styles files.

**Describe alternatives you've considered**
Running `stylelint` yourself through custom run steps.

[2020-06-18 19:35] RussellRollins opened #143 "Invoking golangci-lint run on individual files breaks linters in packages."
**Describe the bug**
When golangci-lint is invoked against a single file, as it is here:

https://github.com/github/super-linter/blob/1e08ff6363cb45c5714b1c30039d896972287173/lib/linter.sh#L1939

This fails to properly lint a package if types are defined in another file.

**To Reproduce**
Steps to reproduce the behavior:
1. Create two Go files, main.go and foo.go.
2. Define `Foo` in foo.go.
3. Run

[2020-06-18 19:35] zkoppert commented on #117
I think that overriding the defaults is okay and it is consistent with our env config stragey of being explicit about what you want to occur. I would support that direction.

[2020-06-18 19:37] ericdallo opened #144 "Elisp Support"
**Is your feature request related to a problem? Please describe.**

`super-linter` does not support Emacs lisp (elisp)

**Describe the solution you'd like**

Use `super-linter` to lint Emacs lisp (elisp) code

**Describe alternatives you've considered**

Byte compiling and/or checkdoc with Emacs.
Example of a GH Action: https://github.com/emacs-lsp/lsp-mode/blob/master/.github/workflows/test.yml.

[2020-06-18 19:46] jdyke opened #145 "Support non-master default branches"
**Is your feature request related to a problem? Please describe.**
When setting up the linter to run as a github action, it is looking for the `master` branch but ours is named `main`. Fails with error:

[code]

**Describe the solution you'd like**
An environment variable could be used to input the name of the `default` branch if it is not named `master`.

[2020-06-18 20:09] Hanse00 commented on #7
So now that we are able to run the linter for each language relatively easily, perhaps it's time to revisit this?

As before, my understanding is still that we can lay the groundwork, but at the end of the day, a workflow would need to be written for this, rather than it being written directly into the action.

[2020-06-18 20:11] Hanse00 commented on #145
@admiralAwkbar I'd like to work on this one, seems like a no brainer idea (And like 10 lines of code)

[2020-06-18 20:20] WyriHaximus commented on #122
Laid the foundation for this in #129 with just pure PHP syntax linting

[2020-06-18 20:29] GaboFDC opened #148 "Suport `.rubocop.yml` file"
**Is your feature request related to a problem? Please describe.**
The rubocop linter uses the `.github/linters/.ruby-lint.yml` file.
But is most likely that people will have defined the setting in the default `.rubocop.yml`

**Describe the solution you'd like**
We could let the super linter use the default and more standard file, instead of the specific one.

**Describe alternatives you've consid

[2020-06-18 20:33] UziTech opened #149 "Update coffeelint"
**Describe the bug**

CoffeeLint development has been moved to https://github.com/coffeelint/coffeelint and v3 was released as [@coffeelint/cli](https://www.npmjs.com/package/@coffeelint/cli) on npm

The website for CoffeeLint was also changed to https://coffeelint.github.io

**To Reproduce**
Steps to reproduce the behavior:
1. Lint coffeescript files

**Expected behavior**

Use an updated version

[2020-06-18 20:44] KanarekLife opened #150 "C# support"
I think adding c# support would be nice.

I think that [Resharper Command Line Tools](https://www.jetbrains.com/resharper/download/index.html#section=commandline) would be a great fit.

[2020-06-18 21:03] GaboFDC opened #151 "Support the GitHub Checks Run UI"
**Is your feature request related to a problem? Please describe.**
After the super-linters runs, you have to go to the workflow logs, and then the step, and look at the logs, to see the errors that were found. This is not ideal and error-prone.

**Describe the solution you'd like**
A better approach would be to use the [Checks Run UI](https://developer.github.com/v3/checks/runs/#create-a-check-run

[2020-06-18 21:13] ashishkeshan opened #153 "Configure version of each linter"
It would be awesome to be able to configure the version of the linter to be used in `linter.yml`.

I work on a repo that relies on a specific version of rubocop, and I would love to move all linting to super-linter if support for selecting versions is enabled.

[2020-06-18 21:14] Hanse00 commented on #151
Sounds like this could be related to #7.

[2020-06-18 21:15] iggy opened #154 "Wiki page has incorrect github actions example"
**Describe the bug**

https://github.com/github/super-linter/wiki has an example with the below line of yaml for using super linter in a github action

[code]
It should probably be
[code]
So take off the `docker://` bit and (maybe) bump to the latest version.

Note: This wiki page is linked from the github.blog post announcing this project, so it was the first thing I (and probably others will) re

[2020-06-18 21:29] GaboFDC commented on #151
How I see it #7 is more about allowing the super-linter to be run as many specific linters on their own.
Independent of that, the current way that the super-linter reposts the errors in only on the logs, this is about changing that to also report via the API more nicely, so I think is still a separate issue

[2020-06-18 21:30] jars commented on #128
Also check out: https://github.com/alanmcruickshank/sqlfluff

[2020-06-18 21:31] Hanse00 commented on #151
Fair enough :)

I think there's a natural progression here:

* Start by doing what you're suggesting, put the result into a "Check" that uses the particular UI
* Then it'll be easier to break the one check into multiple checks

[2020-06-18 21:44] admiralAwkbar commented on #145
@Hanse00 make it so...

[2020-06-18 21:46] hxlnt opened #156 "Add webhint"
[webhint](https://github.com/webhintio/hint) seems like a good addition to the list of linters. Checks a11y, cross-browser compat, other best practices on HTML, CSS, etc.

[2020-06-18 22:26] yhoiseth opened #157 "How to install Python dependencies"
In https://github.com/yhoiseth/python-prediction-scorer/runs/786096970, pylint is complaining about missing imports. They are already installed in a previous step, but it doesn’t seem like they are “kept”. How can I run e.g. `python -m pip install --upgrade pip pip-tools setuptools wheel && pip-sync` so that it works with Super-Linter?

[2020-06-18 23:44] zkoppert commented on #125
closed by https://github.com/github/super-linter/pull/137

[2020-06-18 23:44] #125 closed

[2020-06-18 23:47] zkoppert commented on #154
Thanks for submitting the issue @iggy! This has been resolved at https://github.com/github/super-linter/wiki/Home/a5da73e239e9c67137c5e150e2916565939e72af because of your submission. Keep contributing!

[2020-06-18 23:47] #154 closed

[2020-06-18 23:50] iggy commented on #154
It was only fixed in one of the examples. There are 2 in that wiki page. Thanks for the quick turnaround btw.

[2020-06-19 00:05] sayboras opened #161 "To override LINTER_PATH"
**Is your feature request related to a problem? Please describe.**
Most of the existing repo will already have existing lint rules, and most of them will be placed in root directory of project.

Moving all of them to LINTER_PATH (e.g. .github/linters) wil require either some duplication or breaking exiting way to run lint locally

**Describe the solution you'd like**
To have ability to override th

[2020-06-19 01:29] morrisonlevi commented on #122
By the way, linting is built into PHP with `php -l`, so all you really need to do is run that across all the PHP files. Looks like the PR tries to do this in parallel. That's probably fine if other linters run in parallel too, but otherwise I'd simplify it to remove the composer dependency, etc.

[2020-06-19 01:56] mathiasrw opened #163 "Limit warning and safety issues"
When running the suggested github action you get things like

[code]

and

[code]

I would suggest that there is a focus on making sure the output is as lean as possible.

[2020-06-19 01:58] azu opened #164 "Secretlint support - credential checker"
**Is your feature request related to a problem? Please describe.**
Credential linter is missing in super-linter.

A Scanner for SSH Private key, access token, etc...

**Describe the solution you'd like**
[Secretlint](https://github.com/secretlint/secretlint) and [@secretlint/secretlint-rule-preset-recommend](https://github.com/secretlint/secretlint/tree/master/packages/@secretlint/secretlint-rule-

[2020-06-19 01:59] yoheimuta opened #165 "protolint support"
**Is your feature request related to a problem? Please describe.**
`super-linter` does not support [protolint](https://github.com/yoheimuta/protolint).

**Describe the solution you'd like**
Use `super-linter` to lint Protocol Buffer files.

**Describe alternatives you've considered**
Running `protolint` yourself or [protolint-action](https://github.com/plexsystems/protolint-action) through custom

[2020-06-19 02:05] mathiasrw opened #166 "Install what will be used"
**Is your feature request related to a problem? Please describe.**

Please only install aspects that will be used when linting so that we dont spend time on installing things that will never be used.

**Describe the solution you'd like**

Example:

If `VALIDATE_RUBY=false` then skip step 7

    Step 7/16 : RUN gem install rubocop:0.74.0 rubocop-rails rubocop-github:0.13.0

**Describe alternatives

[2020-06-19 03:35] ahmadnassri commented on #166
came here for this ... while I love _teh internetz_, I don't want it all installed every time the action runs ... especially if we're paying per minute.

great job otherwise! love this!

[2020-06-19 05:25] Resurr3ction commented on #135
Few notes about using clang-tidy (that I fully support):

- One requirement of the clang-tidy is that it needs compilation database (to work out all the includes). Therefore C++ super-linter might require a bit more setting up than for other languages.
- The code must be actually compilable with Clang. That is often not the case if the given source code targets for example only Windows and use MSV

[2020-06-19 05:34] zkoppert commented on #164
Since GitHub already has secret scanning on its way, I’m thinking that this might not be a high value add.

[2020-06-19 06:17] WyriHaximus commented on #122
Doesn't matter anyway. Just had a good look at how the linter works and it checks file by file so it can't even utilize the parallelization :(.

[2020-06-19 07:03] andymantell commented on #166
Maybe as an alternative you could push a built docker image up to GitHub packages and use that? Rather than building the container every time (Which took 5m 22s on the last run I tried).

[2020-06-19 07:11] danielbayley opened #169 "Use eslint-plugin-coffee over coffeelint?"
**Is your feature request related to a problem? Please describe.**
_coffeelint_ is somewhat outdated.

**Describe the solution you'd like**
[eslint-plugin-coffee](https://github.com/helixbass/eslint-plugin-coffee) is a better way to lint CoffeeScript files, especially since this project already uses _eslint_. See more of the why [in the README](https://github.com/helixbass/eslint-plugin-coffee#why

[2020-06-19 07:22] prisis opened #170 "Deno typescript support"
**Is your feature request related to a problem? Please describe.**
Missing linter support for [deno](https://github.com/denoland/deno)

**Describe the solution you'd like**
Add deno lint and deno fmt --check

**Describe alternatives you've considered**
N/A

**Additional context**
N/A

[2020-06-19 08:16] muenchdo commented on #166
Interestingly in the [announcement blog post](https://github.blog/2020-06-18-introducing-github-super-linter-one-linter-to-rule-them-all/), it actually pulls the image instead of building it:

![super-linter-in-action](https://github.blog/wp-content/uploads/2020/06/super-linter-in-action-2.png?resize=1024%2C819?w=1990)

[2020-06-19 09:10] hazcod commented on #151
And more interestingly, be able to comment on pull requests like [reviewdog](https://github.com/reviewdog/reviewdog) does.

[2020-06-19 10:16] Drunpy opened #172 "Rust support"
**Possible linters:**

- [~rustfmt~](https://github.com/rust-lang/rustfmt)

- [clippy](https://github.com/rust-lang/rust-clippy) (suggested by @oblique)

[2020-06-19 10:20] sschuberth commented on #107
Note that *detekt* can [make use of](https://github.com/detekt/detekt#adding-more-rule-sets) *ktlint*, so if only adding support for either one it's probably preferable to add support for *detekt*.

[2020-06-19 10:50] italolelis commented on #166
What I'm doing at the moment is pulling the image like this:

[code]

It takes about 40s to pull the image. It's not pretty, but it does the job.
Maybe as a temporary solution if anybody is interested.

[2020-06-19 10:53] andymantell commented on #166
Just found this commit:

https://github.com/github/super-linter/commit/eb9f7498f852c6659e78fd92f8e2d14f8a62efc6

Which switches from building from the repository to using the docker image. However the commit was made _after_ the v2.0.0 release (See https://github.com/github/super-linter/releases/tag/v2.0.0)

So this should be fixed when they next make a release by the looks of things.

[2020-06-19 10:58] DDtKey opened #173 ".env support"
I think the `.env` file linter would be a good addition to `super-linter`

**_Possible linters:_**
- https://github.com/dotenv-linter/dotenv-linter/ (has own [GitHub Action](https://github.com/marketplace/actions/run-dotenv-linter-with-reviewdog))
- https://github.com/wemake-services/dotenv-linter (has own [GitHub Action](https://github.com/marketplace/actions/dotenv-linter))

[2020-06-19 10:59] marbar3778 opened #174 "linter config files should not live in ./github"
**Is your feature request related to a problem? Please describe.**
Currently, in the documentation it states that the linter config files should live in `.github/linters`.

This will cause some applications to have two config files. Many applications ship commands to run linting, for example in most go projects I have worked on you run `make lint`, this runs golanci-lint. Golangci-lint looks for a

[2020-06-19 11:00] mvolkmann opened #175 "Prettier for JavaScript and TypeScript"
IIUC, super-linter uses ESLint and Standard to format JavaScript and TypeScript code rather than Prettier. I think many developers will have an issue with this. Despite the name, Standard is not a standard. It's developers just gave it that name. For the past few years the trend has been to use ESLint only to check for issues and to use Prettier for formatting.

Most developers will be fine with m

[2020-06-19 11:47] oblique commented on #172
rustfmt only checks the formatting. A good Rust linter is [clippy](https://github.com/rust-lang/rust-clippy).

[2020-06-19 11:49] TDaglis opened #176 "CloudFormation support"
**Is your feature request related to a problem? Please describe.**
`super-linter` currently does not support CloudFormation linting

**Describe the solution you'd like**
CloudFormation linting support can be added by utilizing [cnf-lint](https://github.com/aws-cloudformation/cfn-python-lint) and/or [cnf_nag](https://github.com/stelligent/cfn_nag)

[2020-06-19 11:50] TDaglis commented on #176
Just noticed it's a duplicate of #136
Closing

[2020-06-19 11:50] #176 closed

[2020-06-19 12:04] DDtKey commented on #172
Duplicate #108

[2020-06-19 12:07] plata opened #178 "Automatic code review in pull requests"
**Is your feature request related to a problem? Please describe.**
From my current understanding, the super linter results are reported only in the action result. The visibility could be better.

**Describe the solution you'd like**
Create a code review (e.g. like reviewdog).

**Describe alternatives you've considered**
Using reviewdog actions directly.

[2020-06-19 12:08] #172 closed

[2020-06-19 12:54] wooorm commented on #116
As the maintainer of alex, I would suggest caution in turning it on for everyone. (Changing) language is a delicate problem, and the tool isn’t very delicate

[2020-06-19 13:11] dickiesanders opened #179 "Add directory/file ignore support to option"
**Is your feature request related to a problem? Please describe.**
Currently, the RUN_LOCAL option only supports linting of an entire directory or file.

**Describe the solution you'd like**
It would be useful to have a **.ignore** or **.lintignore** file, similar to _.dockerignore_ or _.gitignore_ files, where a user can list files and folders to ignore in a large multi-language repo/project.

[2020-06-19 14:24] GaboFDC commented on #174
Related to https://github.com/github/super-linter/issues/148

[2020-06-19 14:25] GaboFDC commented on #161
Related to https://github.com/github/super-linter/issues/148

[2020-06-19 14:52] caitlinelfring commented on #174
I was able to work around this without moving the files by creating a symlink into `.github.linters`. The super-linter seems to pick it up. It's a good enough workaround for now, I think

[code]

And in the super-linter logs (running locally):
[code]

[2020-06-19 15:00] #149 closed

[2020-06-19 15:28] StalkAltan commented on #142
Hi @antleblanc!

I PRed this fix and it has been merged in #185. It only supports the base CSS linting, but someone else could take a look at my PR and easily add SCSS support if they needed it.

[2020-06-19 15:29] zkoppert commented on #166
Yeah we just [updated documentation](https://github.com/github/super-linter/pull/187) to reflect pulling the completed image instead of building it. Thanks @andymantell @italolelis @muenchdo @ahmadnassri for chiming in and helping as well as @mathiasrw for catching the issue! Keep contributing! ❤️

[2020-06-19 15:29] #166 closed

[2020-06-19 15:41] gobijan opened #188 "Ruby: Switch from RuboCop to StandardRB"
The beauty of Ruby Standard Style is that it's simple. No one wants to maintain multiple hundred-line style configuration files for every module/project they work on. RuboCops defaults are not that complete.

Under the hood standard uses RuboCop but with saner community defaults that are not customized by GitHub only.
In my opinion using standard better match the philosophy of this project.

https

[2020-06-19 16:08] programatt commented on #150
I'm giving it a shot. https://github.com/github/super-linter/pull/189

[2020-06-19 16:12] drewish commented on #145
#152 was merged so seems like this could be closed.

[2020-06-19 16:16] jdyke commented on #145
Let me take a look. I tried earlier today and it was still failing even w/ the env var set:

[code]

`/usr/bin/docker run --name githubsuperlinterv200_ef3398 --label 3888d3 --workdir /github/workspace --rm -e VALIDATE_ALL_CODEBASE -e VALIDATE_PYTHON -e DEFAULT_BRANCH`

[2020-06-19 16:18] admiralAwkbar commented on #157
This is a great question!
I know we have had to add the lines like below before...
[code]
But I think it may stem from where the linter actually runs, like directory wise...
I need to do some more testing to help understand this...
I know there is a way to tell it where to find the import like: `import click # pylint: import-path: /tmp/here` or something like that but can't find the documentation.

[2020-06-19 16:19] jdyke commented on #145
Looks like #160 is what merged this code into `master`

I just failed again - is anyone able to get this working? Here is my linter.yml

[code]

[2020-06-19 16:34] Apreche commented on #145
I have a yml basically identical to what @jdyke has and am getting the same pathspec error.

[2020-06-19 16:38] jdyke commented on #145
I assumed the new docker image wasn't published yet and was going to give it a couple hours before commenting but I didn't want this to get closed.

[2020-06-19 16:43] guikcd commented on #136
I've started to work on this on my fork [here](https://github.com/guikcd/super-linter/tree/cfn-lint).
Please note that it is WIP :)

[2020-06-19 16:47] fafnirical commented on #122
#129 looks like a great foundation for PHP that I think we could build from. `php -l` performs only syntax checking, while many of the other linters in this project run both syntax and stylistic checks

[2020-06-19 16:55] Hanse00 commented on #145
Using `docker inspect` to see the environment variables exposed by the various versions, I can tell that `github/super-linter:latest` contains the changes above, `github/super-linter:v2.0.0` does *not*.

I'm going to defer to @zkoppert and @admiralAwkbar on what their process is here. You could probably update your yaml file to use latest, or they might have a specific versioning strategy in mind.

[2020-06-19 17:01] Acelator opened #190 "Repository name must be lowercase"
I'm trying to configurate Super-linter in my Github Repo [(This one)](https://github.com/acelator/viper) but I get a error that says
`invalid reference format: repository name must be lowercase`

I have changed my repo name to delete "_" and Capital leters but it still gave me the same error. I have even changed the name set in my package.json. I don't know which name isn't lowercase

[2020-06-19 17:29] jdyke commented on #145
Switching to latest gives an error:
[code]

[2020-06-19 17:31] BrentMifsud commented on #127
Apple also has their own linter: https://github.com/apple/swift-format

[2020-06-19 17:40] zkoppert commented on #145
We need to put some automation behind versioning. I will try to cut a new release version later today.

[2020-06-19 17:58] #138 closed

[2020-06-19 18:19] Hanse00 commented on #145
@zkoppert Do you think the error by @jdyke above has to do with how we release this? Or is it a code bug?

It's a little hard since I cannot test the changes that require the container to run in the context of a GitHub Action. Don't know if we have a solution to that :)

[2020-06-19 18:19] #173 closed

[2020-06-19 19:04] bakkot commented on #175
In support of this, here's a screenshot from npmtrends.com.

I've included [eslint-config-airbnb](https://github.com/airbnb/javascript) as another point of comparison, which is a more general linter than prettier (i.e. it includes code quality checks as well as just formatting). I think either of those would be reasonable choices, from the graph; standard would not.

![Screen Shot 2020-06-19 at 12

[2020-06-19 19:09] zkoppert commented on #145
@Hanse00 We just cut a new release so we could have @jdyke try that out first and see if the issue persists. Then we can debug from there if needed.

[2020-06-19 19:18] mvolkmann commented on #175
This chart also shows that interest in code formatting drops significantly around the holidays. ;-)

[2020-06-19 19:34] jdyke commented on #145
@zkoppert what would you like me to point to?

[code]

[2020-06-19 19:38] zkoppert commented on #145
Yeah that will work as well as calling out v2.1.0

[2020-06-19 19:47] jdyke commented on #145
Here is what I see:

[code]

You can see the results here:
https://github.com/ScaleSec/gcp_api_key_inventory/pull/3/checks?check_run_id=789267373

[2020-06-19 20:05] Hanse00 commented on #145
@jdyke Could you add `ACTIONS_RUNNER_DEBUG=true` to your configuration?

[2020-06-19 20:11] jdyke commented on #145
Sure thing,

https://github.com/ScaleSec/gcp_api_key_inventory/pull/3/checks?check_run_id=789354262

[2020-06-19 20:23] ConradSollitt commented on #122
Personally for PHP I'm in favor of using the submitted `php -l` option over the other popular linters by default. Or if supporting multiple linters at least include the `php -l` option. I do see this project allows for multiple linters per language.

The reason is because PHP linters feel very opinionated to me compared to linters in other languages (particaullary JavaScript) and result in a lot o

[2020-06-19 20:25] zkoppert opened #201 "Keep dependencies up to date"
How can we automate this project staying up to date with the latest stable version of the linters it references?

Minimally cool: Alert or issue created every time we need to update a version of a linter
Maximally cool: Automatically open a PR to rev the version once a stable release from a linter is available

[2020-06-19 20:34] ondrejmirtes commented on #122
PHPStan on higher [rule levels](https://phpstan.org/user-guide/rule-levels) finds valid issues from the type system point of view. If it says `Cannot call method foo() on Bar|null` then you might have a potential bug when the method callee is a null value and not the expected object.

But on lower rule levels it aims to find only 100 % crashing bugs in the analyzed codebase. So the recommended app

[2020-06-19 20:40] GaboFDC commented on #201
Of the top of my mind, I think a middle ground between both would be leverage dependabot in some way.

Something strange but that may work would be, putting the package file, for the dependencies we have, i.e: Gemfile for the gems we install, pipfile/requirements.txt for the python packages, package.json for js, etc. This way dependabot would detect the update and create PRs for them. The config o

[2020-06-19 20:41] JustinGrote commented on #109
I'm working on it at https://github.com/github/super-linter/pull/199

[2020-06-19 20:47] WyriHaximus commented on #122
And this is why I only started syntaxt, because the other "linters" listed are more then just linters. They are static analysis tools, code style checks, and other quality assurance tooling. Which is awesome to add, but comes with a ton of configuration each. I'll leave it up to this project if that is desired or not, if it is, we can easily add all of them and only trigger when their configuratio

[2020-06-19 20:47] zkoppert commented on #201
☝🏻 I think that is a great idea!

[2020-06-19 20:48] GaboFDC commented on #134
Seems like the specific version was set back in https://github.com/github/super-linter/pull/56 but is not specified why. Also in https://github.com/github/super-linter/pull/101 it was necesary to do some extra fixes to maintain the old version, and in the comments is said to maybe update in the future.

@Hanse00 @admiralAwkbar @zkoppert is there a reason for the specific rubocop version? if not I'

[2020-06-19 21:16] GaboFDC commented on #201
I'm willing to give this a shot. Just a question before I start, should all be one change?
Or should I split it into Change to use package files and then setup dependabot?

[2020-06-19 21:45] zkoppert opened #203 "Make writing changelogs easier"
**Is your feature request related to a problem? Please describe.**
Running through git logs or closed pull requests is not ideal as its manual.

**Describe the solution you'd like**
Use something like [release drafter](https://github.com/apps/release-drafter) to help draft the releases so we can just review for accuracy.

**Describe alternatives you've considered**
- https://github.com/marketplace

[2020-06-19 21:49] ConradSollitt commented on #122
@ondrejmirtes Thanks for the feedback and great job on PHPStan. I ended up using it on a somewhat large PHP project that I wrote over 6 years https://github.com/fastsitephp/fastsitephp and later I plan on documenting the process and how it works more in the future but basically the project was already created with extensive unit testing before I added the PHP linting so I carefully compared all po

[2020-06-19 22:32] essenmitsosse opened #204 "Clearify what is the intended workflow for using Super Linter locally"
Coming from [ESLint](https://github.com/eslint/eslint) my workflow is kind of like that (super simplified), if you clone a repo, that is setup with ESLint, here is basically what you have to do:

- `npm install`
- `npm run lint` (or whatever it is called)

Something as simple as this doesn`t seem to be possible with Super Linter for obvious reasons, because you would have to setup the docker conta

[2020-06-19 22:38] Hanse00 commented on #145
Okay so far I've found:

* The error is present in v2.1.0, but not v2.0.0.
* The error messages from awk are presented no matter if the default branch is switched, in fact none of the environment variables need to be present for the errors to be presented (I've tried with `VALIDATE_ALL_CODEBASE` on and off, and with a few different combinations of other variables.

At this point I'm not confident

[2020-06-19 22:51] Hanse00 opened #205 "Is bash the right language?"
I'd like to bring this up for consideration are a general question. I understand there are pros and cons of any language, this isn't so much an academic debate, as a practical consideration.

Pros for bash:
* The code is already written in bash, duh.
* Relatively simple and lightweight

Cons for bash:
* Gets harder to manage as the complexity grows
* Relatively hard to test

At the end of the day,

[2020-06-19 22:52] fafnirical commented on #175
I think the combination of both ESLint _and_ Prettier, via [`eslint-config-prettier`](https://github.com/prettier/eslint-config-prettier) and [`eslint-plugin-prettier`](https://github.com/prettier/eslint-plugin-prettier) would work well. The ESLint configuration could extend both `plugin:prettier/recommended` and `prettier/@typescript-eslint`

[2020-06-19 23:14] Hanse00 commented on #145
Finally figured out the issue, the new additions of ENV and CSS listing were missing some closing curly brackets :) That should be fixed once #206 is merged in.

[2020-06-19 23:42] fafnirical commented on #122
This project's [stated goals](https://github.com/github/super-linter/blob/05bee1daf89734fb8af82ea3755a68ed55d7c004/README.md#L5-L9) are:
1. Prevent broken code from being uploaded to the default branch
2. Help establish coding best practices across multiple languages
3. Build guidelines for code layout and format
4. Automate the process to help streamline code reviews

`php -l` handles the first g

[2020-06-19 23:53] hyjkim commented on #178
Some useful references to implement this feature:

https://developer.github.com/v3/checks/runs/#annotations-object-1
https://github.com/actions/toolkit/blob/master/docs/commands.md#problem-matchers
https://github.com/actions/toolkit/blob/master/docs/problem-matchers.md

[2020-06-20 00:02] GaboFDC commented on #178
I think this is duplicated of https://github.com/github/super-linter/issues/151

[2020-06-20 01:22] minter opened #207 "uninitialized constant RuboCop::Cop::Performance::Count::SafeMode with default configuration"
**Describe the bug**
I created a `.github/workflows/linter.yml` file in my Rails 6.0.3.2 project. I used the boilerplate from the super-linter documentation.

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Add linter.yml to codebase
2. Create pull request
3. Observe failures in the GitHub Action
4. For every Ruby file in the project, the error is as follows:
[code]

**Expected behavi

[2020-06-20 01:22] t0rr3sp3dr0 opened #208 "Should Support *-lint.yaml Files"
**Describe the bug**
`.yaml` is the official extension for YAML files (https://yaml.org/faq.html), then configuration files must either enforce it or at least allow its use. Creating a `.yaml-lint.yaml` or any other `*-lint.yaml` doesn't work on current implementation. Some projects have guidelines and lint configurations that forbid use of the `.yml` file extension, thus not allowing a `.yaml-lin

[2020-06-20 01:42] ConradSollitt commented on #122
Great input @fafnirical and examples on how popular php frameworks use different linters.

I think reasons like this (wide use of different linters and PHP Static Analysis Tools) are valid reasons that all could be supported as an option here. Currently JavaScript supports two linters with this project so supporting multiple linters is a valid option at least.

[2020-06-20 03:19] zkoppert commented on #105
Resolved today during pair programming.

[2020-06-20 03:19] #105 closed

[2020-06-20 03:24] kkweon commented on #204
+1 Please add a documentation on how to run it locally. There could be a discrepancy in versions or configs. Running a local linter could cause a trouble.

[2020-06-20 03:26] essenmitsosse commented on #204
[There already is one](https://github.com/github/super-linter/blob/master/docs/run-linter-locally.md), but it seems to be more for debugging super linter, then to actually use it everyday in a project.

[2020-06-20 03:34] wangkuiyi commented on #179
I second @dickiesanders . It would look good to me if super-linter reuses `.gitignore`.

[2020-06-20 04:02] zkoppert commented on #204
Currently my workflow is to commit and push often to a pull request and let the ci do its thing while I keep working. I would be open to suggestions on how we might accommodate more local use if it could integrate nicely. Have to spend some time brainstorming that.

[2020-06-20 04:38] WToa commented on #207
Having the same issue as well ⬆️

[2020-06-20 05:12] WToa commented on #207
I added a `.ruby-lint.yml` with:

[code]

And now I'm not receiving the `RuboCop::Cop::Performance::Count::SafeMode` errors, not sure why I need this file, was assuming that it would work out of the box without it

[2020-06-20 05:33] zkoppert commented on #201
I think it could all be one pull request. Thanks for taking this on! Let me know if I can give any support along the way.

[2020-06-20 05:42] zkoppert commented on #145
Merged #206 but will have to wait for @admiralAwkbar to cut a new release.

[2020-06-20 08:12] plata commented on #178
It's quite similar, yes. I will leave the decision if it should be tracked in one issue to the devs, though. If yes, feel free to close this.

[2020-06-20 09:21] karfau opened #212 "Running locally seems to be "broken""
**Describe the bug**
when running the super-linter locally as described [here]() it reports a success but it didn't lint anything.

**To Reproduce**
Steps to reproduce the behavior:
[code]

**Expected behavior**
- I expect the step "Gathering user validation information` shouldn't fail locally. (Should it even be executed?)
- If it does the container should either exit or at least report that some

[2020-06-20 11:54] admiralAwkbar commented on #145
@zkoppert I can make a 2.1.1 right now, should we back Port this into 2.0.0 and 2.1.0?

[2020-06-20 12:28] admiralAwkbar commented on #145
@zkoppert just pushed `v2.1.1` with the fix

this has to do with the release and how we test. I will spend some time on this next week to update... my bad for the miss on this

[2020-06-20 12:33] kachkaev commented on #175
Including standard js into Super Linter in 2020 feels an odd decision 🤔

Some info no problems it may cause (especially to coding newcomers):
https://medium.com/@WebReflection/an-open-letter-to-javascript-leaders-regarding-no-semicolons-82cec422d67d

Prettier v2 with its standard config in conjunction with ESLint is a much better solution.

[2020-06-20 13:37] essenmitsosse commented on #204
I think the major difference is how immediately you want feedback. For me a linter is not just supposed to make sure no low-quality code is submitted, its purpose is also to help me get readable code right as I write it, as well as give instant feedback for errors like missing variables. I have a shortcut in the IDE, that formats the whole file I am working on. This way I can just hack down code a

[2020-06-20 13:52] Apreche commented on #145
I can confirm that 2.1.1 fixes the problem.

[2020-06-20 14:19] admiralAwkbar opened #215 "Bump @Hanse00 access to Triage"
Bumping access rights from `read` to `triage` for user @Hanse00 :)
Thank you for all the help :)

CC: @zkoppert

[2020-06-20 14:20] admiralAwkbar commented on #215
![](https://media.giphy.com/media/CL3XvCSPnAVYA/giphy.gif)

[2020-06-20 14:21] #215 closed

[2020-06-20 15:19] #145 closed

[2020-06-20 16:22] Hanse00 commented on #212
Hey @karfau! The `awk` error messages you were seeing were fixed in version v2.1.1.

Can you try again with that version, and let us know if you’re still seeing any issues?

Thanks!

[2020-06-20 16:35] Hanse00 commented on #208
Great point @t0rr3sp3dr0 :)

Currently the linter.sh file hardcodes the acceptable filenames in [lines 14 through 53](https://github.com/github/super-linter/blob/master/lib/linter.sh#L14-L53).

We could either update these filenames to end on the .yaml extension, or code in some logic to permit for either extension to be used.

The first would be easier of course, the second seems to me like the r

[2020-06-20 16:38] Hanse00 commented on #116
I like the idea here, but I think we need to make sure we've thought the approach through. It's going to be important we get it right.

[2020-06-20 17:13] Hanse00 commented on #190
Hey @Acelator!

I copied your linter.yaml file, found at: https://github.com/Acelator/viper/blob/d7481650379a7a0d28db228df7e59c02ed82debf/.github/workflows/linter.yml, and tried to use it in my own test project.

I do indeed get the same error message:
[code]

It's worth noting this error is coming from docker, as it tries to start the linter, not the linter itself.
I did however not have any issu

[2020-06-20 17:26] Acelator commented on #190
Thanks, I delete the white space in ```ACTIONS_RUNNER_DEBUG``` and its appear to be working.

[2020-06-20 17:26] #190 closed

[2020-06-20 18:11] karfau commented on #212
Well yes, but even when mapping my typescript source directory there is still no indication that it linted any file.
Would it be a good idea to either indicate how many files it found or even change the message to "No files found for linting" when this is the case?

[2020-06-20 18:11] fulldecent opened #218 "Too hard to install"
Expected to install in one-click.

I clicked.

Instead it told me something about .yml.

I don't care about .yml, what I care about is linting my team's code.

<img width="1250" alt="Screen Shot 2020-06-20 at 14 09 34" src="https://user-images.githubusercontent.com/382183/85208586-bae20280-b2ff-11ea-895c-17057639cfce.png">

<img width="1250" alt="Screen Shot 2020-06-20 at 14 09 37" src="https://us

[2020-06-20 18:32] minter commented on #207
@WToa Did you put `.ruby-lint.yml` in the root of the project, or in the `.github` directory?

I put it in my project root and got the same error.

[2020-06-20 19:03] zkoppert commented on #218
Thanks for sharing your path to installing and the difficulty you’ve had. I can provide some context here that might make things more clear and then perhaps we can explore improving the experience for others by improving our documentation.

This repository is designed to be a GitHub Action. Essentially that means that with a specially named .yaml file then GitHub provide the infrastructure and aut

[2020-06-20 23:24] WToa commented on #207
@minter I placed the file inside: `.github/linters`

[2020-06-20 23:57] mehagar opened #219 "Support option to only report lines that have changed"
When linting files, it can be frustrating for a developer editing a file to have to fix all linting rules when they just edited one line.

I'd like for there to be an option to only report errors on lines that have changed.

[2020-06-21 02:40] r35krag0th commented on #212
I don't see a release for 2.1.1.

[2020-06-21 07:18] quackduck opened #222 "Java Support"
I would like lint support for Java

Common Java linters:
1. Checkstyle
2. FindBugs
3. PMD
4. Error Prone

I have not tried these. Actually, I've never used a linter before

[2020-06-21 07:45] lilmnm-kamikaze- commented on #218
I think having an entry in the docs on "how-to-install.md" the linter will help greatly so added information doesn't crowd the readme.md. In the readme.md there is kinda already an example in the ["How to use"](https://github.com/github/super-linter#example-connecting-github-action-workflow) section.

I have not tested that process yet as I am waiting for PHP support to be added. From what i have

[2020-06-21 08:36] prmph opened #223 "Documentation Unclear about Use for Pull Requests"
This is a request for clarification and also possibly a bug report. My experience trying this action leaves me thinking the docs are unclear about several things.

This is my .yml:
[code]

I got the following error on the "Lint Code Base" step while running it:

[code]

I have enabled this action on **any** pull request. Is this not a supported scenario? The docs are unclear about it. If is is sup

[2020-06-21 09:51] VladimirMikulic opened #225 "Lint files in specific directories only"
**Is your feature request related to a problem? Please describe.**
I would like to be able to lint my `src` directory only, not `test` or any other directory.

**Describe the solution you'd like**
This could be an option in ENV:

[code]

As you can see in the example, this could be further improved by accepting wild cards.

**Describe alternatives you've considered**
I haven't found any alternativ

[2020-06-21 17:47] Almenon commented on #205
A 2k+ line bash file is definitely going to scare off some newcomers.

[2020-06-21 17:51] Almenon opened #226 "Black python linting"
**Is your feature request related to a problem? Please describe.**
My work uses [black](https://black.readthedocs.io/en/stable/) linting but it's not available in the superlinter

**Describe the solution you'd like**
A option to use black for linting.

**Describe alternatives you've considered*
A generic way to specify a executable/program to use for linting. There are a tons of linters and I'm as

[2020-06-21 18:01] GaboFDC commented on #204
I think you are seeing super-linter as just a linter for any language, which this is not. Super-linter is a wrapper that under the hood uses the most popular linter for each language/file, intended to be used as a GitHub action, so you can have only one action to lint everything, instead to having to setup each of the used linters actions and maintain all of them.

[2020-06-21 18:06] GaboFDC commented on #218
I think the gifs are a nice extra, but on the readme ["How to use"](https://github.com/github/super-linter#example-connecting-github-action-workflow) that you linked is clearly stated that:

And there is a full example of the whole file. So I think the questions about where the yml it is located and a starting configuration are provided already

[2020-06-21 18:07] zkoppert opened #228 "Consider using check-spelling action"
We seem to have a tendency to introduce spelling errors. We might consider adding https://github.com/marketplace/actions/check-spelling

[2020-06-21 18:13] GaboFDC commented on #226
The problem here is that allowing *any* linter, would need also a way to install such a linter. And with the huge amount of linters there is, it will be difficult to know exactly how to install the linter defined by the user.

One option would be to have a set of pre-defined linters for a language and let the user choose from the set, but this will also scale in a pretty costly way.

[2020-06-21 18:24] GaboFDC commented on #228
Should this be a separate workflow? I have doubts if it could be along the `stack-linter.yml` workflow

[2020-06-21 18:25] Almenon commented on #226
Maybe https://github.com/replit/upm would help?

[2020-06-21 19:37] guikcd commented on #222
I think you can close this issue; there is another one here: https://github.com/github/super-linter/issues/115

[2020-06-21 20:07] zkoppert commented on #228
Separate workflow is good with me.

[2020-06-21 20:09] zkoppert commented on #205
I’d be interested to hear some suggestions on a language that could provide some benefit to the maintainability aspect.

[2020-06-21 20:14] BroderPeters opened #230 "Provide simple pull request checks"
**Is your feature request related to a problem? Please describe.**
While reviewing or even writing a pull request it would help to have some simple default checks in place which confirm that the changes are working.

**Describe the solution you'd like**
An example would be to have a simple check which tries to build the dockerfile.

**Describe alternatives you've considered**
Alternative could be

[2020-06-21 20:24] Hanse00 commented on #205
I have a personal bias towards Python, mostly based on years of experience. It does have pretty solid unit testing capabilities, and some of the code duplication we’ve done so far, could easily be replaced with looping constructs. Calling out to shell commands is easy enough with the standard libraries too.

That’s just one suggestion though, I’m happy to hear others as well.

[2020-06-21 21:01] bbaassssiiee opened #232 "Suggestion: use Perlcritic for perl"
Perlcritic has 5 levels of code quality, with a reference manual behind it: Perl Best Pracices, from O'Reilly publishers.

[2020-06-21 22:56] lilmnm-kamikaze- commented on #218
Very true. As the user that opened the issue stated when you click the "Use latest version" button in the marketplace it just says to place it in your .yml. New users would just click that button and not scroll down the page and see the "how to use" section.

[2020-06-21 23:08] Almenon commented on #205
Typescript is easy to work with ala python with the additional benefit of having a great type system. However the people probably interested in this project (devops) would be more likely to have experience with python.

How much is speed a concern for this project? How long does it take to run super-linter against a big monolith project, disregarding the time it takes for the linters themselves? H

[2020-06-22 01:46] nhattan opened #234 "Super linter does not respect .ruby-lint.yml"
**Describe the bug**
I followed [this doc](https://github.com/github/super-linter/blob/master/docs/disabling-linters.md#ruby) creating `.github/linters/.ruby-lint.yml` with the following content but Super linter is still checking the excluded directories

[code]

My `linter.yml`
[code]

**Expected behavior**
Super linter should skip checking the excluded directories.

**Screenshots**
<img width="1

[2020-06-22 02:02] GaboFDC commented on #234
I think this is because the script logics, runs rubocop against every single file? not sure what would be the way to fix this 🤔

[2020-06-22 02:18] nhattan commented on #234
@GaboFDC script logics?

[2020-06-22 03:49] quackduck commented on #222
You are right. Sorry for making a duplicate issue. Thanks!

[2020-06-22 03:49] #222 closed

[2020-06-22 09:27] PatilShreyas opened #236 "Support for Kotlin"
**Is your feature request related to a problem? Please describe.**
It's not related to any problem. It's related to support for more programming language i.e. [Kotlin](https://kotlinlang.org).

**Describe the solution you'd like**
Kotlin has [ktlint](https://github.com/pinterest/ktlint) support for lint checking. It would be great if it's implemented in this project.

**Describe alternatives you'v

[2020-06-22 10:48] coliff opened #237 "HTMLHint for HTML"
**Is your feature request related to a problem? Please describe.**

HTML is not linted currently

**Describe the solution you'd like**

HTMLHint is a great HTML linter with a[ wide-range of useful rules](https://htmlhint.com/docs/user-guide/list-rules) and can be run from CLI. Would be happy to see it added to super-linter.

**Describe alternatives you've considered**
A clear and concise descripti

[2020-06-22 12:13] orbitcowboy commented on #135
Please add support for Cppcheck as well

[2020-06-22 12:30] admiralAwkbar commented on #134
@mchusma @GaboFDC We set it to match the internal versions we use on the backend of GitHub, but I do agree, it's getting older...
We need to look at the default rules set in `github-rubocop` and see what changes need to be made, and how we can make sure this doesn't cause massive listing issues for Ruby when changed.

[2020-06-22 12:35] admiralAwkbar commented on #237
@coliff I like it, can you try to put together a PR with the proposed changes?

we have a wiki on all the changes needed :)

https://github.com/github/super-linter/wiki/Adding-new-language-support

[2020-06-22 12:36] admiralAwkbar commented on #169
@danielbayley I see we had pushed a PR that updated the coffeelint to the `@coffeelint/cli` which was newer and more up to date library... is that ok? Or is the eslint a more complete update?

[2020-06-22 12:37] admiralAwkbar commented on #236
This looks like it's in the works at #224

[2020-06-22 12:39] admiralAwkbar commented on #232
@bbaassssiiee I like it, right now, we're just using the old fashioned way, and this seems to be a more complete way to do it...
Would you like to create a PR and give it a shot?

We have a wiki on how to do it as well :)
https://github.com/github/super-linter/wiki/Adding-new-language-support

[2020-06-22 13:31] patcon commented on #223
I hit a similar assumption of `bundlewatch` ecosystem, tat proved false. If it's similar, I would assume that `on: push` would work instead of `on: pull_request` (and push should still shows up as a check within PRs)

[2020-06-22 13:55] IAmHughes commented on #178
I'll let @admiralAwkbar make the final decision, but I'm comfortable closing this in favor of #151. Checks UI would help raise awareness outside of an action run workflow log, and maybe in the future we can look into implementing automatic PR suggestions (though that could be quite a bit more complex).

[2020-06-22 14:39] juanvillegas commented on #223
@prmph I believe you need to set the DEFAULT_BRANCH environment variable to whatever the Pull Request target is: `github.base_ref`.
See here: https://help.github.com/en/actions/reference/context-and-expression-syntax-for-github-actions#github-context

My doubt is, what should I use when someone opens a Pull Request and then pushes to that PR? In that case, the github.base_ref is null as the event

[2020-06-22 15:41] nemchik commented on #205
I can't make the argument that bash is the best option, or that any other suggestion is any less valid than what I'm about to say, but I wanted to chime in on the maintainability consideration with bash.

Just by looking over the repo and making my first PR my opinion is that maintainability could be improved by splitting out the functions in some of the larger script into separate files. Here is

[2020-06-22 15:42] mit-mit commented on #120
Hi @cvega are you working on this? If so, I'm on the Dart team, and I'm happy to help with any questions you might have.

[2020-06-22 18:59] tom-halpin opened #243 "ShellCheck for bash"
wondering how to configure the shellcheck linting for bash rather than posix

normally I would run something like the following

shellcheck --shell=bash file.sh

[2020-06-22 19:00] Hanse00 commented on #153
This is definitely an interesting idea.

If we are to take the announcement literally: "Introducing GitHub Super Linter: one linter to rule them all", then you are right, that for this linter to be applicable to all projects, we must allow for people to use it despite which language and library versions they are depending on.

However it's not a trivial feature to implement, I see a few challenges

[2020-06-22 21:02] #107 closed

[2020-06-22 21:12] admiralAwkbar commented on #243
@tom-halpin  maybe the docs here can help?
https://github.com/koalaman/shellcheck

[2020-06-22 21:13] kevinfealey commented on #157
I came here looking for an answer to this same question - just wanted to bump it for visibility.

I had tried the following:
[code]
But I still get import errors.

[2020-06-22 21:15] tom-halpin commented on #243
@admiralAwkbar thanks I know how to do it using a custom action built around shellcheck using the --shell=bash option, just wondering if the super-linter configuration allows or supports command line options for the shellcheck linter

[2020-06-22 21:17] admiralAwkbar commented on #243
@tom-halpin makes sense! sorry!
I'm working on adding a `mapping.yml` file that will allow for additional customization and helping interesting cases.
Likely this would be addressed doing that...

Sorry for the wait on it

[2020-06-22 21:17] admiralAwkbar commented on #236
Looks like this was merged!

[2020-06-22 21:17] #236 closed

[2020-06-22 21:20] admiralAwkbar commented on #218
All great feedback and we're open for PR's and it always helps to hear from outside of the circle on how it looks, feels, and is used. Sometimes we're too close to it, and can't see the use cases :)

[2020-06-22 21:21] admiralAwkbar commented on #205
At some point, making this a few bash scripts is the right answer... When it was started, it was very small and made sense... Now its a bit bigger and needs to look at framework and maintainability.

[2020-06-22 21:33] dmitri-lerko opened #247 "Super-Linter Build step feels slow"
Hello!

I've eagerly setup Super-Linter and found that it is by far slowest GitHub Action that I run against my PR.

`Build github/super-linter@v2.0.0` step has taken 4m 27s to complete.

My GitHub Action defined as follows:

[code]

Is there anything that I am doing wrong?

Are there any suggestions on how I can make it go faster?

[2020-06-22 21:40] Hanse00 commented on #247
Hey there!

Check out the bottom note at: https://github.com/github/super-linter#example-connecting-github-action-workflow, namely:

It's time a while, because you are building the container yourself, instead of using the published image 😄

[2020-06-22 21:49] dmitri-lerko commented on #247
Hey @Hanse00 ,

Thank you for the prompt reply. I've run it with the docker image and it only took 37s. Dramatic improvement. Also 👎 to me for not reading README properly

Feels like docker image should be presented as a default option here.

[2020-06-22 22:23] #247 closed

[2020-06-23 04:36] nemchik commented on #201
Just a consideration, for any tool that maintains their own docker image you can use their image as a build stage in the docker image in this repo and copy the binaries you need from their image. An example of this would be shellcheck.

[2020-06-23 06:14] zkoppert commented on #109
merged https://github.com/github/super-linter/pull/238

[2020-06-23 06:14] #109 closed

[2020-06-23 09:45] sirReeall commented on #115
Java linting would be a great addition 👍

[2020-06-23 09:53] essenmitsosse commented on #204
Exactly, thats what my question for clarification was about. Would be great to hear to offical stance on this.

In that case I would definitely try to improve the readme, because from the name alone it sounds like its supposed to be an all-in-one solution, that replaces all individual linters.

Also if it's only supposed to be wrapper for CI, so I don't have to setup each and every linter, but the

[2020-06-23 10:36] danielbayley commented on #169
@admiralAwkbar coffeelint has been updated (kindly by @UziTech and others, including a few PRs from myself) to support existing projects using it. But [eslint-plugin-coffee](https://github.com/helixbass/eslint-plugin-coffee#why-does-this-project-exist) is a superior approach, as a plugin to the much more widely used ESLint, it uses the AST output from CoffeeScript, rather than the old tokens, and/

[2020-06-23 12:27] v1v opened #248 "Support different reporting format"
**Is your feature request related to a problem? Please describe.**
Support different reporting formats such as TAP, xunit, junit, csv, ...

**Describe the solution you'd like**
An env variable to set the reporting format from the default one called plain or something like that to the supported ones.

**Describe alternatives you've considered**
Building a parser for the current plain format as a po

[2020-06-23 13:38] IAmHughes commented on #204
@essenmitsosse thanks so much for this issue and questions/points you bring up.

I'll let @admiralAwkbar confirm, but I think the current posture is as follows:

- `super-linter` is a GitHub Action to allow a single action to cover all your linting needs in your CI pipeline
  - GitHub Actions are not something integrated into any IDEs in terms of running them locally, and therefore I think local r

[2020-06-23 13:55] stefdworschak commented on #179
This would be really useful!

[2020-06-23 13:56] admiralAwkbar commented on #204
@essenmitsosse great points. This was intended to follow the GitHub flow of opening a pull request early and pushing often.
This then allows for greater collaboration and helps make sure every change and fix is documented. We added some new variables to allow you to keep your rules files where they are, so you don't have to follow the one folder to rule them all approach...

But getting this to wo

[2020-06-23 14:52] #161 closed

[2020-06-23 14:54] GaboFDC commented on #201
@nemchik can you detail a bit more about how this copy from another docker image would work? I'm not quite sure I'm following your idea

[2020-06-23 15:06] nemchik commented on #201
Here is an example:
You create a build stage like this
https://github.com/linuxserver/docker-taisun/blob/ff8385e7f5cb07a7c3b07e400afd0c5fc1956515/Dockerfile#L1
You can name it whatever you want. Then you copy things from the build stage into a subsequent build stage or your final image https://github.com/linuxserver/docker-taisun/blob/ff8385e7f5cb07a7c3b07e400afd0c5fc1956515/Dockerfile#L106

This

[2020-06-23 15:28] nemchik commented on #179
This might be easily accomplished by using something similar to `git ls-tree -r HEAD` to list files. This would only bring in files NOT ignored by `.gitignore`.

[2020-06-23 15:32] GaboFDC commented on #201
Thanks, will also use this options for any tools that have its own docker image.

[2020-06-23 15:41] nemchik commented on #201
A key think to remember is this method is probably only useful if you are able to copy a single binary or small set of easily identifiable files. I would not use it for something that gets installed via pip or npm for example (the dependencies involved there are pretty heavy, and dependabot can keep pip and npm deps up to date in this repo anyway). Shellcheck is a perfect example of a binary that

[2020-06-23 15:52] nemchik commented on #243
@tom-halpin I think you're looking for https://github.com/koalaman/shellcheck/wiki/Directive#shell

If you have a shebang in the file you should not need to define `--shell=`. If you don't, or if you need to force a different shell you can add `# shellcheck shell=bash`.

Here are a few links that should be helpful to you:
https://github.com/koalaman/shellcheck/wiki/Recursiveness
https://github.com

[2020-06-23 16:25] UziTech commented on #169
I do believe `eslint-plugin-coffee` is great to use but there are still a few [rules](https://github.com/helixbass/eslint-plugin-coffee#migrating-from-coffeelint) that do not work in eslint that do in coffeelint.

It would be nice to have an option to choose which one to use.

[2020-06-23 17:49] tom-halpin commented on #243
@nemchik thank you using #!/bin/bash as the shebang resolved my issue.

[2020-06-23 17:49] #243 closed

[2020-06-23 19:36] zkoppert commented on #156
@hxlnt I like it, can you try to put together a PR with the proposed changes?

we have a wiki on all the changes needed :)

https://github.com/github/super-linter/wiki/Adding-new-language-support

[2020-06-23 19:40] zkoppert commented on #223
@prmph Have you gotten a chance to try `on: push` like @patcon suggested?

[2020-06-23 19:48] IAmHughes commented on #228
There's a Draft PR for adding spell-checking to the linter itself #235

I'm okay adding the spell-check as a separate workflow, but I personally feel that failing CI due to a spelling mistake is a little noisy. Open to thoughts!

[2020-06-23 20:22] alagoutte opened #260 "PowerShell linter: /github/workspace/.automation/test: No such file or directory"
**Describe the bug**
I try PowerShell Linter on one of PowerShell module ( https://github.com/FortiPower/PowerFGT) and get an error (See my commit https://github.com/alagoutte/PowerFGT/tree/super-linter )

**To Reproduce**
using PowerShell linter, i get the following error on the log :
/action/lib/linter.sh: line 1825: cd: /github/workspace/.automation/test: No such file or directory...
You can se

[2020-06-24 02:13] hoffmang9 commented on #260
I'm getting this also. The powershell script in question works with all of the following:
[code]

[2020-06-24 02:21] dang3r commented on #157
I attempted to handle this by disabling import-errors using a custom pylint configuration. Prepending `import-error` to the list of disabled errors at `https://github.com/github/super-linter/blob/master/TEMPLATES/.python-lint#L57` prevents this error from being caught.

However, this project runs pylint using the `-E/--errors-only` flag in addition to using the custom configuration file. See [here

[2020-06-24 03:31] zkoppert commented on #260
Thanks for opening this issue @alagoutte and @hoffmang9 for confirming its not just this one repo. Digging into this, in particular the offending [code at line 1825](https://github.com/github/super-linter/blob/master/lib/linter.sh#L1825) It seems like this code is trying to get to the test case folder which would only make sense to me if it was running a test and not actually linting the codebase.

[2020-06-24 04:47] juanvillegas commented on #223
@zkoppert @prmph I solved this using the `types` property set to 'synchronize', like so:

[code]

Synchronize seems to include any code changes to the PR, so it triggers the workflow when creating the PR but also when pushing additional commits to it.

[2020-06-24 06:15] MarcusMorba commented on #237
Besides HTML I would love a check for accessibility issues in general. Most are related to markup.

[2020-06-24 07:26] nathaneastwood opened #262 "Add an R linter"
**Is your feature request related to a problem? Please describe.**
There is currently no linter included for R.

**Describe the solution you'd like**
Include the R linter, [lintr](https://github.com/jimhester/lintr).

**Describe alternatives you've considered**
This is the only linter available for R (that I am aware of).

**Additional context**
N/A

[2020-06-24 08:21] essenmitsosse commented on #204
@IAmHughes @admiralAwkbar Thanks for the clearification. This helps a lot. I am not sure how many people run into the same confusion, but from my perspective it would be great to put this in the readme, that this linter is just meant for the CI process, not (yet) for local development. With hindsight that could have been clear from the current Readme, but if you expect a linter for local developme

[2020-06-24 12:10] danielbayley commented on #169
@UziTech Could the projects be merged somehow, into a single package? I'd be willing to help with such an effort…

[2020-06-24 12:37] admiralAwkbar commented on #262
This is super cool!
Can you give it a shot on creating a PR for this?

[2020-06-24 12:52] admiralAwkbar commented on #169
if @danielbayley and @UziTech can come to an agreement on which is the best approach, I would be glad to implement it. I know `CoffeeScript` but don't know which is the better approach, or which will be the better longstanding approach :)

Please open a PR when you have found the common grounds

[2020-06-24 13:19] IAmHughes commented on #260
This is being addressed in #263 🎉

[2020-06-24 13:22] #260 closed

[2020-06-24 13:43] rpdelaney commented on #226
There is a [docker image for black](https://hub.docker.com/r/kiwicom/black)

[2020-06-24 14:19] jgaffiot commented on #157
I finally found a workaround (works with `pip + requirements.txt` or `pipenv`). The problem is to find a way to provide your dependencies to the super-linter container, and then to tell `pylint` where they are.

For the first step, we can install our dependencies in the container running the action, but the super-linter runs in a separate container. So we have to share the dependencies with the su

[2020-06-24 16:21] viscount7557 opened #265 "The release archives were re-uploaded to fix this issue. Please download them again."
The release archives were re-uploaded to fix this issue. Please download them again.

_Originally posted by @bmiklautz in https://github.com/FreeRDP/FreeRDP/issues/6305#issuecomment-648726963_

[2020-06-24 16:24] viscount7557 opened #266 "Already fixed with #6301"
Already fixed with #6301
For the time being remove the additional strings from `source_version`, sorry for the inconvenience

_Originally posted by @akallabeth in https://github.com/FreeRDP/FreeRDP/issues/6305#issuecomment-648066790_

[2020-06-24 17:10] zkoppert commented on #223
Great. Please reopen if the issue resurfaces.

[2020-06-24 17:10] #223 closed

[2020-06-24 17:21] juanvillegas commented on #223
Just a minor correction: we noticed that to make sure all cases are covered we needed the following in the `types` array:

`types: ['synchronize', 'assigned', 'opened', 'reopened']`

[2020-06-24 19:49] zkoppert commented on #204
Created a PR to clarify documentation. Check it out [here](https://github.com/github/super-linter/pull/267) and let me know what you think.

[2020-06-24 21:06] #204 closed

[2020-06-24 21:17] zkoppert commented on #266
@viscount7557 Did you mean to post this somewhere else? It doesn't look related to the super-linter.

[2020-06-24 21:17] #266 closed

[2020-06-24 21:19] zkoppert commented on #265
off topic

[2020-06-24 21:19] #265 closed

[2020-06-24 21:20] zkoppert commented on #262
use this guide to help add a new linter to the project: https://github.com/github/super-linter/wiki/Adding-new-language-support

[2020-06-25 00:00] #228 closed

[2020-06-25 00:06] zkoppert commented on #188
I'm checking with other GitHub folks but I would like to hear more opinions from others to try to understand if there is consensus around this.

[2020-06-25 00:20] jhawthorn commented on #188
It looks like this is currently using `rubocop-github`, which has some good rules, but I wouldn't recommend for use outside GitHub. I think either the default rules or standard are good choices.

I'm not too familiar with how this action works, but we might be able to get the best of both worlds by:
* If a .rubocop.yml exists in the project, use that
* Otherwise run standard with its rules

[2020-06-25 04:04] zkoppert commented on #188
Thanks @jhawthorn! That sounds reasonable to me. Any objections @gobijan?

[2020-06-25 06:44] divinity76 commented on #122
'php -l' is not a linter, it's only a syntax checker, it wouldn't even catch '''<?php function f(int $i){} f("not string");'''

Yeah that's not a linter. (Sorry about shitty formatting, am on phone)

[2020-06-25 10:01] gobijan commented on #188
I really like the proposal :) Thx for the openness.
Do you need any support in implementation?

[2020-06-25 11:16] kenmikanmi commented on #163
I also found `npm WARN`s on my super-linter workflow(`@2.0.0`) but they are now suppressed at the latest version except for vulnerability report.

[2020-06-25 11:20] kunzese opened #272 "ansbile-lint not running if VALIDATE_ALL_CODEBASE or RUN_LOCAL is true"
**Describe the bug**
Currently _ansible-lint_ will not run if `VALIDATE_ALL_CODEBASE` or `RUN_LOCAL` (which implies `VALIDATE_ALL_CODEBASE`) is set to true.

This is because the `LIST_FILES` array will be set to empty if the `READ_ONLY_CHANGE_FLAG` is set to 0:

https://github.com/github/super-linter/blob/master/lib/linter.sh#L464-L478

The only occurrences of `READ_ONLY_CHANGE_FLAG=1` are within

[2020-06-25 13:04] zkoppert commented on #188
@gobijan Yes please. Feel free to open a PR. I will mark this as ready.

[2020-06-25 15:09] zkoppert opened #275 "Add Table of Contents to README"
**Is your feature request related to a problem? Please describe.**
Users are not reading through the entire `README.md`

**Describe the solution you'd like**
A table of contents near the top of the `README.md`

**Describe alternatives you've considered**
pretty much nothing. 😅

**Additional context**
none

[2020-06-25 18:33] dsayling commented on #234
I'm having the same issue on python. I've added a new exclusion to my own .python-lint file. The output states the local config file is being loaded - however the pylint issue is still not ignored.

[2020-06-25 19:15] ConradSollitt commented on #122
Great example @divinity76

PHP is definitely a challenge on how to handle in my option due to large number of ways to run it and the fact that it uses both errors that are triggered and exceptions that are thrown.

Personally I prefer always handling errors and re-throwing them as exceptions however as the example you provide `php -l` will not catch this because calling a function is a runt-time e

[2020-06-25 19:21] ondrejmirtes commented on #122
I don’t think that anyone is making type errors on purpose, catching them and doing custom logic in their error handler 😊

The point of @divinity76 was I believe that besides php -l there are other static analysers that would find the aforementioned error very easily. Also, in PHP you don’t have to write unit tests for things that can be caught by the type system, it’s not a productive way to spen

[2020-06-25 19:22] ConradSollitt commented on #218
I know it's a "me too" but I second the YAML issue. Personally I would be interested in trying this on a few projects but haven't made the time yet because I see it requires extra setup using YAML and I already Unit Test my code before checking into GitHub so I'm not worried about it being broken.

Perhaps one of the following could help make it easier with the current setup:
* GUI to generate the

[2020-06-25 19:38] WyriHaximus commented on #122
@ondrejmirtes correct me if I'm wrong, but PHPStan would catch mistakes like that right, without complaining about taking anti-patterns it does at higher levels? Because I agree with @divinity76 as well, `php -l` was merely a first step. Haven't looked into adding PHPStan, Psalm, PHP CS Fixer and such yet.

[2020-06-25 19:44] ruzickap opened #276 "super-linter can not handle files containing space"
**Describe the bug**
I'm getting errors when trying to lint the file with space like "first second.yaml".

**To Reproduce**

Example:

[code]

Thanks for looking at it...

[2020-06-25 19:47] ConradSollitt commented on #122
@ondrejmirtes @WyriHaximus @divinity76

Yeah I agree it would be nice to have PHPStan and/or the other popular PHP Syntax Checkers as well. I think `php -l` will really only help someone if they check in code with out doing any sort of validation and make major syntax errors.

[2020-06-25 20:12] ondrejmirtes commented on #122
PHPStan tries not to be opinionated and looks for legit bugs only. Of course some errors it points out are errors only in PHPDocs but that’s useful anyway. Level 5 strikes a good balance and it’d definitely catch the issue mentioned above.

I don’t know how to run it though - to work well, it needs to be executed on the whole codebase at once, it’s not much useful to run it on single files.

I als

[2020-06-25 20:13] ondrejmirtes commented on #122
Overview of PHPStan’s rule levels is here: https://phpstan.org/user-guide/rule-levels

[2020-06-25 21:10] jsoref opened #278 ":tada: is wider than the reported box on macOS / Chrome 83"
**Describe the bug**
There isn't enough space / a way to provide space after :tada:.

**To Reproduce**
Steps to reproduce the behavior:

macOS 10.14.6 (18G5033)
Google Chrome.app Version 83.0.4103.116 (Official Build) (64-bit)

Load this issue (or any issue where #270 has commented)

**Expected behavior**
It should be possible to have a space after :tada: (or a period after :tada:) without it runn

[2020-06-25 21:10] jsoref commented on #278
@zkoppert: This is more of a "can you please file a bug to GitHub" -- I suspect you have a better way to give feedback than I do.

[2020-06-25 21:11] jsoref commented on #278
Fwiw, here's the bounding box for that message:
![image](https://user-images.githubusercontent.com/2119212/85795857-f49f7880-b706-11ea-95ae-c2089e89d5f2.png)

[2020-06-25 21:14] IAmHughes commented on #278
Hey @jsoref, thanks for the bug report. I can't actually reproduce this on Windows or Mac...

Thanks for opening your first pr in the **super-linter** repo! 🎉 This project is built on contributions just like this.

#### Windows

#### Mac

[2020-06-25 21:28] jsoref commented on #278
Ok. It's a HiDPI adventure. Those are fun.

I have multiple monitors.

My primary is "Built-in Retina Display" - 15.4-inch (2880x1800)
My secondary displays are both BenQ GW2760HS - 27-inch (1920x1080)
(Changing the primary display doesn't impact this.)

If I drag this window from either BenQ where the problem is present to the Retina, the problem goes away:
![image](https://user-images.githubuser

[2020-06-25 21:28] #278 closed

[2020-06-25 21:39] benbalter commented on #148
I created a symlink from the project-specific `.ruby-lint.yml` file to the standard `.rubocop.yml` in the project root (`ln -s ../../.rubocop.yml .github/linters/.ruby-lint.yml`). It's not ideal, as it won't support linters not already in the Docker image (e.g., `rubocop-rspec`), but Rubocop seems to follow the symlink.

[2020-06-25 22:07] GaboFDC commented on #134
@admiralAwkbar any update on this?

This is still very weird as `rubocop-github:0.13.0` itself has a dependency on `rubocop:0.86.0` and that is the whole reason for the weird bug. Maybe we can update it to at aleast `0.86.0`?

This is also blocking part of #201 as if we use a package manager, it will fail per the version mismatch

[2020-06-25 22:26] bgs113 opened #279 "Invoke-ScriptAnalyzer error"
**Describe the bug**
When running PowerShell linting using the current latest version tag, which I'm using because a tagged release addressing #260 hasn't been pushed yet, I get the following error:

[code]

**To Reproduce**
1. Trigger a run containing a PowerShell file in scope

**Expected behavior**
PowerShell linting completes successfully.

**Screenshots**
N/A

**Additional context**
I'm using

[2020-06-26 00:22] #275 closed

[2020-06-26 03:54] DawidJanczak opened #282 "Support .rubocop_todo.yml"
**Describe the bug**
We have the following entry in our `.rubocop.yml`:
[code]
The rubocop_todo file lists offences in current project to be addressed at a latter stage, as described in https://docs.rubocop.org/rubocop/configuration.html#automatically-generated-configuration

The linter fails if such file is included with
[code]

**To Reproduce**
Add a `.rubocop_todo.yml` in the directory specifie

[2020-06-26 04:33] jberkers42 commented on #179
Would be very useful indeed.  I do not agree that it should use `.gitignore` as this would not make a difference in a CI pipeline integrated with a Git Repo, as Git would already not include it in any commits.

[2020-06-26 08:19] annarailton commented on #234
I'm having the same issue with a `dockerlintrc` file being ignored.

[2020-06-26 11:36] quackduck opened #284 "Adding Super Linter to itself?"
Would adding Super Linter as a workflow to the Super Linter repo have any problems?
Are there any reasons this shouldn't be done?

[2020-06-26 11:38] IAmHughes commented on #284
Hey @quackduck,

No issue at all, and we actually have it here already: https://github.com/github/super-linter/blob/master/.github/workflows/stack-linter.yml

This repo is linted by the super linter, and also does the CI/CD to update the docker container as we do new releases.

[2020-06-26 11:38] #284 closed

[2020-06-26 11:40] quackduck commented on #284
Wow! Thanks for the quick reply!

[2020-06-26 12:29] admiralAwkbar commented on #134
@GaboFDC I need to look as to why we have the internal push back to `0.74` and do some research. Sorry just been low on the priority list. I will try to find some time to look at it over

[2020-06-26 12:38] #111 closed

[2020-06-26 12:49] jgaffiot opened #285 "Configuration file of Dockerfilelint ignored"
**Describe the bug**
Dockerfilelint seems ignoring the configuration file `.dockerfilelintrc` in  `.github/linter/`.

After some research, it appears that Dockerfilelint does not search for a configuration file at the root of the repository or where Dockerfilelint is run, but expects a configuration file in the same directory than the Dockerfile to lint. If a repository contains several Dockerfile

[2020-06-26 13:41] ahmadnassri opened #288 "spawning eslint instance for each file"
**Describe the bug**

it seems the default setup is spawning an individual eslint command run for each file in the repo!

**To Reproduce**
Steps to reproduce the behavior:
1. add `super-linter` using docker:
[code]
2. run
3. lint run duration is excessively high even for small repos, due to spawning per file.

**Expected behavior**

`eslint` should run on the entire folder without individual spawn

[2020-06-26 14:15] past-due commented on #285
See #283, which should hopefully fix this for you?

[2020-06-26 14:32] jgaffiot commented on #285
#283 should definitively fix the issue, but as far as I understand a change in Dockerfilelint is required to make it work, no ? If the publication of an update of Dockerfilelint is not expected soon, should we temporarily change the documentation to signal `.dockerfilelintrc` should be next to the Dockerfile and not in `github/linters` ?
Anyway, thanks for your reactivity !

[2020-06-26 14:50] admiralAwkbar commented on #285
@jgaffiot sorry for the bug seems we made a small mistake when this was published...

[2020-06-26 14:53] admiralAwkbar commented on #276
@ruzickap are these files coming from windows env or Linux env?
I'm sure we could make it work better :)

[2020-06-26 15:51] #285 closed

[2020-06-26 15:51] #276 closed

[2020-06-26 19:17] admiralAwkbar commented on #122
PHP support was added in #244

[2020-06-26 19:22] admiralAwkbar commented on #148
This was solved at https://github.com/github/super-linter/commit/d8608a6cf128cc6dfe3223275b98a6dc98459729

I should have been a or... thought I was on a branch... might have beefed it...

[2020-06-26 19:22] #148 closed

[2020-06-27 05:06] ruzickap opened #295 "Version / release tagging"
Hello.

Would it be possible to do a proper tagging for this project please?

Maybe good starting point is here: [actions/checkout](https://github.com/actions/checkout/tags)
They are using versions like:

* `v2` -> `v2.2.0`
* `v4` -> `v4.1.0`

It would be really handy to use tags like `v2` instead of specifying the exact version only `v2.2.0`:

[code]

Thank you...

[2020-06-27 11:56] BroderPeters commented on #150
After a few attempts on my own with inspiration from #189, I run into the following struggles.

**TLDR: Alpine seems to struggle with a few "concepts" that Resharper Command Line Tools is using.**

As I was trying to run the inspectcode script in the docker image I got the first error saying `linux-x64/mono/bin/mono-sgen: not found`. After a short research I found this related issue: https://youtr

[2020-06-27 14:50] programatt commented on #150
@BroderPeters sonar is a good linter as well. The biggest downside is in my experience the rules that it uses are installed with the linter and not passed in. So you wouldn't be able to allow per repo linting rules to be passed in.

[2020-06-27 16:44] divinity76 commented on #122
@admiralAwkbar that's not a linter, that's purely a syntax checker, see my first comment above =/

[2020-06-27 17:37] Hanse00 commented on #205
@admiralAwkbar I could whip up a Python prototype with some testing, if you'd like to see that as an option.

[2020-06-27 20:18] ferrarimarco opened #296 "Git whitespace error check"
**Is your feature request related to a problem? Please describe.**
I'm always frustrated when I find whitespace errors in my source files. :)

**Describe the solution you'd like**
`git diff-tree` has a nice [`--check`](https://git-scm.com/docs/git-diff-tree#Documentation/git-diff-tree.txt---check) mode that `warns if changes introduce conflict markers or whitespace errors`.

**Describe alternative

[2020-06-27 20:23] ferrarimarco opened #297 "Check if text files end with a newline"
**Is your feature request related to a problem? Please describe.**
Some tools have some issues in rendering text files that don't end with a new line. Additionally, that's what the [POSIX standard mandates](https://pubs.opengroup.org/onlinepubs/9699919799/basedefs/V1_chap03.html#tag_03_206).

**Describe the solution you'd like**
I'd like a way to check if files end with a new line, and notice the

[2020-06-28 17:55] BroderPeters commented on #150
After having a look at the sonar products I don't think this will fit either. There are only IDE extension or service hosted products, which don't really make sense in a GitHub action or this projects setup itself.

Another solution to use Resharper Command Line Tools I was thinking of was to use it through the `dotnet tools` feature from the dotnet core SDK. But installing the full SDK into the d

[2020-06-29 06:17] nhattan commented on #234
I've come up with a hybrid solution as a workaround:
- Install my own rubocop to lint Ruby
- Use super linter to lint other languages

[code]

[2020-06-29 13:33] alagoutte commented on #260
Thanks for fix, when do you plan a new release with the fix ?

[2020-06-29 13:36] #165 closed

[2020-06-29 14:26] zkoppert commented on #260
@alagoutte Working on a release today. Thanks for hanging in there.

[2020-06-29 14:33] zkoppert opened #305 ".dockerlintrc is ignored"
@admiralAwkbar:
`-c .dockerlintrc`
should be
`-c <path to folder _containing_ .dockerlintrc>`

The command it is executing will run, but it's not using the actual `.dockerlintrc` in my tests. In https://github.com/replicatedhq/dockerfilelint/blob/master/lib/index.js#L85 you can see it will fail to open `.dockerlintrc/.dockerlintrc` and just silently use the defaults.

I am testing with a `.dockerl

[2020-06-29 15:36] IAmHughes commented on #295
Taking a look at some automation to handle this for us 👍

[2020-06-29 15:48] #295 closed

[2020-06-29 17:59] bazzadp commented on #157
The other workaround is to copy the template into .github/linters/.python-lint and then add these to ignored modules at line 246. For example:

[code]

[2020-06-29 18:11] cvega commented on #120
Hello @shyndman & @mit-mit

I appreciate the suggestion and the offer to provide feedback. I have the basis for adding dart or more specifically `dartanalyzer` to super-linter. The only big concern I had was the size of the SDK in relation to the container (not a huge deal, but less is more). I was wondering if you could provide any feedback on the dart binary? Ideally I'd like to move the dart bi

[2020-06-29 21:03] #136 closed

[2020-06-29 21:45] zkoppert opened #314 "deploy-RELEASE workflow: error on image name"
**Describe the bug**
The deploy-RELEASE workflow does not complete successfully. It sites an error in the image name: `docker image push is only supported with a tag of the format :owner/:repo_name/:image_name.`

**To Reproduce**
Steps to reproduce the behavior:
https://github.com/github/super-linter/runs/820118509?check_suite_focus=true#step:4:626

**Expected behavior**
The workflow should comple

[2020-06-29 21:47] IAmHughes commented on #314
Just to add some info to this, the Docker Hub deploy worked, it's the GitHub Package Registry step that is failing.

[2020-06-29 22:05] dsayling commented on #234
FYI if anyone peaks in here and sees that. I fixed this with #301 - maybe other linters may have other similar issues?

[2020-06-30 06:27] LukeMondy commented on #305
Yes, I think a perhaps naive fix would be to change:
https://github.com/github/super-linter/blob/2b189bf16feb85b077890c2af15b008b4938b011/lib/linter.sh#L44
to be:
[code]
Might be worth testing to see if it helps or not (sorry, I don't have a good setup to test it myself)

[2020-06-30 07:17] alagoutte commented on #279
i get the same error too
Coming from missing import(-module) (it is no autoload by default with PS Core)

[2020-06-30 07:46] Rubemlrm commented on #279
I'm getting this error too. That looks a missing module loading.

[2020-06-30 08:45] bazzadp opened #316 "Explain how to tweak the rules better"
I started using this great tool as a GitHub action but was initially confused how to configure and tweak the various linters.

There is a [Disabling linters and Rules](https://github.com/github/super-linter/blob/master/docs/disabling-linters.md) page with some great links to the various tools, but it still took me a bit of figuring out how to apply any customisations.

I eventually figured out tha

[2020-06-30 10:01] krowlandson opened #318 "PSScriptAnalyzer Error: Invoke-ScriptAnalyzer (not recognized)"
**Describe the bug**
When running a vanilla implementation of Super-Linter (v3.0.1 / v.3.1.0), we get the following error within the PSScriptAnalyzer tests:

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Using Super Linter v3.0.1 / v.3.1.0 in a GitHub Workflow
2. With all default settings (no VAR defined)
3. Against a repository with PowerShell code present
4. See error against ALL

[2020-06-30 10:15] Rubemlrm commented on #318
@krowlandson there is another issue relative to this bug. The issue is the following #279

[2020-06-30 10:20] krowlandson commented on #318
Thank you @Rubemlrm - was literally just looking at that issue and was about to post back to say I think this is a duplicate.

Any thoughts on when this will be resolved, and why it doesn't appear to be a problem within a local run?

[2020-06-30 11:27] krowlandson commented on #318
Just to add to my findings, I've been experimenting and found that the following works fine on GitHub Actions:

[code]

I also tried `uses: github/super-linter@v3.1.0` but that fails too, so the issue appears to be in how GitHub Actions sets up the environment when using the `uses: ... ` format.

[2020-06-30 13:18] admiralAwkbar commented on #314
this is solved in #317

I forgot that for docker the name should be:
`github/super-linter:version`
For GPR it should be:
`docker.pkg.github.com/github/super-linter/super-liner:version`

- Totally missed that second `super-linter`

[2020-06-30 13:18] #314 closed

[2020-06-30 13:37] admiralAwkbar commented on #279
@alagoutte @Rubemlrm can you tell me what module is missing? or not imported?
If you can help me find that, then I can try to put in a fix!

Thanks!

[2020-06-30 13:39] admiralAwkbar commented on #316
hey, @bazzadp thank you for the write-up!
Being so close to the tool I cant see it the way many users see it.
I completely agree with your writeup and could you propose it as a PR?

We don't plan on ever really updating the templates as they should be very static...
So you shouldn't have to do many updates to those once you pull them into your repository.

thanks again for finding this!

[2020-06-30 13:41] admiralAwkbar commented on #212
The release has been published and newer versions available without bug :)

[2020-06-30 13:41] #212 closed

[2020-06-30 13:42] admiralAwkbar commented on #205
I think we're good on leaving this as a bash project for the time being :) its simple, flexible, and with the newer version to pull it into more functions, should be easier to maintain :)

[2020-06-30 13:45] Rubemlrm commented on #279
@admiralAwkbar in the end of the day i can try give you more information relative to this bug.

[2020-06-30 13:50] jdyke opened #320 "tflint fails on external source modules"
**Describe the bug**
I am attempting to use `VALIDATE_TERRAFORM` (tflint) on a main.tf that contains a source module of `terraform-google-modules/scheduled-function/google`. The lint fails due to:

[code]

I'm not aware of a way for super-linter to run terraform init during runtime.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a `main.tf` that contains a source module.
2. Execute s

[2020-06-30 13:57] jdyke opened #321 "awk error when using main branch"
**Describe the bug**
This bug was fixed previously but it appears to have returned. I am seeing an `awk` error when running the super-linter.

[code]

The linter passes and appears to be checking the code correctly, but this error was due to malformed or missing `{` last time. Here is the previous issue: https://github.com/github/super-linter/issues/145

**To Reproduce**
Steps to reproduce the beh

[2020-06-30 16:27] Hanse00 commented on #205
Alright :)

[2020-06-30 16:27] #205 closed

[2020-06-30 19:48] Rubemlrm commented on #279
@admiralAwkbar i've been doing some tests and i have the following information:

- Running with github actions i'm getting this error:

[code]

[2020-06-30 20:19] zkoppert commented on #203
@admiralAwkbar Thoughts on this? Prefer to keep this manual or use the release drafter?

[2020-06-30 20:29] admiralAwkbar commented on #203
@zkoppert im bout all that automation life...

[2020-06-30 20:33] alagoutte commented on #279
I found the issue, i will push a fix soon (need to make some test...)

[2020-06-30 20:40] admiralAwkbar commented on #279
![](http://www.reactiongifs.com/wp-content/uploads/2013/06/Sean_connery_raction.gif)

[2020-06-30 20:47] #279 closed

[2020-06-30 20:55] Rubemlrm commented on #318
There is a PR with a solution for this problem :) on #300

[2020-06-30 21:32] zkoppert commented on #218
@ConradSollitt Check out https://www.youtube.com/watch?v=EDAmFKO4Zt0&t=120s and let me know if that clears up the confusion. If so we will link that here in the README to help people get started who are unfamiliar with GitHub actions.

[2020-06-30 21:59] admiralAwkbar commented on #320
@jdyke great find on this one!
I will get a fix in the morning :)

[2020-06-30 21:59] admiralAwkbar commented on #320
@jdyke what would you prefer it to do?

[2020-06-30 22:00] admiralAwkbar commented on #318
Merged and solved :)

[2020-06-30 22:00] #318 closed

[2020-06-30 22:03] admiralAwkbar commented on #208
@t0rr3sp3dr0 agreed.. I will work it to allow for both... :)

[2020-06-30 22:06] #321 closed

[2020-06-30 23:32] srcshelton opened #334 "Add optional support for colourised output (where available...)"
**Is your feature request related to a problem? Please describe.**

When viewing `super-linter` output after running a local scan, it can be difficult to differentiate signal from the noise in the large number of lines generated.  Where available, showing errors in (say) red and warnings in (say) orange or yellow can vastly accelerate skim-reading the output.

**Describe the solution you'd like**

[2020-06-30 23:36] IAmHughes commented on #334
@srcshelton thanks for the suggestion! This is interesting, and I'll need to take a look at how the logging works with GitHub Actions. I haven't seen any way to colorize output, but that doesn't mean it's not possible. I'll do some research and report back tomorrow by end of day!

[2020-06-30 23:41] srcshelton commented on #334
TBH, I was mainly considering running with `RUN_LOCAL=true`, and adding to the linter default options and available option to enable coloured output.

But if there is a sane means of getting GHA to give coloured output too, all the better!

(I've used some GH+CI/CD alternatives for work, and they do process ANSI escape sequences to provide coloured output when viewing pipeline logs - so there's a

[2020-06-30 23:42] IAmHughes commented on #334
That's intriguing, and I'll totally do some testing with that tomorrow as well 🎉.

[2020-06-30 23:43] srcshelton commented on #334
Quick example: Running shellcheck from `koalaman/shellcheck:stable` automagically outputs bold and coloured results, whilst run from `super-linter` the output is plain.

[2020-06-30 23:45] srcshelton commented on #334
(This is possibly mediated by the docker '`--tty`' option, which allows the running process to interrogate terminal capabilities.  Having said that, it may simply be a case of setting (or allowing the user to specify) a value for the environment variable `TERM` (to, for example, `vt100`)?

[2020-06-30 23:47] zkoppert commented on #218
@fulldecent  Check out #333 if you have a moment to review

[2020-06-30 23:49] zkoppert commented on #218
@lilmnm-kamikaze- We added a table of contents to try to help with the crowded `README.md`

[2020-07-01 00:03] IAmHughes commented on #334
@srcshelton at an initial glance, it looks like we DO support colorized output with ANSI tables (thanks for the suggestions!) so I'll be doing some testing of this tomorrow 🎉

[2020-07-01 00:07] #218 closed

[2020-07-01 00:18] nemchik commented on #334
Colors in bash are pretty easily done once you dig into how to do it in a sane way.

https://github.com/GhostWriters/DockSTARTer/blob/5d8d79459a6976dc5aed3581cb780a238099b5ac/main.sh#L232-L316

This outputs colors where the terminal supports it. GHA does not support colors in any way that I've discovered (tried a lot), but this would work well for local runs. I'd be happy to make a PR if this meth

[2020-07-01 00:30] nemchik opened #335 "General question: multiple linters for a single language?"
Is there any interest in having multiple linters for a single language?

Example: for bash I use shellcheck, shfmt, and bashate regularly. So much that I made a repo to automate linting for bash https://github.com/nemchik/ShellSuite before I started using GitHub actions (back when Travis CI was the top dog).

Another example: there's another issue in this repo regarding prettier for JavaScript (an

[2020-07-01 07:27] #316 closed

[2020-07-01 08:50] bazzadp opened #337 "Optimise the "How To" GIF"
It looks like a "How to" video was create as part of #333 and added to the main README.md which shows when visit this repo.

For a start it is linked from the home page to the branch that this was created in, which is now deleted, so you've a broken image showing:

![Screenshot of READ.md showing broken image link](https://user-images.githubusercontent.com/10931297/86218695-179fb180-bb79-11ea-87ee

[2020-07-01 09:09] paride opened #338 "grep: .github/workflows/linter.yml: No such file or directory"
To try the super linter I've been following https://github.com/github/super-linter#how-to-use doing the following steps:

1. In a repo I own, I created a new `linted` branch
1. I committed the sample `linter.yml` as `.github/workflows/linter.yml` in that branch
1. Pushed the branch to GitHub.

The linter action ran on the new commit as expected, but fails to lint the `linter.yml` file:
[code]

Com

[2020-07-01 09:52] paride commented on #338
This seems to affect only yaml files: other file types are found and linted as expected. Seems somehow similar to: https://github.com/github/super-linter/issues/58.

[2020-07-01 09:58] paride opened #339 "[doc] sample linter.yml doesn't actually lint anything"
The sample `linter.yml` in https://github.com/github/super-linter/blob/master/README.md sets `VALIDATE_ANSIBLE: false`. According to the very same file setting a `VALIDATE_[LANGUAGE]` variable makes the other languages default to `false`:

so the sample config file has all the linters disabled. I don't think this is intended.

[2020-07-01 10:30] mit-mit commented on #120
@devoncarew WDYT about embedding just a few binaries from the SDK; is that likely to cause issues longer-term? And if we go that route, would we rather rely on the files we need for `dart analyze`?

[2020-07-01 10:38] bazzadp opened #340 "Work better for forks by updating example yml"
At present the [Example Workflow file](https://github.com/github/super-linter/blob/master/README.md#example-connecting-github-action-workflow) works on pushes only and ignores master branch:

[code]

If a repo is forked then this potentially leads to missing linting in the following circumstances:

- If the fork does not have Actions enabled (they are not enabled by default) and then they open a p

[2020-07-01 13:26] admiralAwkbar commented on #335
I like the idea of being able to decide and not forcing a specific style on everyone... I believe there is another issue open to change the linter from rubocop to standard I believe... it would be nice to allow users to choose if they wanted... but not sure about multiple for the same...

[2020-07-01 13:42] jdyke commented on #320
Hi - thank you!

I like the idea of performing a `terraform init` because the alternative is to skip external source modules which could be the bulk of someone's terraform code - rendering the linting useless. The downside of the `init` route is that it could be a heavy call depending on the amount of providers and source modules referenced.

IMO the `init` option is the better of the two and it's

[2020-07-01 13:46] admiralAwkbar commented on #320
@jdyke It looks like we had modules set to true for default. Setting to false in our templates, and looking at allowing the init to run in the future

[2020-07-01 14:06] jdyke commented on #320
Sounds good, should I keep my version at `uses: docker://github/super-linter:v3` ? If so, I'll give it a test now.

[2020-07-01 14:46] devoncarew commented on #120
Hi @cvega - exciting to get dart support here! Some thoughts:

- for longevity of the integration, I think we should prefer using `dart analyze` to lint rather than `dartanalyzer`. `dart analyze` has some (important) bug fixes that `dartanalyzer` likely won't ever get, and in the medium term we'll remove dartanalyzer completely (in preference to `dart analyze`)
- I'd be a little leery of just grab

[2020-07-01 15:07] IAmHughes commented on #337
@zkoppert I'll let you chime in here. The gif link is broken as stated, and I'd like your input on the file size bit. Maybe a link to the gif so it's not rendered every time? Not sure how we want to do that 👍

[2020-07-01 15:22] cvega commented on #120
@mit-mit @devoncarew

This is very helpful.

- I like longevity too. Done.
- I've discussed sizing of the SDK. Not a huge deal. For whats it worth, It seems to work fine with just the binary (very limited testing) but I rather not copy pieces of the SDK or give Dart users/developers a subpar experience because something they expect is missing. I am grabbing the entire SDK. For the time being, I'll

[2020-07-01 15:25] ahmadnassri commented on #297
you might wanna check out #221

[2020-07-01 16:18] zkoppert commented on #337
Currently testing out other video formats. I'll check back in a bit.

[2020-07-01 16:26] zkoppert commented on #337
`m4v` takes it down to 574KB which i think is reasonable. I'll open up a PR to see if I can get it to play nice with GitHub. Also will be linking to a longer YouTube video with audio and more explanation.

[2020-07-01 16:54] #337 closed

[2020-07-01 17:03] admiralAwkbar commented on #230
I Think this capability has been merged in :)

[2020-07-01 17:03] #230 closed

[2020-07-01 17:04] admiralAwkbar commented on #207
Hey, All this was a bug in earlier version :)
Can you upgrade to v3?
It has to do with a bad version installed

[2020-07-01 17:04] #207 closed

[2020-07-01 17:05] #174 closed

[2020-07-01 17:10] marbar3778 commented on #174
hey this is awesome!! is the change in a releasee already?

[2020-07-01 18:23] lechen26 opened #345 "eslint typescript"
Hi

i have a Node project written in typescript with included .eslintrc.js file that works properly (npm run lint).
i was trying to integrate with super linter, and something isnt working as i expect it to be.

i did the following:
- i've converted my existing .eslintrc.js file to json and copied it to  .github/linters/.eslintrc.json
- i've added the following step to my workflow:
[code]
- i've ma

[2020-07-01 19:58] nemchik commented on #334
https://github.com/github/super-linter/pull/346 will close this issue. Still working on it. Not too far off though.

[2020-07-01 20:05] #345 closed

[2020-07-01 20:06] mirrorkeydev commented on #345
The README states:

_"Note: All the VALIDATE_[LANGUAGE] _variables behave in a specific way. If none of them are passed, then they all default to true. However if any one of the variables are set, we default to leaving any unset variable to false. This means that if you run the linter "out of the box", all languages will be checked. But if you wish to select specific linters, we give you full cont

[2020-07-01 20:06] admiralAwkbar opened #348 "Promote Nemchik"
Hey @nemchik !

Thanks for all the hard work!

Bumping access

[2020-07-01 20:08] admiralAwkbar commented on #348
cc: @zkoppert @IAmHughes @jwiebalk

[2020-07-01 20:08] #348 closed

[2020-07-01 20:09] admiralAwkbar opened #349 "openapi has double path"
**Describe the bug**
when it tries to find openapi files, it doubles the path

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Additional context**
Add any ot

[2020-07-01 20:16] srcshelton commented on #334
This adds colour to `super-linter`'s direct output, but can coloured output also be enabled for linters which have options to add colour their individual outputs?

[2020-07-01 20:29] #282 closed

[2020-07-01 20:29] #320 closed

[2020-07-01 20:29] #339 closed

[2020-07-01 20:29] #349 closed

[2020-07-01 20:30] nemchik commented on #334
That would be up to the linters to output the colors in ascii. Likely not much could be done in this repo to force that.

[2020-07-01 20:43] bazzadp commented on #340
How does #343 solve this?

I see it's added one of my suggestions to `deploy-DEV.yml` but that seems to be to build the Docker image, rather than what the suggested `.yml` file for people wanting to use this. It has also not updated the example in the `README.md`.

Nor has it addressed the queries I raised around restricting this from `master` and not including `pull_requests`?

Did you misunderst

[2020-07-01 21:45] rolfkleef commented on #179
In addition to `.gitignore` it might make sense to also ignore paths in `.gitmodules`? I'm only getting linter errors on libraries I have no control over.

[2020-07-01 22:51] bjarkehs opened #352 "Linting .tsx and .jsx files"
Hey!

Is there something I'm missing in order for it to lint my .tsx files? (Typescript JSX files)

It seems only my .ts files are linted with eslint.

[2020-07-01 23:03] srcshelton commented on #334
I'm not sure this is true - take `shellcheck`, for example: if the native binary is executed in a terminal, the output is colourised.  If their own docker container is run, this also outputs coloured text (when run from docker without specifically setting `TERM` or similar).  However, when `shellcheck` is run from `super-linter` the output is monochrome - so `super-linter` has either set something

[2020-07-01 23:47] nemchik commented on #338
https://github.com/paride/server-jenkins-jobs/blob/14314c14df651cdbd36c94a8ce9a3d6bbd6e8bae/.github/workflows/linter.yml#L50 this is invalid.

[2020-07-01 23:48] #340 closed

[2020-07-02 00:14] nemchik commented on #334
Do you have an example of shellcheck output with color in GitHub actions using a method other than super-linter?

[2020-07-02 00:19] srcshelton commented on #334
So far I've been discussing a `RUN_LOCAL=true` situation - if the GHA output formatter can't render ANSI escapes, then there's likely little can be done for the output under Actions unless this can be upgraded.

But even if GHA can't support coloured output, it would still be genuinely useful for local usage!

(And since local invocation is coloured *except* when using `super-linter`, this feels l

[2020-07-02 00:23] nemchik commented on #334
I get it now. Can you try with v3.2.0 just to confirm?

[2020-07-02 00:24] IAmHughes commented on #334
GitHub Actions can support colored output with ANSI escapes. Here's one example I found: https://github.com/joshmgross/action-template/blob/main/src/utils.ts#L12

From some other documentation:
[code]

[2020-07-02 00:24] srcshelton commented on #334
Sure thing!  Give me a tick...

[2020-07-02 00:56] srcshelton commented on #334
Hmm - might have spotted a problem here :(

[code]

... vs:

[code]

... although the `All file(s) linted successfully with no errors detected` *does* appear in green.

I may have misunderstood the use of `DEFAULT_WORKSPACE` - trying again now...

[2020-07-02 01:55] nemchik commented on #334
I maybe know where the issue is. I'll have a look tomorrow.

[2020-07-02 01:59] StalkAltan commented on #352
Hey @bjarkehs !

It looks like the reason super-linter isn't linting .jsx/.tsx files is because the JS/TS linter configurations are only searching for .js/.ts

See here for an example from the code: [link](https://github.com/github/super-linter/blob/6c152d271e400f0db27514e0d1a647b41937741b/lib/linter.sh#L1032)

[2020-07-02 02:07] igor555 commented on #226
hi

so no plan for black yet?

[2020-07-02 04:21] quackduck commented on #115
Is it known when such language additions will be considered? I'm guessing this is not the priority. What _is_ the priority?

[2020-07-02 05:46] lechen26 commented on #345
that's exactly what i did eventually and it indeed worked.
my problem now is that my eslintrc.json is using plugins that does not exist on the image, and it doesnt seems as 'dynamic' as it need to be installed first.
thanks!

[2020-07-02 07:32] lechen26 opened #355 "dockerfilelinter"
Hi

so i want to lint my Dockerfile.
i've added the following:

[code]

i've copied the .dockerfilelintrc from the TEMPLATES directory and put it within .github/linters folder on my repo.
and disabled one of the rules (`latest_tag: on` to `latest_tag: off`)

when it got executed i see the line that indicate my overwrite:
`User provided file:[.dockerfilelintrc], setting rules file...`

but i still

[2020-07-02 07:45] paride commented on #338
@nemchik The three dots come from the example at https://github.com/github/super-linter#how-to-use and they're valid: they're the end-of-document boundary. From https://yaml.org/spec/1.1/#document%20boundary%20marker/:

[2020-07-02 09:40] techotron commented on #234
I'm having the same issue when running locally (RUN_LOCAL=true) with a golangci-lint config added to .github/linters/.golangci-lint.yml in my project.

`docker run -e RUN_LOCAL=true -e VALIDATE_GO=true -e ACTIONS_RUNNER_DEBUG=true -v $(pwd):/tmp/lint github/super-linter`

I'm not able to use GH actions so I'm unsure if this is the same issue but it appears to be similar at least. These are my find

[2020-07-02 10:07] jeonghanlee commented on #355
With the latest tag, I have the same issue with `invalid_port: off`.  The error message I've got
[code]

[2020-07-02 11:55] nemchik commented on #338
Indeed. I did not know that was a valid syntax and thought it was there to imply you could add more options.

[2020-07-02 12:43] vishad-slice opened #356 "Super linter not picking up user specified lint config files"
**Describe the bug**
In the latest version v3.2.0, the user specified lint config file locations are not working. It is always using the default files.
**To Reproduce**
Steps to reproduce the behavior:
1. Set these envs:
    JAVASCRIPT_ES_CONFIG_FILE: .eslintrc.json
    LINTER_RULES_PATH: /path/to/config/directory
**Expected behavior**
User specified lint config file should be used

**Screenshots*

[2020-07-02 13:05] techotron commented on #356
I've noticed the same issue this morning. I've added a comment to this issue which at the time looked similar: https://github.com/github/super-linter/issues/234#issuecomment-652903651

[2020-07-02 13:25] techotron commented on #356
I think it's a scoping thing with the `declare` statement. If I change [this line](https://github.com/github/super-linter/blob/9d5d792af8d1c365b2bf34535908c6df92921704/lib/linter.sh#L320) to:

`declare -g "${LANGUAGE_LINTER_RULES}=$GITHUB_WORKSPACE/$LINTER_RULES_PATH/${!LANGUAGE_FILE_NAME}"`

then the custom linter works for me

[2020-07-02 13:32] nemchik opened #358 "Pre-releases"
**Is your feature request related to a problem? Please describe.**
Right now there is no way aside from testing the test cases in this repo to see how the linter would run on various types of code, specifically in a scenario where there is a new linter being added to the project. Test cases should be added alongside new linters before release, but pre-releases will also allow additional end user t

[2020-07-02 14:35] bznein commented on #143
We encountered the same issue and this makes SuperLinter with Golang basically unusable.
An option to run the linter on whole directories when `VALIDATE_ALL_CODEBASE ` is True would be extremely helpful

[2020-07-02 14:36] #356 closed

[2020-07-02 14:36] admiralAwkbar commented on #234
With the linter pulling the files from the local location and not from a designed location, this should work as expected now...

[2020-07-02 14:51] StephanKrauss opened #362 "Where is my error"
Hello,

i have start super-linter local as a docker container.
I will test a single php file with the command:
docker run -e RUN_LOCAL=true -e VALIDATE_PHP=true -v c:/xampp1/htdocs/src/App/Action/FileDownload.php:/tmp/lint/FileDownload.php github/super-linter

I my test file there is a bug. Missing brace.
I can't see a error message.
What is wrong ?

Can i use a relativ path in the super-linter co

[2020-07-02 16:29] admiralAwkbar commented on #355
Hello, Can you try with the latest?
I think we had a global var issue

Thanks

[2020-07-02 16:34] admiralAwkbar commented on #362
Hey @StephanKrauss
I think your issue is your pointing to the file and not the directory

the command should look more like:
`docker run -e RUN_LOCAL=true -e VALIDATE_PHP=true -v c:/xampp1/htdocs/src/App/Action:/tmp/lint github/super-linter:latest`

I tested and received the same behavior when pointing all the way to a file, and not the directory

[2020-07-02 16:36] admiralAwkbar commented on #352
@bjarkehs should they be linted the exact same way? if that is the case, it should be easy enough for us to make a PR that also searches for those extensions :)

Sorry my JS/TS is not the strongest...

[2020-07-02 16:38] admiralAwkbar commented on #334
This seems to have been completed and shipped...

[2020-07-02 16:49] admiralAwkbar opened #363 "Add Groovy Support"
**Is your feature request related to a problem? Please describe.**
It should be here...
https://github.com/nvuillam/npm-groovy-lint

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Additional context**
Add any o

[2020-07-02 17:23] admiralAwkbar opened #364 "Install StaleBot"
We need to install StaleBot to help make sure some of these issues get closed out eventually...

@IAmHughes want to knock this out?

[2020-07-02 17:50] #364 closed

[2020-07-02 17:57] nemchik commented on #334
Code in this repo outputs colors, but the linters should also be able to output colors (locally for sure, but also possibly in CI).

I'll still do some investigating today to see if I can narrow down getting that last part done.

[2020-07-02 18:08] jeonghanlee commented on #355
Tried with the latest, saw the same issue. Please see <https://github.com/jeonghanlee/ChannelFinder-env/runs/831749806?check_suite_focus=true> with  options are off.

[2020-07-02 20:00] nemchik commented on #334
Ok I've finally got some conclusive results.

* I started by making a script named `main.sh` in my current directory and intentionally put an error that shellcheck would flag in the file.
* Next I ran `docker run --rm -it -e RUN_LOCAL=true --entrypoint /bin/bash -v ${PWD}/main.sh:/tmp/lint/main.sh github/super-linter` which brought me into the container interactively.
* I ran `/action/lib/linter.s

[2020-07-02 20:04] #334 closed

[2020-07-03 04:54] hoffmang9 opened #368 "release 3.2.0 seems to ignore user provided lint override files"
**Describe the bug**
We have two issues that we must override in our codebase - one in markdown and one in python. I have merged all the ongoing changes to the template files while preserving our two overrides. Super Linter acknowledges the two user provided files and then seems to not actually use them when running the markdown and python lints.

**To Reproduce**
Steps to reproduce the behavior:

[2020-07-03 16:15] past-due commented on #368
I can also reproduce this issue.

[2020-07-03 20:25] jhomarolo opened #371 "Eslint custom files not working - Failed to read JSON file at /action/lib/.automation"
**Describe the bug**
I'm using a javascript linter and every time I try to use my own eslintrc file the action returns an error saying it didn't find the file.

When I use my file with a name other than the default (.**eslintrc_ruler.yml** or .**eslintrc_ruler.json**) in the variable **JAVASCRIPT_ES_CONFIG_FILE** it returns that I didn't find it, if I use a file with the default name .eslintrc.yml

[2020-07-03 20:37] jhomarolo commented on #371
I just did the test with version v3.0.1 and the error does not happen.

[2020-07-03 20:54] jhomarolo commented on #368
I did the test in version 3.0 and it is ok, in 3.1 it is also with error

[2020-07-04 16:37] past-due commented on #355
I can confirm.

I think part of the confusion may be that `dockerfilelint` will silently proceed with the defaults if an invalid path to a `.dockerlintrc` is passed. Reference: https://github.com/replicatedhq/dockerfilelint/blob/master/lib/index.js#L85

So you can't rely on the fact that `dockerfilelint` executes successfully with the path that is currently being provided by **super-linter** to de

[2020-07-04 21:39] terencedignon commented on #237
Hi all, this is also something I would really like and am on a time-sensitive project that requires it. I'm going to put up a PR but feel free to close it in favor of yours if you think that's better.

[2020-07-05 05:12] lechen26 commented on #368
its not working for me also when using v3
[code]
i do see it recognize i have yaml linter file:
`User provided file:[.yaml-lint.yml], setting rules file...`
but later when linting the yaml files i still see errors which indicate he ignores my updated rules.

to be honest i'm trying for the last few days to get this working on few repositories, with different versions, no luck.

[2020-07-05 05:16] lechen26 commented on #368
ok this first issue was fixed by setting the variables globally scoped.
it works with master.

[2020-07-05 09:16] szolll commented on #355
Same here.

[code]

[code]

added
`  invalid_line: off
`

Yet I get

[code]

[code]

[2020-07-05 16:31] lechen26 opened #374 "Exclude folder from lint operations"
Hi

is it possible to somehow exclude entire directory from linting?
during my workflow except checking out the current repository i also checking out another repository which includes personal github actions.
i want to exclude this directory from super linter operation as i dont want it to be analyzed for all repos.

any way to achieve this?
10x!

[2020-07-05 17:33] ahmedhosnycs opened #375 "GolangCI Lint fails with Private repo modules"
Hi,

   I've a Golang project that has a private dependency in `go.mod` file. I've tried to introduce Super Linter to my project, but unfortunately it always fails with the following error.

## Issue

[code]

I've tried multiple solutions but none of them have worked.

## Trial 1

[code]

## Trial 2

[code]

## Trial 3

[code]

## Notes:

* I'm sure the token has the proper access.
* I've tried di

[2020-07-05 23:15] wangwalton opened #376 "Is there any way to cache the docker image?"
I'm using the following, it generally takes 1 minute to pull and build the image,
[code]

Is there any way I can do this faster by caching the docker image with github.com/actions/cache or https://github.com/marketplace/actions/build-docker-images-using-cache?

I tried with the latter docker cache, but got stuck at
[code]

[2020-07-06 01:30] DawidJanczak commented on #282
I don't think this is fixed unfortunately, or perhaps I'm testing it wrong. With `docker://github/super-linter:v3.2.0` I'm no longer getting the error for `rubocop_todo` because it fails earlier, on `.rubocop.yml`:
[code]
My settings:
[code]

[2020-07-06 02:24] LukeMondy commented on #355
Yes, agreed, same issue for me.

[code]
but in my `.dockerfilelintrc` file, I have:
[code]

[2020-07-06 02:50] tzachshabtay opened #378 "No matching version found for @typescript-eslint/experimental-utils@3.5.0"
**Describe the bug**

I tried to enable super linter (via github actions) on [my repository](https://github.com/tzachshabtay/krowser).
I'm getting a build failure:

[code]

Build log: https://github.com/tzachshabtay/krowser/runs/819913058

**To Reproduce**
Make a PR against my repo (I guess).

**Expected behavior**
I expected some linting action.

[2020-07-06 06:46] DawidJanczak commented on #282
A bit of an update for this: it seems to be working better with no `RUBY_CONFIG_FILE`, but a `.ruby-lint.yml -> .rubocop.yml` symlink as originally reported so I wonder if this is a different issue? It's still not working correctly though, it seems to be linting rubocop itself in that case:
[code]
So possibly this is yet another issue.

[2020-07-06 09:20] thematchless commented on #219
i thought the `VALIDATE_ALL_CODEBASE: false` would achieve this behaviour - i was wrong 😭

[2020-07-06 11:27] nemchik commented on #219
This will be nearly impossible to achieve as it would be up to the individual lint tools to determine whether there is an issue or not and in order to parse the code and check validity they usually need to read the whole file. Here is an example of why:

Original code:
[code]
New code:
[code]

What has changed above?
[code]
Became
[code]

Notice in the changed code we have the opening curly brace

[2020-07-06 11:43] thematchless commented on #219
Oh wait a second ... i didn't had enough coffee this morning. I didn't read that @mehagar was looking to achieve this for the changed lines only. I thought he was looking for a way to lint only the files he had touched with a pull request. That was the reason i was looking for and couldn't get to run. But thanks for the explanation @nemchik 👍

[2020-07-06 11:53] nemchik commented on #219
`VALIDATE_ALL_CODEBASE: false` I think should only lint changed files. It uses `git diff` I'm pretty sure. https://github.com/github/super-linter/blob/f948639bf18dcc7d9f20a3d1beb2964ef91fb252/lib/buildFileList.sh#L60

[2020-07-06 12:57] thematchless commented on #219
Interesting! I am not quite sure if i hadn't merged the latest changes from develop into my pull request and therefore got more changes while linting but i changed the `DEFAULT_BRANCH` from `develop` to `origin/develop` and now it seems to be working. Thank you a lot @nemchik 🙏

[2020-07-06 14:18] leviem1 commented on #368
Could be fixed by associative array in Bash 4...? This is an annoying little bug...

[2020-07-06 14:21] admiralAwkbar commented on #368
@leviem1 agree this bug sucks... Any help to resolve is much appreciated, busy week and not a ton of time to hunt :)

[2020-07-06 14:22] #237 closed

[2020-07-06 14:23] mehagar commented on #219
I understand what you mean. You're right - you would need to lint the entire file. But you could still only report on lines that have linting errors. If the linting tools report a line number, you could only pass that through the Github Linter if the line number was the same as a changed line in the PR.

I updated the PR's title to be "report" instead of "check".

[2020-07-06 14:42] admiralAwkbar commented on #376
@wangwalton that's a great question... as we add more language support, it seems the time goes up and up...
Reaching out to internal hosting to see what our options are :)

[2020-07-06 14:50] admiralAwkbar commented on #376
@wangwalton Another option would be to host the GitHub runner and have the image cloned to the machine already :)
this would bring down your costs, as well as speed up the process :)

[2020-07-06 15:09] zkoppert opened #382 "rubocop linting itself"
A bit of an update for this: it seems to be working better with no `RUBY_CONFIG_FILE`, but a `.ruby-lint.yml -> .rubocop.yml` symlink as originally reported so I wonder if this is a different issue? It's still not working correctly though, it seems to be linting rubocop itself in that case:
[code]
So possibly this is yet another issue.

_Originally posted by @DawidJanczak in https://github.com/git

[2020-07-06 15:09] zkoppert commented on #282
Opened a new issue @DawidJanczak so we can track any new developments there.

[2020-07-06 15:14] thematchless commented on #371
Nice! I have encountered the same problem with version `v3.2.0` today. I will try it tomorrow with version `v3.0.1` 👍

[2020-07-06 15:31] hoffmang9 commented on #368
I have narrowed this down to being introduced after 3.1.1. [This](https://github.com/Chia-Network/chia-blockchain/runs/842002998?check_suite_focus=true) is a successful run for 3.1.1 on the same codebase/branch from above.

[2020-07-06 15:51] #203 closed

[2020-07-06 17:02] GaboFDC commented on #378
Can you run against the latest version?

[2020-07-06 17:06] admiralAwkbar commented on #355
This should have been resolved in the latest at this point. Can anyone verify it?

[2020-07-06 18:29] leviem1 commented on #368
@admiralAwkbar That might help. If _I_ get the sword do _I_ get to be king? 😆

[2020-07-06 18:56] tdipadova3rd commented on #371
I'm seeing this issue on v3.2.0 and v.3.0.1.

[2020-07-06 19:40] jeonghanlee commented on #355
With the latest, I see the same issue.

[2020-07-06 19:42] nemchik commented on #376
Speaking of how long it takes, are actions having some kind of service disruption? A bunch of builds on PRs seem to be hung waiting to start.

[2020-07-06 19:43] nemchik commented on #355
Possibly related https://github.com/github/super-linter/pull/384

[2020-07-06 19:52] jeonghanlee opened #387 "Can shellcheck check bash script with suffix .bash together with .sh ? Or allow an alias?"
Super-linter shellcheck ignores `.bash` files, and  can check `.sh` file. I tried to create an alias, but it is ignored by superlint also.  Is there any way to tell the super-linter to check `.bash` file, `an alias file` or both?

[2020-07-06 20:04] nemchik commented on #387
![image](https://media1.giphy.com/media/l3nSN1sjbR4WXFDjy/giphy.gif)
https://github.com/github/super-linter/pull/388

[2020-07-06 20:26] jhomarolo commented on #371
HI @tdipadova3rd this version runs with 3.01 and works fine: https://github.com/jhomarolo/suma/tree/develop

[2020-07-06 20:28] nemchik commented on #371
Possibly related https://github.com/github/super-linter/pull/384

[2020-07-06 20:44] leviem1 commented on #374
It doesn't appear to be possible at this moment from what I can tell. I think it'd be very powerful if this tool allowed you to specify your own regex in its rule file, though that's probably more for a feature request.

[2020-07-06 20:53] leviem1 commented on #362
@admiralAwkbar Should I dedicate any time to tooling a check for this? I think it would be more intuitive to include an error message, but I don't imagine this is a top priority. Always happy to help!

[2020-07-06 21:06] mrchief commented on #371
I just used `docker://github/super-linter:latest` and it seems to work. I think latest is using v3.3.0.

[2020-07-06 21:27] admiralAwkbar commented on #362
That would be super helpful to give users feedback that the passing was pointing to a file and not a directory... Could be a fairly easy fix

[2020-07-06 22:01] leviem1 commented on #225
Related #374

[2020-07-06 22:12] GaboFDC opened #390 "Docker hub tag"
**Describe the bug**
The latest release is not tagged in docker hub with the specific version. `latest` tag is there, but `v3.3.0` should also be there

[2020-07-06 22:29] GaboFDC commented on #124
@tihuan i think is is solved now, can you check?

[2020-07-06 22:38] mrchief commented on #376
Or maybe pull layers based on languages to be validated. So if user specifies only JS, Ruby, pull only those containers?

[2020-07-06 22:44] GaboFDC commented on #134
Don't wanna bother too much, but we are still in time to fix this and get it on #372

Also, my team is blocked as we use some of the newer cops 😅

[2020-07-07 01:18] #362 closed

[2020-07-07 01:19] #387 closed

[2020-07-07 01:21] jhomarolo commented on #371
Hi @mrchief, it seems to work in version v3.3.0.

[2020-07-07 01:22] #368 closed

[2020-07-07 04:39] tzachshabtay commented on #378
Works with latest, thanks

[2020-07-07 04:39] #378 closed

[2020-07-07 04:50] chenrui333 opened #392 "Scala Support"
Scala linter support.

Choices are
- [scalafix](https://github.com/scalacenter/scalafix)
- [scalafmt](https://github.com/scalameta/scalafmt)
- [scalastyle](https://github.com/scalastyle/scalastyle)
- [wartremover](https://github.com/wartremover/wartremover)

[2020-07-07 04:52] chenrui333 opened #393 "Bazel Support"
bazel linter

- [buildifier](https://github.com/bazelbuild/buildtools/blob/master/buildifier/README.md)

[2020-07-07 05:10] zkoppert commented on #134
@GaboFDC Thanks for sharing that this is a priority for your team. You can always fork the super linter and make the change then point your report at that until we catch up if needed. Can you confirm the minimum version needed by your team?

@admiralAwkbar in chatting on the #ruby channel, consensus was that for public projects using the default upstream rules would be best. I'd recommend we adopt

[2020-07-07 05:54] jeonghanlee commented on #387
It works! Thanks!

[2020-07-07 08:05] bznein commented on #143
Hi @RussellRollins, I created a PR #370 which aims at fixing this issue. The owners of the repo want to gather some more feedback from other GO developer. If you have some time to spare can you have a look at it and leave your opinion there? Thanks!

[2020-07-07 14:12] GaboFDC opened #395 "Editorconfig should not check `.git/` folder"
**Describe the bug**
Currently, it will check any single file in the repo.

Also for reference #391

**To Reproduce**
Just lint any repo with editor config enabled.

**Expected behavior**
We should exclude this folder.

**Screenshots**
![image](https://user-images.githubusercontent.com/1425500/86794347-056abb00-c032-11ea-9206-925bbbd068ce.png)

**Additional context**
There may be also others folde

[2020-07-07 14:43] jhomarolo commented on #390
Should be something like that: https://hub.docker.com/layers/github/super-linter/v3.3.0

[2020-07-07 16:45] tihuan commented on #124
Hi @GaboFDC !

Thanks so much for pinging! Yes, I see that both requests proposed [here](https://github.com/github/super-linter/issues/124#issuecomment-646241087) are now resolved 🙏 Really appreciate the warp speed development here!

https://github.com/github/super-linter/commit/70f51ccd8fafdd647fa7846f8197efe0379100e9
https://github.com/github/super-linter/pull/167/files

Closing!

[2020-07-07 16:45] #124 closed

[2020-07-07 20:34] admiralAwkbar commented on #368
![](https://media.giphy.com/media/125WvQGXcUfEBy/giphy.gif)

[2020-07-07 20:48] nemchik commented on #368
![!](https://media2.giphy.com/media/yUI3a7RwLhOFy/200.gif)

[2020-07-07 21:50] zkoppert opened #396 "HTMLHint v1.0.0 upgrade"
For this issue we want to make the necessary changes needed to support HTMLHint v1.0.0 once it is available.

_Originally posted by @Shinigami92 in https://github.com/github/super-linter/pull/373#issuecomment-654679978_

[2020-07-08 07:06] leviem1 commented on #376
This is actually a pretty interesting issue.

Following the instructions in README told me to use the docker image directly in my action. (Should that documentation be updated for GitHub actions?) This brings down runtime tons since we're just pulling the image, but using the GitHub action triggers a rebuild if I'm correct. Not sure what can be done about this on super-linter's end.

Unfortunately

[2020-07-08 13:22] admiralAwkbar commented on #390
just uploaded... not sure how it was missed...

[2020-07-08 13:22] #390 closed

[2020-07-08 13:26] #355 closed

[2020-07-08 13:39] admiralAwkbar commented on #395
@GaboFDC would this be as simple as adding the check in the `worker.sh`?

[code]

We are already excluding the tests folder and node modules... just want to make sure I'm not off base

[2020-07-08 13:40] #352 closed

[2020-07-08 15:52] nemchik commented on #395
[code]
Little more compact if you're interested.

[2020-07-08 16:22] #163 closed

[2020-07-08 18:41] #201 closed

[2020-07-08 19:19] Tiedye commented on #175
Any comments from the maintainers on this issue?  We can speculate on why the decision was made but without feedback it remains inexplicable.

[2020-07-08 19:27] GaboFDC commented on #134
#372 didn't solve this, I keep the same version as wasn't 100% sure about the update. But if it is confirmed now, I can create another PR updating it to v0.87.0.

[2020-07-09 08:47] sergey-muntyanu opened #399 "ESLint config extending and plugins"
I use my own ESLint configuration file and have some configs and plugins (arbnb, prettier, etc.) which are installed via npm.
It was copied to `.github/linters/`.
I have an error:
![Screenshot from 2020-07-09 11-40-12](https://user-images.githubusercontent.com/63044975/87017832-28839f00-c1d9-11ea-8004-f98d781cc47c.png)
Is it possible to use extending configs and plugins configuration? If "yes", co

[2020-07-09 10:38] KatarzynaUlichnowska opened #400 ""VALIDATE_ALL_CODEBASE: false" not having an effect"
Hello,
we have followed the instructions from the documentation and created the file in our repository: https://github.com/YetiForceCompany/YetiForceCRM/blob/developer/.github/workflows/linter.yml

The value VALIDATE_ALL_CODEBASE was set to "false" in order to check only new and edited files, instead of verifying the entire project. However, each time it is launched, the entire project is being ch

[2020-07-09 13:06] admiralAwkbar commented on #400
@KatarzynaUlichnowska can you try to run it with the flag: `ACTIONS_RUNNER_DEBUG: true`
From the log output, it seems to be honoring the fact that the `VALIDATE_ALL_CODEBASE: true` as you see the output `Files that have been modified in the commit(s)`

But when it generates the diff, it seems to pull the whole codebase... also, can you try to go from `github/super-linter:v3` and then try `github/s

[2020-07-09 13:10] mariuszkrzaczkowski commented on #400
ACTIONS_RUNNER_DEBUG: true
https://github.com/YetiForceCompany/YetiForceCRM/runs/854048614?check_suite_focus=true

super-linter:latest
https://github.com/YetiForceCompany/YetiForceCRM/runs/854051969?check_suite_focus=true

[2020-07-09 14:14] julie-garrone commented on #305
I tried setting up a dockerfilelint configuration file using the latest super-linter image and it is still not working.
The [`.dockerfilelintrc` file](https://github.com/ODMDev/odm-ondocker/blob/super-linter/.github/linters/.dockerfilelintrc) has been detected [here](https://travis-ci.org/github/ODMDev/odm-ondocker/builds/706516691#L368). It should disable the `apt-get_recommends` and `missing_tag

[2020-07-09 14:42] past-due commented on #305
The latest super-linter images does not yet include fixes relating to this issue, but have you tried replacing:
[code]
with:
[code]
in your GitHub Actions workflow?

[2020-07-09 14:59] admiralAwkbar opened #401 "Make Raku Install better"
@nbrown As you can see from the updated **Dockerfile**, we have moved to a more elegant way of installing some of the dependancies.

example:
[code]

Could we utilize something similar to install Raku?
Possibly from `https://hub.docker.com/_/rakudo-star`?
Or does it not have all the binaries we need?

I have just noticed the build and compile times have gone up, and the Raku step is a bit long

th

[2020-07-09 15:20] julie-garrone commented on #305
I am running the super-linter docker image locally in my travis job with the command:
`docker run -e RUN_LOCAL=true -e DISABLE_ERRORS=true -v $PWD:/tmp/lint github/super-linter`

Is there a solution to test in this case?

[2020-07-09 16:08] GaboFDC commented on #401
I noticed the same but wasn't able to find a quick solution. But do agree would be great if there was a binary we could use instead of having to build it from scratch.

[2020-07-09 16:14] GaboFDC commented on #305
If you need to test ASAP, @julie-garrone you would have to build the container from master, and use that one in the travis server.
If not, I think a new version of the docker image would be pushed soon, and you can wait to use that one

[2020-07-09 18:11] admiralAwkbar commented on #400
Its ineterestin i see the command:
[code]

## Reproduce
- git clone repo
- `git checkout master`
- `git diff --name-only 'master..f7005eac5f6b3e8efda27b146182a926c142f0dd' --diff-filter=d`

This will show you the exact same files that are being checked.

I ran and also see a huge diff in the files...

Is your development that much different that your master??

[2020-07-09 20:51] mariuszkrzaczkowski commented on #400
Yes,
it's working now
`DEFAULT_BRANCH: developer`

[2020-07-09 22:00] julie-garrone commented on #305
Thanks for the explanation !
In that case I will wait for the new version.

[2020-07-10 00:01] zkoppert commented on #400
@KatarzynaUlichnowska Is it accurate that your problem is resolved? It wasn't clear to me if @mariuszkrzaczkowski is working on the same repo as you or not. Thanks!

[2020-07-10 00:15] zkoppert commented on #393
I suggest implementing this using the `- warn` flag instead of the `-fix` flag. Ready to work on. Check out https://github.com/github/super-linter/wiki/Adding-new-language-support for anyone who wants to start work on this.

[2020-07-10 00:21] zkoppert commented on #392
It would be great to see some discussion on which solution to use, preferably from those with Scala experience. No personal opinion myself besides that we want to make sure that we are linting and not fixing automatically to stay consistent with the rest of this project.

Check out https://github.com/github/super-linter/wiki/Adding-new-language-support for anyone that would like to implement one o

[2020-07-10 00:28] zkoppert commented on #375
It looks like the issue could be access like you mentioned. You might try testing this in a public repository with the same workflow files to narrow down that it is indeed an access issue.

[2020-07-10 00:34] zkoppert commented on #374
You could write a script to remove the files that you don't want linted and run that before the linter runs. That may work.
That would mean adding this to your workflow file before the linter section:
[code]

[2020-07-10 00:38] zkoppert commented on #297
@ferrarimarco Does #221 solve what you are trying to accomplish?

[2020-07-10 06:20] KatarzynaUlichnowska commented on #400
Hello,
yes, it is resolved - thanks a lot for your help. Mariusz is the Director of Product Development in YetiForce, so he is my colleague. That's why he also participated in this issue.

[2020-07-10 06:20] #400 closed

[2020-07-10 06:28] Bjego commented on #150
@BroderPeters yep static code analysis has been deprecated in flavor of so called roslyn analysers. These are dependencies which you add to your project and then you only build your code as usual. And by the way SonarQubes scanner isn't static as well. It requires a code build anyway (https://docs.sonarqube.org/latest/analysis/scan/sonarscanner-for-msbuild/).

See this blogpost: https://devblogs.m

[2020-07-10 07:30] Bjego commented on #150
@BroderPeters not sure if you are a member of Github, or @admiralAwkbar, but maybe it's worth having a quick chat with the dotnet team for the best solution (e.g. @dsplaisted) as Github and Dotnet are parts of Microsoft ;-)

[2020-07-10 09:24] leviem1 opened #404 "Docker hub v3 tag incorrect"
**Describe the bug**
The v3 Docker image tag points to v3.2.0. Clears up _a lot_ of confusion of comments in #368 (see below for more).

**Expected behavior**
Should point to v3.3.0 image.

**Additional context**
I'm a bad developer; this means that #359 _did_ successfully solve #356 making #368 and my #384 PR duplicates.

I assumed the issue was still present in v3.3.0 as my action used the v3 ta

[2020-07-10 13:23] admiralAwkbar commented on #404
@leviem1 I just pushed `3.3.1` can you verify looks good?

[2020-07-10 13:24] admiralAwkbar commented on #404
Publishing `3.3.1` kicked the job https://github.com/github/super-linter/actions/runs/164595477

[2020-07-10 13:24] admiralAwkbar commented on #404
Also... 404... lol

[2020-07-10 13:25] #401 closed

[2020-07-10 13:59] leviem1 commented on #404
The GitHub Action tag looks great. However, the [Docker Hub](https://hub.docker.com/r/github/super-linter/tags) tags aren't being updated. The README and Marketplace page both instruct users to use the Docker images, which is probably confusing for new users.

[2020-07-10 14:04] leviem1 commented on #404
Also, new image using GitHub actions is taking 10+ minutes to run. We should probably open a new issue to discuss that, but I don't think it's realistic to use super-linter for small projects anymore.

[2020-07-10 14:54] #395 closed

[2020-07-10 14:55] admiralAwkbar commented on #404
@leviem1 As long as users are using the docker image and not the source, they get decent time... but agree, we need to look at options to speed up the full process

[2020-07-10 15:01] admiralAwkbar commented on #404
I think the issue stems from an action not triggering when another action triggers. So we use an action to trigger a release creation, which we want to trigger another action to start and upload to docker hub... and it's not firing it

[2020-07-10 19:31] charlie632 opened #407 "Latest release 3.3.1 breaks workflow (error: pathspec <branch> did not match any file(s) known to git)"
**Describe the bug**

Workflow throws the following error:

`[error: pathspec <branch> did not match any file(s) known to git]`

The github action was being pulled with the `latest` tag.

Fixed the tag to a previous version (3.3.0) and it worked without any problems. The codebase was the same, the only change was the action version.

[2020-07-10 21:43] leviem1 commented on #404
Well, did we _create_ a release or _publish_ it? I think the "Deploy Docker Image - Release" only runs on release creation, which might not be triggered when you don't save as a draft first. Consider running only on "published" instead.

[2020-07-11 03:32] past-due commented on #404
Another possibility (I haven't looked at the workflows involved yet):

Source: https://github.community/t/github-action-not-triggering-gh-pages-upon-push/16096/2

(This applies to all successive events - not just GitHub Pages builds, although that's a common case where this crops up. The Personal Access Token workaround should work here to trigger successive events + workflows.)

[2020-07-11 17:23] jhomarolo commented on #399
Hi @sergey-muntyanu , yes it is possible.

You need to add the plugins in the devdependencies and run npm i before running.

I have an example repository using prettier: https://github.com/herbsjs/suma

[2020-07-12 11:51] lechen26 commented on #374
@zkoppert yea i can, its just that i need these files later on the workflow.
its just the usually the first steps of a workflow is checkout .
but i end up checking out a smaller repository and ignore the specific things i dont want through the yml ignore file.

its still would have been nice to tell the linter which folder to analyze or which to exclude

[2020-07-13 13:28] #407 closed

[2020-07-13 13:38] krowlandson opened #409 "Failed to switch to main branch to get files changed"
**Describe the bug**
Have provided feedback where I believe the source of the problem lies, but do not want to update without understanding why this was removed:
https://github.com/github/super-linter/commit/2f3011059a56a1d294f0b2ecef36f725007106b4

To summarise, we have started to get the following error when running a partial scan against changes only:

[code]
This has started to appear on our p

[2020-07-13 14:00] nemchik commented on #409
https://github.com/github/super-linter/pull/408 resolved this. Should be in the next release.

[2020-07-13 14:00] krowlandson commented on #409
👯 Working again now, thank you #408 !

[2020-07-13 14:00] #409 closed

[2020-07-14 13:20] admiralAwkbar opened #414 "Create Test cases for TAP format"
**Is your feature request related to a problem? Please describe.**
Need to create tests to validate the output of the TAP format to make sure its compliant.

**Describe the solution you'd like**
Add additional test cases to the test runs to validate the output

**Describe alternatives you've considered**
Writing it myself... junit...

**Additional context**
Add any other context or screenshots abo

[2020-07-14 17:58] andres-j opened #416 "Unexpected behavior using VALIDATE_HTML flag?"
**Describe the bug**
Setting VALIDATE_HTML=true in linter.yml appears to not affect behavior of the linter. When only VALIDATE_HTML is set, linter runs as if nothing is set (lints all languages). When other flags are set, linter runs as if VALIDATE_HTML=false (regardless of whether you have set the env flag).

**To Reproduce**
Steps to reproduce the behavior:
1. Add "VALIDATE_HTML=true" as an env

[2020-07-14 19:01] #416 closed

[2020-07-14 19:59] #248 closed

[2020-07-14 22:59] zkoppert commented on #335
I personally try to avoid multiple linters for the same lang. Okay to close this issue @nemchik ?

[2020-07-14 23:01] nemchik commented on #335
It seems the topic didn't garner much attention, so I think it's fine to close. If there becomes a need for it in the future it can be addressed in a PR.

[2020-07-14 23:01] #335 closed

[2020-07-14 23:02] zkoppert commented on #297
Closing due to no response. Please reopen to discuss further.

[2020-07-14 23:02] #297 closed

[2020-07-14 23:09] zkoppert commented on #375
@ahmedhosnycs Is the repository that you are working on public? If so, can you provide a link. I'd like to try some troubleshooting.

[2020-07-14 23:17] zkoppert commented on #358
Interesting idea. Not sure how many would actually use this. Wouldn't pre releasing be similar to pointing to master (`uses: github/super-linter@master`). I guess that a difference may be that pre-releases would be much faster since they don't build every time.

@admiralAwkbar @GaboFDC @Hanse00 would any of you use pre-releases if they were available?

[2020-07-14 23:36] Hanse00 commented on #358
Let's take a step back: What would a pre-release feature solve?

It sounds to me like the problem here is: We're unsure if the next version coming out, will be compatible with our codebase.
Is that accurate?

If that's the case, I don't think complicating the release process is the right solution. Instead we have:

1. Semantic versioning which (should) guarantee that any minor update will be compa

[2020-07-14 23:47] nemchik commented on #358
@Hanse00 Valid points, and I cannot disagree. My main focus on the idea of pre-releases was for when a new language is added, but I believe you are correct in that semantic versioning should solve that use case assuming users are making use of it and not pinning `latest` (which is kind of on them to learn from that mistake).

I had not considered semantic versioning as a solution to that problem.

[2020-07-15 00:01] admiralAwkbar commented on #358
I personally use latest like a pre-release... It helps me find the things that we shipped that needs to be fixed before we cut another major release

[2020-07-15 00:23] zkoppert commented on #358
@nemchik Ok to close?

Also I have to say, I really appreciate your involvement in this project! Keep the ideas coming! 🎉

[2020-07-15 00:33] #358 closed

[2020-07-15 05:31] zkoppert commented on #7
Hey @Hanse00, I'm starting to notice several other requests coming in that are blocked without having something like that this issue describes. What are your thoughts on what this could look like?

[2020-07-15 05:37] zkoppert commented on #110
Check out the [wiki](https://github.com/github/super-linter/wiki/Adding-new-language-support) for help to make sure all areas are covered when adding support for Elixir.

[2020-07-15 05:42] zkoppert commented on #115
It looks to me like this is important to many people based on the comments and 👍 here. As far as I am concerned, Java support is ready to work on. We have created some useful information to consider when adding support for new languages like Java on the [wiki](https://github.com/github/super-linter/wiki/Adding-new-language-support).

Anyone who would like to can pick up this work by starting a PR

[2020-07-15 05:44] zkoppert commented on #116
Closing for lack of traction.

[2020-07-15 05:44] #116 closed

[2020-07-15 05:50] zkoppert commented on #117
@fluxsauce Are you still interested in this? Would you be willing to get things started with a PR to implement a mapping file?

[2020-07-15 07:40] quackduck commented on #115
I would like to work on this. I'll make a PR when I'm done.

[2020-07-15 11:54] ahmedhosnycs commented on #375
@zkoppert Unfortunately the repository is not public but private and also importing modules from another private Go repos.

I do think it is indeed an access issue since linting YAML and MD files that are on the same repo are passing fine.

[2020-07-15 14:35] GaboFDC commented on #272
@kunzese Can you test against latest version?

[2020-07-15 14:39] BroderPeters commented on #150
@Bjego thanks for the detailed and reasonable answer of yours!
Your arguments regarding the Rosalyn analyzers seem valid to me and I think it deserve a shot. I also like your steps of behavior and options.

Regarding your second comment: No, I'm not a member of GitHub (unfortunately (; ). But I do agree that if there is the possibility to ask the creators to do so.

[2020-07-15 14:44] GaboFDC commented on #382
Hey @DawidJanczak can you clarify about this? and test if there is still a problem in the latest version?

[2020-07-15 14:51] GaboFDC commented on #376
Caching the docker image is more on the GitHub actions end than the action itself. Something related is https://github.com/actions/cache/issues/31 but seems like there is no current plan for the cache action to be used with docker at the moment but in the comments, there are some examples of community actions that can be used for this

[2020-07-15 14:57] GaboFDC commented on #305
Hey @julie-garrone can you test against `:latest` tag? should work correctly now.

PD, @admiralAwkbar I just noticed 3.3.1 tag is not present on docker hub, like previously on https://github.com/github/super-linter/issues/390

[2020-07-15 21:09] #120 closed

[2020-07-15 21:47] KineticTheory opened #422 "Super-linter reports "Run failed" when no files are modified."
Hi,

I added super-linter as an extra CI for my C++ project and it is an excellent linter for our script files.  However, some PRs don't touch any script files.  For these PRs, the super-linter CI reports "Run failed".

![super-linter-failed](https://user-images.githubusercontent.com/17579601/87601404-45751200-c6b2-11ea-9d5b-03014e2ce4a6.jpg)

Is there a way to disable the check when no applicable

[2020-07-15 22:41] cvega opened #423 "lua support"
**Is your feature request related to a problem? Please describe.**
Let's add lua support

**Describe the solution you'd like**
https://github.com/luarocks/luacheck in super-linter

**Describe alternatives you've considered**
The alternatives didn't look as good/maintained so I didn't consider them

**Additional context**
Lint everything

**Note**
I'll add it, I've done this once before.

[2020-07-16 04:08] DawidJanczak commented on #234
@admiralAwkbar I just tested this again with v.3.3.0 and I'm afraid this is still an issue, `AllCops/Exclude` is not being honoured.

[2020-07-16 04:38] DawidJanczak commented on #382
Hello @GaboFDC I just tested on the newest published version (3.3.0) and it seems to be all working fine now! Thanks, this can be closed :)

[2020-07-16 04:46] DawidJanczak opened #424 "Rubocop slowness"
Hello!

I'm not sure this is something that can be easily fixed/acted upon, but linting Ruby is incredibly slow on large codebases. It takes a little over a minute to run it inside my docker container on 1043 files, but the same number of files takes super linter over 22 minutes to finish. If I understand this comment https://github.com/github/super-linter/issues/234#issuecomment-647225064 correct

[2020-07-16 13:02] #382 closed

[2020-07-16 13:07] #134 closed

[2020-07-16 13:29] admiralAwkbar commented on #305
@GaboFDC just pushed 3.3.1. seems we had a bug in deploy

[2020-07-16 13:29] #305 closed

[2020-07-16 13:33] #404 closed

[2020-07-16 13:35] admiralAwkbar commented on #422
@KineticTheory Can you show me the lines in the `Lint Code Base` that are showing an error?

It should look for all file types it can validate, then base an error counter on those failures... So it shouldn't have failed.

Also, I see your using 2.1.0, can you try to bump to `3.3.1` or `latest` and see if the error goes away?

[2020-07-16 13:41] quackduck commented on #115
Which linter should I implement? SpotBugs, Spotless, PMD or Checkstyle? Which one?

[2020-07-16 14:16] zkoppert commented on #376
Confirmed with GitHub staff on the actions feature, not really any great options regarding caching right now. Re-architecture is still an option to use multiple containers but I will direct that conversation to #7 . Closing this issue for now until another solution is available.

[2020-07-16 14:16] #376 closed

[2020-07-16 14:31] zkoppert commented on #115
Spotless looks like a good one after a quick glance but I'm not a regular Java developer so I would yield to others if they have opinions.

[2020-07-16 14:32] zkoppert commented on #115
Thank you @quackduck!! ✨ 🎉

[2020-07-16 14:40] KineticTheory commented on #422
@admiralAwkbar I copied `linter.yml` from an example I found somewhere on the internet (it is different that what is in your README.md).  Indeed, I was using 2.1.0.  I will update to 3.3.1 and see if that fixes my problem.  Thanks for the quick feedback.

[2020-07-16 14:47] quackduck commented on #115
I'll work on Spotless, for now, then.

[2020-07-16 15:07] #422 closed

[2020-07-16 15:08] admiralAwkbar commented on #422
@KineticTheory Did this solve your issue? i wasn't able to reproduce on newer versions

[2020-07-16 15:09] KineticTheory commented on #422
@admiralAwkbar Yes. It is fixed.  Sorry, I got distracted by another issue and just got back to checking on the report.

[2020-07-16 15:11] #234 closed

[2020-07-16 17:14] tinder-yukisawa opened #432 "YAML File diff parser errors on Jinja yaml (v3 super linter)"
This does not happen with v2 but started occuring with v3. The linter throws this error in the logs in the initial phase that detects which files have been changed. I don't think the parser likes the Jinja syntax which includes `%`.
[code]

[2020-07-16 17:34] LifeIsStrange commented on #115
@quackduck nice to know you're working on it!
Please if possible, make sure to use their "modern" gradle plugin and not the old one.
The modern one should be more optimized ->
https://github.com/diffplug/spotless/issues/600

[2020-07-16 17:57] admiralAwkbar commented on #432
@tinder-yukisawa hello!
It seems that its a limitation of the `ymllint`.. you have 3 real options it seems:

https://github.com/github/super-linter/blob/master/docs/disabling-linters.md#yaml

I hope this helps :)

[2020-07-16 19:24] tinder-yukisawa commented on #432
Hi @admiralAwkbar thanks for your help!
So I do have a `.yaml-lint.yml` file set to ignore any folders with Jinja templates but I think this error is happening before any linting occurs or before that config is loaded.

I guess one way to over come this is to `rm` any dirs like this before running the super-linter?

[2020-07-16 20:01] admiralAwkbar commented on #432
@tinder-yukisawa  interesting... I will try to validate it loads the file and uses it... will test tomorrow if I can get a few cycles
thanks!

[2020-07-17 06:16] davidjbradshaw commented on #399
@jhomarolo you config only works because you only include plugins that come with super-linter. It is not a solution to the question of how to install other plugins and configs.

[2020-07-18 04:06] peternewman commented on #135
And cpplint please

[2020-07-18 04:11] peternewman commented on #151
:100: This is also potentially as simple as just loading and unloading the relevant problem matcher:
https://github.com/actions/toolkit/blob/master/docs/problem-matchers.md

With the advantage problem matchers do them as annotations rather than noisy and stale comments (when you fix them).

[2020-07-18 14:47] kunzese commented on #272
@GaboFDC

Unfortunately, it does not work properly even with the new version. IMHO it's because of two reasons.

The first one is easy #436:

https://github.com/github/super-linter/blob/de92cc732e16c1b39541c0b39466e389eb726e83/lib/worker.sh#L607

This will never return any files, because globbing within quotes is not possible.

![image](https://user-images.githubusercontent.com/47970541/87854659-b

[2020-07-19 00:20] LowlyDBA commented on #128
Bump to prevent stake issue tagging.

[2020-07-19 00:32] ericdallo commented on #144
I'm still interested in that...

[2020-07-20 03:39] zkoppert commented on #164
Closing due to no response or support

[2020-07-20 03:39] #164 closed

[2020-07-20 14:11] ferrarimarco commented on #297
Hi @zkoppert ! Sure, we can close this :)

[2020-07-20 14:13] sergey-muntyanu commented on #399
@jhomarolo I'll try your solution and add feedback here.

[2020-07-20 19:07] bbaassssiiee commented on #232
I made fork for a PR.

[2020-07-21 03:44] Hanse00 commented on #7
Hey! Sorry, the day job has been keeping me quite busy lately 😄 Let me try to find some time this weekend to dedicate towards this.

[2020-07-21 04:14] jghaines opened #441 "cfn-lint does not respect 'templates' setting in config files"
**Describe the bug**

Cannot use `.github/linters/.cfnlintrc.yml` to specify `templates:` for cfn-lint

**To Reproduce**

Local cfn-lint correctly ignores empty.yaml. super-linter errors on it.

[code]

[2020-07-21 04:36] artob commented on #123
Changing the Python linter default from Pylint to Flake8 would indeed be a welcome improvement. Having just set up the Super-Linter to lint several of my Python projects, I am reminded why I haven't been using Pylint: the annoying number of false positives. As it stands, the Super-Linter is pretty useless for Python projects.

From a quantitative analysis of the problem at https://lukeplant.me.uk/

[2020-07-21 04:41] aniforprez commented on #123
Yes I agree with @artob. I find pylint to be utterly useless since to have it have any level of usefulness one needs to heavily configure the rules and manually weed out all the false positives as one discovers them over a rather large time frame. Flake8 on the other hand is MUCH more sensible with reasonable defaults that require minimal configuration and babysitting

[2020-07-21 04:43] artob commented on #188
I'm late to the party, but I feel I must point out that you might be overestimating StandardRB's fan base a little. Just because something names itself as "the standard" doesn't mean that it is. Most existing Ruby projects would _not_ pass StandardRB's rather opinionated ruleset.

Switching from the current ruleset to StandardRB would be a breaking change for current users of the Super-Linter.

[2020-07-21 04:59] artob commented on #123
The sheer number of [Flake8 actions on the Marketplace](https://github.com/marketplace?type=actions&query=flake8) is also a useful indication of the demand for this, and shows the value that the Super-Linter could bring to the table here by not making us all have to choose from a long list such as:

- https://github.com/marketplace/actions/flake8-action
- https://github.com/marketplace/actions/run

[2020-07-21 05:22] zkoppert commented on #7
No problem. I think this is going to be one of the defining features of v4.0. Really appreciate you working on it!

[2020-07-21 12:33] julie-garrone commented on #305
@GaboFDC I have tested with the latest tag (from 23h ago) and I still have the same issue.
My .dockerfilelintrc file is detected but does not seems to be applied.

Again in the latest image, the dockerfilelint command does not seems to manage the `-c` option.

[code]

[2020-07-21 13:25] artob commented on #120
Testing this just now, I get this anomaly:

<img width="613" alt="Screen Shot 2020-07-21 at 16 20 28" src="https://user-images.githubusercontent.com/4963/88060164-82d41680-cb6e-11ea-87b6-ad9d40123976.png">

- [The GitHub Actions run in question](https://github.com/dogmatists/dogma.dart/runs/894341978)

- [The GitHub Actions workflow code](https://github.com/dogmatists/dogma.dart/blob/1559b8ac996d3

[2020-07-21 14:01] cvega commented on #120
@artob Thanks for the report. I'll take a look at this and get back to you shortly.

[2020-07-21 20:11] admiralAwkbar opened #453 "Fix Tap reporting tests"
We have several `.tap` that are ignored and either need to be:
- Fixed
- Removed

This would greatly help if someone could take a look :)

[2020-07-21 21:27] zkoppert opened #454 "git LFS seems incompatible with the super-linter"
**Describe the bug**
<img width="819" alt="Screen Shot 2020-07-21 at 2 23 37 PM" src="https://user-images.githubusercontent.com/6935431/88108650-0802ff80-cb5e-11ea-9e99-2bfee25a9cf0.png">

**To Reproduce**
Steps to reproduce the behavior:

1. Go to a repository with git LFS objects
2. Create a PR to run the super-linter on
3. Observe error in the above description

**Expected behavior**
I would wa

[2020-07-21 22:40] GaboFDC commented on #123
Giving this a go, will be a large change in order to allow pylint and flake, like we do for eslint and standard in JS

[2020-07-22 01:16] GaboFDC opened #456 "Getting file type broken+"
I think this broke the command, can you check?
This also shows that we don't have test for when `VALIDATE_ALL_CODEBASE` is false.
Kind of poetic that @admiralAwkbar broke the awk 😂

_Originally posted by @GaboFDC in https://github.com/github/super-linter/pull/449#discussion_r458477215_

[2020-07-22 01:27] #456 closed

[2020-07-22 01:27] admiralAwkbar commented on #456
@GaboFDC I let y'all down lol my bad

[2020-07-22 02:27] jberkers42 opened #458 "Super-linter fails on Azure Resource Manager template files, ignores custom configuration"
**Describe the bug**
We are using the super-linter with GitLab, and is working great for most file types.  We have some existing Ansible roles that make use of ARM templates supplied by F5 Networks.  These ARM templates fail validation using the default arm-ttk linter configuration.

The source ARM template is located here:

[F5 BigIP Standalone Deployment](https://github.com/F5Networks/f5-azure-a

[2020-07-22 07:16] quackduck commented on #115
Sorry for taking so much time to get back to this

I made a [PR](https://github.com/github/super-linter/pull/459) - #459

I'm not sure how I should continue. I've never used Gradle or Docker. If I'm not mistaken, the PR wouldn't work because we haven't given Docker a command to install Spotless, right?

[2020-07-22 11:13] LifeIsStrange commented on #115
@quackduck I'm a noob at docker so I cannot really help you :/
Maybe that you could take inspiration from the PR for Kotlin?
https://github.com/github/super-linter/pull/246
@admiralAwkbar
@Kim1Jun
You might give some hints and be interested as it would allow Kotlin Klint support through spotless which would be a more modern gradle integration and allow things beyond what Ktlint can do and enable b

[2020-07-22 11:55] quackduck commented on #115
Thanks! I’ll have a look. I don’t know Gradle though. Lemme see what I can learn from #246

[2020-07-22 15:31] admiralAwkbar commented on #458
@jberkers42 can you show the lines above that show that the linter found your linter rules file and used it?

Testing locally and it's working for me...
Also what version of the linter are you using?
Thanks!

[2020-07-22 22:53] jberkers42 commented on #458
There don't appear to be any lines indicating that the linter found my rules file.

The version I used was :latest at the time of running, but I cannot find a specific version.  Maybe the docker image reference in the output helps.

Full output below:

[code]

[2020-07-23 00:49] elopez opened #464 "Indicating VALIDATE_JSON=false breaks linting"
**Describe the bug**
Setting VALIDATE_JSON=false breaks linting. Removing VALIDATE_JSON from the environment restores linting of all file types.

**To Reproduce**
Steps to reproduce the behavior:

0. Set `VALIDATE_ALL_CODEBASE: true` to lint all files.
1. Add `VALIDATE_JSON: false` to the environment as well, because your repo has some known invalid `.json` files and you don't want to lint them.
2

[2020-07-23 00:54] elopez commented on #464
I should read the documentation completely before filling bug reports, sorry about that.

[2020-07-23 00:54] #464 closed

[2020-07-23 03:12] elopez commented on #157
@jgaffiot I'm struggling to get your workaround to work, I suspect it is because some of the dependencies I need have binary components (.so libraries), and the super-linter docker image uses Alpine Python, which has musl libc, in contrast to the Ubuntu host where the venv is created, which uses glibc. Do you have any ideas on how we could make it work? :thinking: Thanks!

[2020-07-23 03:25] quackduck commented on #115
#246 just curled a binary for installation. We could do that but we wouldn't get a binary for Spotless.

Anyone who uses Gradle or knows how I can add Spotless feel free to make suggestions (Is it possible to have 2 contributors in a PR? If so, we could do that)

[2020-07-23 08:04] jgaffiot commented on #157
If the problem really comes from incompatibilities between glibc and musl, I suppose you would have to build your Python dependencies in an Alpine-based image. Unfortunately, it seems that Github does not provide Alpine-based image for actions, neither [natively](https://docs.github.com/en/actions/reference/virtual-environments-for-github-hosted-runners) and neither with [self-hosted runner](https

[2020-07-23 08:38] sirReeall commented on #115
@quackduck let me have look see

[2020-07-23 09:42] sirReeall commented on #115
I should state that I've never used spotless before, but I can help with the docker part.

#246 is a good example of a linter that you can run at the [command line](https://github.com/pinterest/ktlint#installation). That makes the install and running pretty easy inside the docker container. Which is why you see the curl for download and the command to run the linting [here ](https://github.com/git

[2020-07-23 10:01] sirReeall commented on #115
Just to add doesn't seem like [running Spotless without gradle/ maven](https://github.com/diffplug/spotless/issues/268) would be possible

[2020-07-23 10:41] quackduck commented on #115
So what do you think I should do? I have no experience with Gradle, Maven or Docker 😐

Do you need Gradle or Maven to be able to help with the Docker part?

[2020-07-23 12:07] sirReeall commented on #115
I had a quick look at [PMD ](https://pmd.github.io/)and [Checkstyle](https://checkstyle.org/cmdline.html), both these have options to run from the command line

[2020-07-23 12:43] quackduck commented on #115
Done! I gave you access.

[2020-07-23 12:55] admiralAwkbar commented on #115
@quackduck @sirReeall awesome work here. Let me know when it gets closer so i can poke around and see fi i can help :)

[2020-07-23 13:19] jberkers42 commented on #458
Hi @admiralAwkbar,

I dug a little further into this on our GitLab instance.  I recalled having issues with the Ansible Linter as well.

I tried manually specifying the path to the .gitlab/linters folder, and turning on debug, but had the same result.  I did get confirmation that the rules files were not being picked up, so that was a bonus.

I ended up trying the following snipped in my `.gilab-c

[2020-07-23 14:13] admiralAwkbar commented on #458
@jberkers42 Thank you for the kind words. We don't do a ton of testing on GitLab CI :) but anything we can do to help, please make a PR and we would be glad to help :)

[2020-07-23 14:13] #458 closed

[2020-07-23 14:24] #454 closed

[2020-07-23 14:26] #414 closed

[2020-07-23 14:27] #142 closed

[2020-07-23 14:28] admiralAwkbar commented on #153
At this point, if you need a specific version, the best option is to fork the repository

[2020-07-23 14:28] #153 closed

[2020-07-23 14:32] jwiebalk commented on #424
@DawidJanczak are you using `VALIDATE_ALL_CODEBASE=true`? Otherwise it should only be linting the files that have been changed in the commit/PR.

The linters all run on a single file each time since there should only be a few files changed. We could look at running against entire directories at once when doing the validate all codebase though.

[2020-07-23 16:02] #432 closed

[2020-07-23 16:37] admiralAwkbar commented on #432
@tinder-yukisawa seems we solved the issue :) please let me know if you find any issues! thanks!

[2020-07-23 17:45] tinder-yukisawa commented on #432
@admiralAwkbar Thank you very much for the quick fix!

[2020-07-23 18:20] #363 closed

[2020-07-23 22:24] GaboFDC opened #472 "Strategy for multiple linters"
Right now, we manage 2 linters for javascript (eslint and standard) and python (pylint and flake8). There may be later other languages that need support for multiple linters.

The current strategy, in a general way, treats the 2 linters as if they were 2 languages. This cause the issue referred below:

_Originally posted by @rolandgeider in https://github.com/github/super-linter/pull/455#issuecomm

[2020-07-23 22:35] rolandgeider commented on #472
Specifically, the behaviour I mentioned in the issue linked above is that currently if a user wants to validate all languages but wants to use flake8 by setting VALIDATE_PYTHON_FLAKE8, it would mean that all other languages will have to be manually switched on as well

[2020-07-24 14:08] admiralAwkbar commented on #472
@GaboFDC I think this leads us back to the original way they were disabled.
All were enabled by default, and if you stated `VALIDATE_LANGUAGE=false` it would then omit that language.

The logic feels like it should be:
- No validate flags = all run if found
- validate flag set to true = only validate that language
- validate flag set to false - omit only that language

thoughts?

[2020-07-24 16:07] GaboFDC commented on #472
I think that would work fine, reading from #98 I think the problem was that you had to disable manually all linters you were not using, with this logic, you can either explicit define what you lint, lint all or lint all but something specific.
Also maybe let's hear if @Hanse00 has some comments?

[2020-07-24 16:45] GaboFDC opened #475 "Create test for validate all code base"
**Is your feature request related to a problem? Please describe.**
There has been a lot of bugs and errors not caught because the test only run each linter individually.

**Describe the solution you'd like**
There should be a test that runs the linter as a whole, and validate all code base, to test this case.

**Describe alternatives you've considered**
Running latest image against my repos

**Add

[2020-07-24 16:55] sirReeall commented on #115
Ended up with checkstyle as it give you Sun Code Conventions and Google Java Style OOTB.

@quackduck Have a look at my commit [here](https://github.com/quackduck/super-linter/commit/91eb58e61aa630fd0f8cbdc294129bf92290c3b6).

It has some magic in the command to make sure the latest release is pulled into the image.

Tested this on a local image and I can run `java -jar /usr/bin/checksytle.jar` to

[2020-07-24 17:01] filips123 commented on #122
Are there any plans to add other linters mentioned in this issue in the future? JavaScript, TypeScript and Terraform already have multiple linters supported so I don't see why PHP also shouldn't have.

[2020-07-24 17:04] artob commented on #472
Would it perhaps make sense to support `VALIDATE_PYTHON=flake8` (instead of `VALIDATE_PYTHON_FLAKE8=true`) and default to Pylint (for compatibility with existing users and previous configuration) if the value is set to `true`?

So as to avoid a combinatorial explosion of distinct environment variables as language and feature support expands over time.

[2020-07-24 17:06] divinity76 commented on #122
sigh, as far as PHP goes, it should be named `super-shitty-linter`

this "super linter" won't catch this error, plz fix:
[code]

| ping @admiralAwkbar

[2020-07-24 17:19] WyriHaximus commented on #122
@divinity76 It's an open source project, you can always add it and open a PR :wink:

@filips123 let me have a look, if support for more than one is in it shouldn't be to hard to add PHPStan, Psalm, etc

[2020-07-24 17:24] divinity76 commented on #122
@WyriHaximus 5 different linters have been proposed above, \*all\* of which would catch the error,

what has been implemented is *NOT* a linter, it's a syntax checker.

as far as linting goes, "super-linter" still doesn't have PHP support for linting.

i don't think this issue is ready to be closed.

[2020-07-24 18:05] admiralAwkbar commented on #122
Re-opened the issue :)

@divinity76 @WyriHaximus @@filips123
If someone wants to propose a PR with one of the above-selected tools, we would be glad to implement...
As we can see from others like python, they have `pylint` and `flake8` support. Nothing is stopping us from having more than 1 linter for the language and users can enable what they feel meets their standards. Please open a PR and I wo

[2020-07-24 18:07] WyriHaximus commented on #122
@admiralAwkbar :+1: , Currently working on a PR for PHPStan

[2020-07-24 18:12] filips123 commented on #122
I will probably add PHP_CodeSniffer and Psalm but I will wait for @WyriHaximus's PR to see how to handle external PHP dependencies.

[2020-07-24 18:13] WyriHaximus commented on #122
@filips123 IIRC they all have phars so they shouldn't be to hard. Otherwise I'll add Composer and install it that way

[2020-07-24 18:15] WyriHaximus commented on #122
@filips123 all have phars :tada:

[2020-07-24 18:16] admiralAwkbar commented on #175
Hey all!
It was a `standard` we used internally but were not opposed to `prettier`... We need to take some work to allow for more standards to take place in the **Super-Linter** and would love a PR to help make it better for everyone.

As we can see from the direction so far, supporting multiple standards seems to be the right direction. We just enabled `pylint` and `flake8` for python, so why not

[2020-07-24 19:00] WyriHaximus commented on #122
@filips123 @divinity76 draft PR for PHPStan is up, need to add a few more things but will do that tomorrow: https://github.com/github/super-linter/pull/477

[2020-07-25 11:26] filips123 commented on #122
I will probably do PRs today. And for checking signatures, we could use [Phive](https://phar.io/) which automatically downloads and verficies PHARs. I think that it supports most linters mentioned here.

[2020-07-25 21:36] WyriHaximus commented on #122
@filips123 Ow installing with phive it pretty well done, just no clue how to run phpstan now tbh

[2020-07-25 21:40] filips123 commented on #122
By default it save phars into some common directory (I think `~/.phive/phars`) and symlink them into `./tools`, so PHPStan will be in `./tools/phpstan`. If you install them globally `phive install -g`, they will be saved into `/usr/local/bin` which is most likely already in path so you can just use `phpstan` to run it.

[2020-07-25 21:47] WyriHaximus commented on #122
Nice thanks, came to this solution: https://github.com/github/super-linter/pull/477/files#diff-3254677a7917c6c01f55212f86c57fbfR203

But the `-g` might be even better

[2020-07-25 21:48] filips123 commented on #122
You can probably have `dependencies/phive.xml` with all supported linters, then just copy it and execute Phive using this configuration.

[2020-07-26 15:01] WyriHaximus commented on #122
`-g` works great, got a phpstan file in there as well, the only thing that bugs me is that it doesn't pick it up from the root of a repo

[2020-07-26 18:05] filips123 commented on #472
Would this support if you want more linters for the same language, so for example, `VALIDATE_PYTHON=pylibnt,flake8`. Although with current Python linter that wouldn't be needed much because both linters target mainly the same thing when linting code, it would be useful if other linters (also in other languages), where, for example, one linter mainly focuses on code style, other focuses on syntax a

[2020-07-26 22:28] santipg382s opened #479 "[](url)"
[](url)

_Originally posted by @santipg382s in https://github.com/github/super-linter/pull/478#issuecomment-664048338_

[2020-07-26 22:29] santipg382s commented on #479
https://github.com/github/super-linter/issues/479#issue-665872335

[2020-07-26 23:47] jonesy1234 opened #480 "Terrascan HCL2 issue"
**Describe the bug**
Terrascan does not currently support HCL2 from Hashicorp, due to this the linter throws errors. This is a known issue that is being tracked as part of https://github.com/accurics/terrascan/issues/233

**To Reproduce**
Perform linting run against terraform code containing something like the following

[code]

**Expected behavior**
Linting for all terraform language is performed

[2020-07-26 23:48] jonesy1234 commented on #480
For the above issue it would be nice to be able to disable the terraform linters independently. Currently setting VALIDATE_TERRAFORM=false will prevent both tflint & terrascan from running.

[2020-07-27 01:44] apur95 commented on #479
H

[2020-07-27 01:51] cesar-rodriguez commented on #480
Terrascan can be disabled without disabling tflint by setting ```VALIDATE_TERRAFORM_TERRASCAN=false```. The ```VALIDATE_TERRAFORM``` variable should only affect tflint.

[2020-07-27 03:29] jonesy1234 commented on #480
Great thanks, I didn't find that ref in the readme

[2020-07-27 04:54] DawidJanczak commented on #424
@jwiebalk thanks for the response! No, I don't, I have the following variables set:
[code]
That being said I do see `- Validating ALL files in code base...` in the logs.

This happens on a PR introducing the linter so I figured it's because of that perhaps, but then I opened another test PR on top of this one changing only one file and still all files are being checked.

[2020-07-27 12:12] dskvr opened #485 "OUTPUT_LOG option"
**Is your feature request related to a problem? Please describe.**
Browsing linter errors and warnings in the Actions GUI is not a pleasant or efficient experience.

**Describe the solution you'd like**
Something like an `OUTPUT_LOG` or `LOG_FILE` option that adds the `super-linter` output to a logfile. The case this would benefit is the ability to use `upload-artifact` to upload the linter logs a

[2020-07-27 14:14] GaboFDC commented on #479
This seems like spam

[2020-07-27 14:20] #479 closed

[2020-07-27 16:43] zkoppert commented on #262
@nathaneastwood Still working on this?

[2020-07-27 16:44] nathaneastwood commented on #262
Sorry, haven't had the time due to moving countries. Maybe next week but I can't make promises.

[2020-07-27 16:46] zkoppert commented on #262
no problem, just wanted to make sure you were still interested. Good luck on your move, hope its going well!

[2020-07-27 20:47] zkoppert commented on #485
I think this is a great suggestion. Is this something that you are interested in implementing @dskvr or should we put out a call for others to jump on development?

[2020-07-27 20:52] dskvr commented on #485
I have not looked into the implementation of linters in 'super-linter`. I'll check it out tomorrow and let you know of it's something I can pick up.

[2020-07-27 21:54] nemchik commented on #485
@dskvr i've started a draft and specifically want to ask if https://github.com/github/super-linter/pull/486/files#diff-2b006ea0cfcfac29e33a1b9eef9974c1R1026 would be what you're looking for. I've not yet made a variable for the location, but that could be done as well. For the moment all the logs end up in the predefined file.

[2020-07-28 05:53] leviem1 opened #490 "Unexpected linter update"
**Describe the bug**
Linter is running latest v3 tag (v3.4.0) despite being set to `github/super-linter@v3.3.2`.

**To Reproduce**
Steps to reproduce the behavior:

1. Use `github/super-linter@v3.3.2` in GitHub action.
2. Push code. It is then linted by latest v3 image (v3.4.0 currently).

**Expected behavior**
Linting should run at the version I set it to (v3.3.2).

**Screenshots**
Not applicable

[2020-07-28 09:16] ferrarimarco commented on #296
I guess this can be closed as well. Looks like editorconfig-checker also supports this use case.

[2020-07-28 09:16] #296 closed

[2020-07-28 10:34] ferrarimarco commented on #272
Also, consider that `yaml` is also a valid extension in this case (like you do for YAMLlint) :)

[2020-07-28 11:08] kunzese commented on #272
Yes of course. This was already addressed by #436.

[2020-07-28 12:03] ferrarimarco opened #491 "Editorconfig-checker doesn't properly report errors"
**Describe the bug**
`editorconfig-checker` doesn't properly report errors, when found.

**To Reproduce**
Steps to reproduce the behavior:

1. Write a malformed file that editorconfig reports
2. Run `super-linter` against the file.

**Expected behavior**
`super-linter` reports errors in the log, but results are not taken into account.

**Screenshots**
Example output:

[code]

And finally:

[code]

[2020-07-28 12:47] ferrarimarco commented on #491
Some interesting points.

- There's nothing special about how you [call `editorconfig-checker`](https://github.com/github/super-linter/blob/master/lib/linter.sh#L1292):

[code]

Maybe the tool is not correctly reporting the exit code?

[2020-07-28 13:34] #123 closed

[2020-07-28 13:36] aniforprez commented on #123
Dope work!

[2020-07-28 14:31] nemchik commented on #491
I'm able to reproduce. I'll see what i can figure out.

[2020-07-28 15:56] GaboFDC commented on #490
Given the change on #428 is effectively the same to use `github/super-linter@v3.3.2` than `docker://github/super-linter:v3.3.2` it will always pull the image.
Maybe we should allow the user to build the image if he wants to?

[2020-07-28 16:05] GaboFDC commented on #272
Maybe the documentation is not clear enough, but ansible files should be under an `/ansible` directory to be linted. Or a directory defined by `ANSIBLE_DIRECTORY`

[2020-07-28 16:25] ferrarimarco commented on #272
Unfortunately, setting `ANSIBLE_DIRECTORY` was not enough in my case. What I see is (stripped down irrelevant output):

[code]

Then, there's nothing else related to ansible-lint (and I used to run it as a standalone tool.

[2020-07-28 19:27] leviem1 commented on #490
Yeah, this goes back to the slow image discussion. It seems like we can either give the user a performance boost, or give them the ability to choose their version. In my opinion, the latter is more important for stability. I'd rather intentionally wait for 10 minutes to build the image on a specific version than to have forced upgrades.

This would make updates work as expected on repositories tha

[2020-07-29 08:21] ferrarimarco opened #492 "Run shfmt in dry-run/check mode"
**Is your feature request related to a problem? Please describe.**
I don't like having shell code (POSIX, Bash, mksh) that doesn't follow the formatting standard that our team established.

**Describe the solution you'd like**
It would be great to run [shfmt](https://github.com/mvdan/sh) in dry-run mode, as part of the linting process. The dry-run mode returns a non-zero exit code (and a diff on s

[2020-07-29 08:29] itaischwartz commented on #375
had the same issue in my project.

[2020-07-29 10:29] kunzese commented on #272
Same here. It all comes down to this code block, where `$LIST_FILES` is emptied:

https://github.com/github/super-linter/blob/de92cc732e16c1b39541c0b39466e389eb726e83/lib/worker.sh#L613-L626

[2020-07-29 10:44] dskvr commented on #485
Hey, sorry I didn't check on this yesterday, woke up to a mean stack trace.

@nemchik At first glance it looks pretty usable, I'll give it a try this evening if time permits.

[2020-07-29 11:00] nemchik commented on #485
Sounds good. P.s. I'm not finished making ALL the output go to the log yet, just preliminary stuff so far.

[2020-07-29 12:47] bitsofinfo opened #493 "error: "[: : integer expression expected""
version: latest

[code]

[code]

[2020-07-29 13:28] admiralAwkbar commented on #492
@ferrarimarco that sounds like it could be super cool... Any chance you could try to make a PR with the ideas?

[2020-07-29 13:37] #493 closed

[2020-07-30 08:05] kirintwn commented on #491
I'm able to reproduce, `yamllint` seems doesn't properly report errors too.

[2020-07-30 08:12] ferrarimarco commented on #491
For me, `yamllint` worked. I used it to validate my reasoning 😄

What did you try @kirintwn ?

[2020-07-30 09:06] kirintwn commented on #491
I'm using `circleci` to run super linter with the following config with no custom lint config:
[code]

Here is part of the output of test:
[code]

At the end of testing, it shows no errors detected however:
[code]

I have tested it to run locally (with `docker run...`), the output is exactly the same.
And the exit code is still 0.

[2020-07-30 11:08] rockaut commented on #272
Yes can confirm this too. I `set -x` to debug it:

[code]

[2020-07-30 13:21] ferrarimarco commented on #491
@kirintwn you can avoid these GitHub status API errors by setting `MULTI_STATUS=false`, along with the other environment variables. Apparently, `RUN_LOCAL` is not enough in this case. (maybe worth reporting this issue as well?)

[2020-07-30 13:53] dskvr commented on #485
It's definitely working, but as you said, it's not outputting everything. I can see how filename could be helpful, though I cannot imagine that it would be a blocker for myself or anyone else 🤔 .

Additional nice-to-haves I randomly thought of are

1. `only_on_error`: only outputs error logs, not success logs or better yet..
2. `log_level` (int) or `log_type` (array): specify a level integer (diff

[2020-07-30 14:40] nemchik commented on #485
Let's go with option 2

This is doable and the functions are already setup for this, it'll just be a matter of swapping `notice` for `info` in most cases and then adding functionality to set verbosity level (which I have already set aside).

This would be redundant to just disabling the linters you don't want using the existing environment variables? Maybe I am misunderstanding this request. If yo

[2020-07-30 15:06] dskvr commented on #485
Good point

Makes sense to me.

[2020-07-30 22:55] #485 closed

[2020-07-31 03:37] kirintwn commented on #491
@ferrarimarco thanks for the reply. By setting `MULTI_STATUS=false`, the error `ERROR! Failed to call GitHub Status API!` are gone, but it still shows `All file(s) linted successfully with no errors detected` when `yamllint` reports some errors.

I don't know if we are encountering same bugs, I will submit new issue once I found they are not the same one.