[2020-07-31 06:08] t0rr3sp3dr0 commented on #208
remove stale label

[2020-07-31 09:07] Connell1 opened #499 "How can I pass command line arguments to Pylint in Azure DevOps?"
I am running Super-Linter in an Azure DevOps pipeline and passing the `VALIDATE_PYTHON_PYLINT` environment variable to perform linting using Pylint. When I run the pipeline, I get a load of errors of the form `E0401: Unable to import 'pyspark.sql' (import-error)`. According to the Pylint documentation, module names should be passed as command line arguments. Is there some way I can pass command li

[2020-07-31 13:12] admiralAwkbar commented on #499
@Connell1 Hey! thanks for the question...
It seems the option would be to ignore the import errors in the following way:
[code]

Or you could ignore them in the `.pylintrc`
[code]

We are currently looking at ways to help users pass more command lines to the linters to help with corner cases and look to have something in the near future.

thanks!

[2020-07-31 14:46] GaboFDC commented on #208
We now allow to set the `YAML_CONFIG_FILE` variable, I think that solves the issue.
We are also linting both `.yaml` and `.yml` files

[2020-07-31 16:54] GaboFDC commented on #499
Also, you can see related #157 to see how it was solved in GitHub actions, maybe you can extrapolate from there to solve in Azure.

[2020-08-01 16:11] srcshelton commented on #179
As the original author or someone developing the code in the repo, groups of files which are `.gitignore`d and groups of files you don't want to lint probably have a high degree of intersection.

On balance, though, I think I agree that a separate `.super-linter.ignore` or similarly named control-file is the more flexible option less likely to bite in the future.

(But also, it's a great suggestio

[2020-08-02 01:12] Almenon commented on #226
@nemchik can the delay before a issue is closed for staleness be increased please?

[2020-08-02 04:02] artob commented on #120
@cvega With [3.4.0](https://github.com/github/super-linter/releases/tag/v3.4.0), Dart analysis now runs, kudos for that. At the moment, though, it's not very usable without setting `DISABLE_ERRORS: true`, given that `--fatal-infos` turns pedantic nitpicks--copious, voluminous amounts of pedantic nitpicks--into workflow failures. That could hopefully be addressed in the Super Linter.

@devoncarew T

[2020-08-02 04:15] t0rr3sp3dr0 commented on #208
Indeed @GaboFDC

[2020-08-02 04:15] #208 closed

[2020-08-02 05:27] zkoppert commented on #120
@cvega would you be willing to open a new issue(s) to track this new work instead of of continuing to discuss in a closed issue for the original feature delivery?

[2020-08-02 19:23] IlanCosman opened #503 "How can I remove the mouse?"
[code]

The mouse is very cute don't get me wrong, but it's just another thing to scroll past while getting to the actual information. Is there a way to disable it?

[2020-08-02 19:39] nemchik commented on #503
It is a possum. It's digging through your garbage.

I suppose a flag to skip it could be reasonable.

[2020-08-02 19:41] IAmHughes commented on #503
I don’t think we’ll be removing it, it’s kind of like any ASCII logo output you’d get in many CLI tools.

I’m going to close as `won’t fix` but I’ll let @admiralAwkbar and @zkoppert review in case we want to add a flag/option for this.

[2020-08-02 19:41] #503 closed

[2020-08-03 00:19] #170 closed

[2020-08-03 09:09] sirReeall commented on #115
@quackduck how's it going? Did you need any help with this?

[2020-08-03 10:17] artob opened #507 "Make Dart support usable"
@cvega With [3.4.0](https://github.com/github/super-linter/releases/tag/v3.4.0), Dart analysis now runs, kudos for that. At the moment, though, it's not very usable without setting `DISABLE_ERRORS: true`, given that `--fatal-infos` turns pedantic nitpicks--copious, voluminous amounts of pedantic nitpicks--into workflow failures. That could hopefully be addressed in the Super Linter.

@devoncarew T

[2020-08-03 10:18] artob commented on #120
I've gone ahead and created https://github.com/github/super-linter/issues/507 for my follow-up concerns.

[2020-08-03 10:49] quackduck commented on #115
What do you mean by plumbing? By the way, have a look at my new commit

[2020-08-03 15:31] sirReeall commented on #115
looks good, made one [small adjustment](f9e2e5a) to the LINTER_CMD as you must specify rules that you will use

[2020-08-03 16:19] devoncarew commented on #507
Dialing it back a bit makes sense - `pedantic` is very proscriptive. We (the Dart team) will come out with a slightly less proscriptive rule set in the near term (cc @munificent, @mit-mit), which would probably then be a good default.

I think these are actually correct, and indicate that we'll need to iterate on the integration here a bit. In-lining some errors from the failing project linked abo

[2020-08-03 17:44] cvega commented on #507
I think we have a couple of issues, and I would love to address these and get the tool working as best as possible for the dart community. First, thank you for filing issues and bringing guidance, always appreciated.

Here are some of my thoughts/todo/need more information:

- If I don't use a `--fatal-*` flag, it seems even when a lint/issue is found I receive an exit code of `0`. I want to remov

[2020-08-04 04:33] quackduck commented on #115
Is that it then?

[2020-08-04 04:46] quackduck commented on #115
Noob question:
How do I add "badges" (that's what they're called right?) to my PR? Like the stuff that says enhancement and all that

[2020-08-04 11:38] IAmHughes commented on #115
On an Issue or Pull Request, these are called labels. This is the relevant [documentation](https://docs.github.com/en/github/managing-your-work-on-github/applying-labels-to-issues-and-pull-requests).

You need to have write access to the repository however, so only maintainers can apply labels to issues and PRs in their repo.

If you try in a personal repository or one you have write access to, yo

[2020-08-04 12:14] quackduck commented on #115
Oh okay. Thanks!

[2020-08-04 18:16] Matt-Gleich opened #515 "Dockerfile formatter choice"
Is there a reason that super-linter uses dockerfilelint instead of hadolint? It seems like hadolint is more popular and more feature-rich. Thanks!

[2020-08-04 18:32] admiralAwkbar commented on #515
@Matt-Gleich Hey!
When we first started setting up linters, `dockerfilelint` was the default use case.
With other languages, we are starting to support multiple tools. If you would like, you could make a PR for adding this and help get it supported

thanks!

[2020-08-04 20:13] #515 closed

[2020-08-04 20:15] Matt-Gleich commented on #515
Wow, thank you so much for the quick add @admiralAwkbar!

[2020-08-04 20:21] GaboFDC commented on #475
Hey, @admiralawkbar @jwiebalk @zkoppert @IAmHughes @nemchik @Hanse00 I'll like some feedback and your thoughts on this, I'm willing to give it a shot, but would like to see other ideas and see how we could best solve this.

[2020-08-04 22:37] omusavi opened #520 "Markdownlint rule file name does not match VS Code rule file name convention"
**Describe the bug**
Markdownlint YAML file is in a different format than expected by markdownlint VS Code plugin. Super-linter only looks for .markdown-lint.yml inside the `LINTER_RULES_PATH`, but there are many formats that are supported for the markdownlint YAML file name. In particular, the [VS code extension uses the following formats](https://github.com/DavidAnson/vscode-markdownlint#markdow

[2020-08-04 22:44] omusavi commented on #520
My workaround for now is to create the `.markdownlint.yml` file in the root folder (so the rules apply to all MD files in root and subfolders), and the `.markdown-lint.yml` file in the `.github/linters` folder extends it:

[code]

[2020-08-05 09:10] Connell1 commented on #499
Thanks for the responses. I tried the work around suggested in [#157](https://github.com/github/super-linter/issues/157) but haven't been able to get it working. I have the following code in my pipeline. It still fails to find the python modules so I think my value for the PYTHONPATH variable in the last line is wrong. Can anyone let me know what it should be please?

[code]

[2020-08-05 16:36] apollonian commented on #127
🏎🙏

[2020-08-05 16:43] apollonian commented on #127
@admiralAwkbar @zkoppert If this is something super-linter would possibly be able to accommodate I'd be happy to pitch in. 🖤

[2020-08-05 17:33] zkoppert commented on #127
@apollonian We could use your help on this! I will open this and reassign.

[2020-08-05 18:52] jthelin commented on #475
It seems like it is particularly important that this should get run before EVERY official new release too, because for quite a few recent releases each X.Y.0 release drop gets followed almost immediately (sometimes within 1 hour!) by another X.Y.1 release to fix a bug in the last release drop. For example, 3.5.0/3.5.1 yesterday. 😢

[2020-08-05 19:20] zkoppert commented on #475
Yes! I hear your point and agree with you @jthelin and @GaboFDC. It would be wonderful to catch these issues before the merge and release with some automated test. If you have some time that you are able to work on this I am happy to support as needed.

[2020-08-06 07:32] apollonian commented on #127
Thank you!

[2020-08-06 11:43] thijsputman opened #524 "PHP Linters not using GetLinterRules (i.e. not reading from .github/linters)?"
Playing a bit with the various PHP linters that recently became available and I'm noticing that they are using linter configuration files directly from the root of my repository (e.g. `./phpcs.xml`) instead of the ones in `.github/linters` (e.g. `./.github/linters/phpcs.xml`).

Is this intended behaviour?

Quickly looking at `linter.sh` around this point:

https://github.com/github/super-linter/bl

[2020-08-06 14:25] #115 closed

[2020-08-06 14:51] #524 closed

[2020-08-06 15:33] #122 closed

[2020-08-06 16:26] #520 closed

[2020-08-06 16:27] #491 closed

[2020-08-06 16:29] #423 closed

[2020-08-06 16:30] admiralAwkbar commented on #338
This seems resolved now

[2020-08-06 16:30] #338 closed

[2020-08-06 16:30] admiralAwkbar commented on #188
I think we can make this an add the StandardRB as an additional check

[2020-08-06 17:29] admiralAwkbar commented on #144
@ericdallo if you can make a PR against the super-linter to help get this added, I would be glad to help get it across the finish line:)

[2020-08-06 22:22] massto commented on #225
👍👍👍👍

[2020-08-06 23:24] zkoppert commented on #188
smart idea @admiralAwkbar!

[2020-08-06 23:41] ericdallo commented on #144
Thank you @admiralAwkbar, I started a draft PR here: https://github.com/github/super-linter/pull/530 but I'm stuck not being able to install emacs on the docker image correctly:
![image](https://user-images.githubusercontent.com/7820865/89593306-2b4bd100-d825-11ea-92a4-6908d73749ce.png)
I also found this: https://github.com/cask/cask/issues/471

[2020-08-07 00:06] #128 closed

[2020-08-07 00:20] #156 closed

[2020-08-07 00:25] zkoppert commented on #232
@bbaassssiiee Are you still interested in doing this?

[2020-08-07 00:29] zkoppert commented on #156
@hxlnt If you want to open this back up again at another time, I'm happy to support. Just let me know. 😃

[2020-08-07 07:24] bbaassssiiee commented on #232
Master didn't build. Then I got distracted.

[2020-08-07 09:58] bazzadp opened #533 "Explain the GITHUB_TOKEN more"
Just noticed an error in my workflow as wasn't setting the GITHUB_TOKEN. It's a silent error that's ignored, and the linting still works fine, so never noticed I hadn't configured my workflow correctly.

Which got me thinking - what's it needed for?

The [README.md](https://github.com/github/super-linter/blob/master/README.md) has the following to say:

Which doesn't explain very much to be honest

[2020-08-07 13:34] #399 closed

[2020-08-07 14:22] #475 closed

[2020-08-07 14:57] ibnesayeed commented on #533
Well, essentially it elevates the permission the linter has on the repository. I don't see anything wrong in supplying this.

[2020-08-07 14:59] bazzadp commented on #533
No problem supplying it, but don't think the current text explains clearly why it's needed or that it can be run without it if someone doesn't want to supply it.

[2020-08-07 15:30] ibnesayeed commented on #533
Yes, the wording could have been better.

[2020-08-07 15:36] marghidanu commented on #232
Done.

[2020-08-07 15:39] boonwj opened #536 "Example workflow configuration excludes linting of all filetypes"
**Describe the bug**
Super-linter is excluding all languages when configured with the provided [example](https://github.com/github/super-linter#example-connecting-github-action-workflow).

**To Reproduce**
Steps to reproduce the behavior:

1. Create a workflow using the same example
2. Trigger a run

**Expected behavior**
Edited or new supported files should be linted.

**Screenshots**
![image](ht

[2020-08-07 16:56] #232 closed

[2020-08-08 00:20] #169 closed

[2020-08-08 07:12] nvuillam opened #538 "Development: Unable to perform npm install in dependencies folder"
**Describe the bug**
There is a crash in sql-lint post install task when performing `npm install` in dependencies folder
Env: Windows 10 + Git Bash

**To Reproduce**
1. Clone master branch
2. cd dependencies
3. npm install

**Expected behavior**
npm install should work :)

**Screenshots**
![image](https://user-images.githubusercontent.com/17500430/89704737-e3c56200-d956-11ea-8791-f53ce3b902af.png)

[2020-08-08 14:00] IAmHughes commented on #538
I was able to reproduce this, but  we don't own the `sql-lint` package, and this seems to be a problem with the package itself not `super-linter`.

I'd encourage you to open an issue [on their repo](https://github.com/joereynolds/sql-lint) with the bug information. I'm going to close this one as `wontfix`, but if you hear back from them that the project using the package is doing something wrong,

[2020-08-08 14:00] #538 closed

[2020-08-08 16:14] massto commented on #225
Very  nice github

[2020-08-08 17:10] nvuillam commented on #538
I know it's a sql-lint problem, but should a package be used if it is not compliant with all platforms ?

Letting this dependency will prevent any windows user to make PRs to super-linter... is that really what you want 🥺 or could we remove this broken package until it's fixed ?

Note: I noticed this crash when trying to upgrade npm-groovy-lint to its latest version 🌞

[2020-08-10 06:26] ymd-h opened #541 "Where can I put ".flake8"?"
According to README, flake8 configuration file can be set by the environment value `PYTHON_FLAKE8_CONFIG_FILE`.

However, explicitly setting filename and putting that config file (e.g. .flake8) at repository root doesn't work (flake8 still use default settings).

Where can I put the config file?

---

It seems that even user set config file name, the config file name is concatenated with `DEFAULT_

[2020-08-10 07:12] siwon opened #542 "LaTeX support"
**Is your feature request related to a problem? Please describe.**
Add LaTeX support

**Describe alternatives you've considered**
[Chktex](https://ctan.org/pkg/chktex?lang=en) seems to be a good candidate.

[2020-08-10 12:44] chenrui333 commented on #393
checkin

[2020-08-10 12:45] chenrui333 commented on #392
checkin

[2020-08-10 13:15] ferrarimarco commented on #492
I can have a look!

[2020-08-10 13:32] ferrarimarco commented on #491
@admiralAwkbar I tried with the latest release (3.5.1), but I have the very same issue!

[code]

[2020-08-10 13:36] ferrarimarco commented on #491
I don't know if it's related, but `editorconfig-checker` is not reported in the `Linter version info` output. This is what I have:

[code]

[2020-08-10 13:37] IAmHughes commented on #538
@nvuillam the package states it supports Windows in [the documentation](https://sql-lint.readthedocs.io/en/latest/files/installation.html). Again, I encourage you to [open an issue](https://github.com/joereynolds/sql-lint/issues/new) on the `sql-lint` repo about this, I see you haven't yet. That developer seems pretty responsive.

Please understand we can't be responsible for ensuring every packag

[2020-08-10 13:39] ferrarimarco commented on #491
`editorconfig-checker` [is not listed in the `LINTER_ARRAY` array](https://github.com/github/super-linter/blob/master/lib/linter.sh#L127).

[2020-08-10 14:25] bazzadp commented on #541
According to the README the config file *name* can be set with this - so presume that means you can't fully specify it with a path as well.

[All override files need to be in `.github/linters` folder](https://github.com/github/super-linter#template-rules-files) otherwise the defaults will be used. You can specify a `LINTER_RULES_PATH` config file - but then it will override all linters and not jus

[2020-08-10 14:29] nemchik commented on #491
This should be fixed in https://github.com/github/super-linter/pull/526 which hasn't been included in a release yet. The next release should include it.

[2020-08-10 14:31] ferrarimarco commented on #491
right! I misread the commit list :(

[2020-08-10 14:31] ferrarimarco commented on #491
Let me open another issue for the missing linter then. Thanks @nemchik !

[2020-08-10 14:37] ferrarimarco opened #543 "Editorconfig-checker is not listed in the Linters array"
**Describe the bug**
`editorconfig-checker` [is not listed in the `LINTER_ARRAY` array](https://github.com/github/super-linter/blob/master/lib/linter.sh#L127).

**To Reproduce**
Steps to reproduce the behavior:

1. Enable debug output
1. Run super-linter
1. Inspect the `Linter version info` section in the output

**Expected behavior**
`editorconfig-checker` should be listed in the `LINTER_ARRAY` a

[2020-08-10 14:38] bazzadp opened #544 "Superlinter lints any differences between branches, rather than just changed files"
**Describe the bug**
We lint more files than we need to, when `VALIDATE_ALL_CODEBASE` is set to false.

It appears that, rather than looking at changed files in that branch/pull request, it looks at all differences between the `DEFAULT_BRANCH` and the current branch and uses them to select the files to lint. This means if you have not merged with the `DEFAULT_BRANCH` recently, then you will lint o

[2020-08-10 14:47] nemchik commented on #543
Good catch.

[2020-08-10 16:11] nvuillam commented on #538
@IAmHughes > Done :) https://github.com/joereynolds/sql-lint/issues/157

But as it seems we are a lot of contributors on super-linter, maybe we could add in the PR jobs a test on Windows ?  👼

[2020-08-10 16:17] IAmHughes commented on #538
Since this is Docker, can you try using Docker for Windows for your development? It's possible, but in general it's a bit of an anti-pattern to write tests to ensure functionality of packages you don't own. i.e. if we required `google.com` functionality, I don't really write tests against `google.com` because Google is responsible for testing that and providing a service. We consume what they say

[2020-08-10 16:29] nvuillam commented on #538
I'm not talking about testing dependencies, just about testing that those dependencies ... can be installed :)

With just a `npm ci` in a windows env, the person who added sql-lint would have seen the issue with a nice red flag on its PR, and ot wouldn't be for us to solve this issue 😁

I'm new to github actions, but i know how to do it with Circle CI so it must not be so difficult with a GH actio

[2020-08-10 17:07] #543 closed

[2020-08-10 17:31] GaboFDC commented on #538
@nvuillam why are you trying to install the dependencies on windows?
I think the lack of a test on a windows platform is because is not really a use case, the container is built under a Linux environment. Building it under windows I think will arise a lot more errors and don't see any point of benefit on doing it.

[2020-08-10 17:36] admiralAwkbar commented on #541
@ymd-h as long as the file is in the `.github/linters/` folder it will be parsed.

[2020-08-10 17:37] nvuillam commented on #538
I develop on Windows, and I need to upgrade npm-groovy-lint

To do that, I just forked the repo then run `npm install npm-groovy-lint --save` , but as it crashes because of install of sql-lint, I can't :)

I could manually update package.json, but I have no idea about how to update package-lock.json without risking pf breaking something 😇

[2020-08-10 17:56] admiralAwkbar commented on #536
@boonwj That's really odd behavior... it should by default do all languages it can find
ill see if I can try to reproduce and find it

[2020-08-10 18:20] admiralAwkbar commented on #536
@boonwj Reproduced in `v3` but not with the latest, pushed new released with fixes and such...

It should work now? give it a shot :)

[2020-08-10 18:20] #536 closed

[2020-08-10 18:22] admiralAwkbar commented on #533
@ibnesayeed @bazzadp Hey all!

I agree the language could be more clear.

Can you make a small PR with the updated text?

Again, its only used to help make the additional status API updates and make visually parsing easier :)

Thanks for all the great feedback as well!

[2020-08-10 23:15] ymd-h commented on #541
@bazzadp and @admiralAwkbar
Thank you for your kind support!

It worked for me.(Putting at `.github/linters/.flake8`)

[2020-08-10 23:15] #541 closed

[2020-08-11 00:05] #533 closed

[2020-08-11 08:12] dec5e commented on #544
Also a possible fix (if that's not an intended behaviour) is to change [the diff command](https://github.com/github/super-linter/blob/v3.6.0/lib/buildFileList.sh#L48-L53) to:
[code]
Note the additional dot between the default branch name and commit SHA, see [`git diff` docs](https://git-scm.com/docs/git-diff#Documentation/git-diff.txt-Comparingbranches).

[2020-08-11 13:54] admiralAwkbar commented on #544
@bazzadp  @dec5e Great conversation on this...

## Overview
The Pull payload doesn't give us enough information to see what the root of the PR would be, so we had to assume the default branch. This with the `..` diff seems to be a bug and we really want `...` as this will give a more fair assessment of the files changed.

[2020-08-11 14:06] #544 closed

[2020-08-11 14:50] dec5e commented on #544
@admiralAwkbar could you please leave a comment here when this fix would be released? Thanks in advance

[2020-08-11 15:05] admiralAwkbar commented on #544
@dec5e The fix is live if you're using `docker://github/super-linter:latest` but likely later this week we will create a new release and have it formally tagged :)

[2020-08-11 16:40] nvuillam commented on #538
@IAmHughes  PR submitted 😃

https://github.com/github/super-linter/pull/554

[2020-08-12 04:58] vicyao opened #556 "multi status not working"
**Describe the bug**
Setting GITHUB_TOKEN does not seem to then show the statuses of each individual linter for me for pull requests. Explicitly setting MULTI_STATUS to true instead of depending on the default also doesn't change this.

**To Reproduce**
Steps to reproduce the behavior:

1. Use `docker://github/super-linter:latest` (also tried `docker://github/super-linter:v3.6.0` explicitly)
2. Op

[2020-08-12 10:58] marghidanu opened #558 "Support multiple Dockerfile definitions for dockerlinter"
I see that the check is performed only on the "Dockerfile" name, there are cases in which multiple users define multiple Dockerfile definitions like Dockerfile.dev, Dockerfile.prod, etc.

Maybe the `(Dockefile|Dockefile\.*) rule makes more sense.

[2020-08-12 13:06] edulocFr opened #559 "Update CODEOWNERS with new feature"
**Feature description :**
I want to be notified when a file with a specific pattern is modified by someone.
For example, I want the DevOps team to be notified for each YML files which contains "NetworkPolicy".

**Describe the solution you'd like**
In CODEOWNERS file, I would like to be able to put regex and be notified when changed concerns the following files or the following keywords.

`
*.yml [

[2020-08-12 14:16] admiralAwkbar commented on #559
@edulocFr closing this as this is not a `Super-Linter` feature but more of an ask for **GitHub** Product to allow for more granular CODEOWNERS.

I'm sure someone could build an opensource version of this utilizing Probot, but not in the feature set of what the **Super-Linter** is.

I will follow up on this internally with Product feedback

[2020-08-12 14:16] #559 closed

[2020-08-12 14:17] admiralAwkbar commented on #558
@marghidanu Great feedback!

Please open a PR with the filename updates and we can get this added :)

[2020-08-12 14:45] edulocFr commented on #559
Hi @admiralAwkbar,
Thanks for your response.

Yes I didn't know where to ask this feature. Feel free to keep me informed or link the right place to ask this new feature.

[2020-08-13 14:51] ferrarimarco commented on #543
@admiralAwkbar I see this in my logs (after updating to `3.6.0`):

[code]

Guess there's something wrong in how editorconfig-checker is queried for its own version?

[2020-08-13 15:06] admiralAwkbar commented on #543
fixing now

[2020-08-13 16:12] julie-garrone opened #562 ".dockerfilelintrc is ignored"
**Describe the bug**

I am working with the super-linter locally and noticed that the dockerfilelint configuration file (.dockerfilelintrc) was ignored.

From the linter.sh code, it seems that the FILE_NAME variable for dockerfilelint is not correct.
https://github.com/github/super-linter/blob/0262ba9c27a50b4cc5ec0a487d3ae849b9841414/lib/linter.sh#L49
The variable should be named `DOCKERFILE_FILE_

[2020-08-13 16:17] ken5scal opened #564 "How to check version of each lint for the latest super-linter"
Sorry, but I could not find the file specifying the version of each linter

[2020-08-13 16:32] GaboFDC commented on #564
You could check the dependencies folder and the dockerfile, but that's is a bit too picky, also you can run with ACTIONS_RUNNER_DEBUG=true and it will print each version of the linters used.

[2020-08-13 17:20] #562 closed

[2020-08-13 17:21] #472 closed

[2020-08-13 17:23] admiralAwkbar commented on #564
@ken5scal that's the way we had it implemented was to hit the `ACTIONS_RUNNER_DEBUG=true ` if you needed to see versions

[2020-08-13 17:23] #564 closed

[2020-08-13 18:17] #558 closed

[2020-08-13 18:58] admiralAwkbar commented on #556
@vicyao I made a small push and hope that fixed it... can you try again with `latest`?

[2020-08-13 18:59] admiralAwkbar commented on #556
@vicyao its odd as i wasnt able to directly duplicate the issue but did find missing vars...

[2020-08-13 23:39] vicyao commented on #556
@admiralAwkbar Hmmm yeah that's strange; I pulled `latest` but it's still not working - with the PR, this is all I see:
<img width="929" alt="image" src="https://user-images.githubusercontent.com/1190543/90197221-9cdece80-dd93-11ea-9baa-b5ff000310c2.png">

On the master branch though, if I click on the status icon, I do see the individual statuses:
<img width="499" alt="image" src="https://user-im

[2020-08-13 23:53] admiralAwkbar commented on #556
Super odd... I will try to recreate and see if I can find what's causing this issue. Thanks for finding this one

[2020-08-13 23:55] vicyao commented on #556
Thanks a lot for looking into it! And in general for developing this - I've been wanting exactly this for all my repos :)

[2020-08-14 04:26] ken5scal commented on #564
ic Thanks!

[2020-08-14 08:57] julie-garrone opened #567 "VALIDATE_DOCKER env var is not working"
**Describe the bug**
Setting the VALIDATE_DOCKER environment variable to true or false does not have the behavior documented in the [README](https://github.com/github/super-linter#environment-variables).
It is similar for VALIDATE_DOCKER_HADOLINT.

**To Reproduce**
Steps to reproduce the behavior:

1. Run the command
[code]
2. In the logs you see that all languages are still going to be validated:

[2020-08-15 02:22] akirak commented on #144
Hello, I am currently working on [elinter](https://github.com/akirak/elinter/), which can be a solution to this issue.

It is still in alpha, but I've implemented its basic features. Now I'm starting to apply it to existing projects to test its functionality. If it works, I will start working on integrating it with `super-linter`.

One question: `elinter` depends on [the Nix package manager](https

[2020-08-15 02:24] ericdallo commented on #144
Nice @akirak, I think you can install on the docker image like many other linters are doing that (and I think nix should be used from other linters in the future too)

[2020-08-15 09:31] MCOfficer commented on #108
rust support would still be appreciated.

[2020-08-15 13:47] assignUser commented on #262
I am currently working on this but as this is my first docker project I will open a draft pr so someone can check if everything is up to par :)

[2020-08-17 06:33] MuhaddiMu opened #574 "Error: [FATAL ] Behavior not supported, please either only include (VALIDATE=true) or exclude (VALIDATE=false) linters, but not both]"
I start receiving this error from the past few days and it's failing a check. Any idea what's going wrong here?

Here are my env variables:
[code]

[code]

[2020-08-17 06:53] nhutran1201 opened #575 "- name: Super-Linter uses: github/super-linter@v3.6.0"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2020-08-17 07:54] #575 closed

[2020-08-17 09:39] krowlandson commented on #574
@MuhaddiMu I believe this is by design. I can see from git history that enforcement of this behaviour was introduced as part of [commit/d05f179506ba3d376680f8f2711712214bc75e99](https://github.com/github/super-linter/commit/d05f179506ba3d376680f8f2711712214bc75e99) to improve predictability of tests being run. @GaboFDC may be able to provide more information about this.

The behaviour is described

[2020-08-17 12:51] MuhaddiMu commented on #574
Thank you! That was helpful and resolve the error. I think this should be a warning instead of [Fatal] error.

[2020-08-17 14:28] GaboFDC commented on #574
@krowlandson was exactly right. This was changes to allow to only include some check or only exclude. This is a fatal because with the new logic we can not identify what is the expected behaviour. The config you had previously was redundant and was the same as only having VALIDATE_JAVASCRIPT_ES: true, so now, this is enforced.

[2020-08-17 14:58] #567 closed

[2020-08-17 15:40] admiralAwkbar commented on #556
@vicyao I cant reproduce this...
plase make sure in your branch you have the super-linter and the variable GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }} set... its super odd... in the log, do you see errors like failed to call API?

[2020-08-17 17:41] admiralAwkbar opened #578 "Promote GaboFDC to Write"
Welcome to the fold @GaboFDC !
You now have write...

[2020-08-17 17:47] #578 closed

[2020-08-17 18:45] vicyao commented on #556
@admiralAwkbar Hmm yeah that's really weird. Yeah I have the GITHUB_TOKEN set everywhere, and no errors in the API on any of the calls.

Not sure if this helps, but just to fiddle around with things, I changed my yml file from only running push on master and any pull_request to the following (within the branch):
[code]
When linting is triggered twice with a commit to the PR, then multi status does

[2020-08-17 19:06] admiralAwkbar commented on #556
@vicyao I wonder if it's getting lost on the PR sha ref...
if you set to just Push you should not get double jobs and it should be happy? can you try that?

[2020-08-17 19:15] vicyao commented on #556
@admiralAwkbar Yup that works!
I was originally trying to set it so that the linter didn't run twice with pushes to a branch in a PR, but I'm happy just to leave it like this to get the multiple status messages.

[2020-08-17 19:27] admiralAwkbar commented on #556
@vicyao thanks for finding this... i will see about a future fix on it!

[2020-08-18 04:11] ribtoks commented on #135
Not stale

[2020-08-18 10:36] brunomartinspro opened #584 "Using GitHub Actions no report is found"
**Describe the bug**
In GitHub Actions the action outputs that the reports have been generated to a folder.
However the GitHub Actions Artifact Upload can't find any report to upload.

**To Reproduce**
Steps to reproduce the behavior:

Setup the github action check

[code]

Tried changing the the default workspace to several paths and no files were found.

**Expected behavior**
Upload Artifact Act

[2020-08-18 15:21] #584 closed

[2020-08-18 20:43] admiralAwkbar commented on #542
@siwon hey that would be cool! Do you think you could get a PR started and i can help if needed :)

[2020-08-18 21:08] #262 closed

[2020-08-18 21:08] #574 closed

[2020-08-19 14:24] jikuja opened #589 "Running superlinter locally falsely picks up GITHUB_TOKEN and calls status endpoints"
**Describe the bug**
Running superlinter locally with documented docker command falsely picks up GITHUB_TOKEN environment variable and then calls status endpoints.

**To Reproduce**
Steps to reproduce the behavior:

Running `docker run -e RUN_LOCAL=true -v $(pwd):/tmp/lint github/super-linter` generates following

[code]

The script for some reason picks up GITHUB_TOKEN environment variable even i

[2020-08-19 18:12] #542 closed

[2020-08-19 19:04] admiralAwkbar commented on #589
@jikuja good catch... seems a small logic issue... will update

[2020-08-19 20:16] #589 closed

[2020-08-19 22:19] assignUser commented on #226
https://github.com/github/super-linter/issues/175#issuecomment-663669014
@admiralAwkbar seems to be in support for having multiple options per language.

[2020-08-19 22:37] assignUser commented on #219
@mehagar It sounds like your frustration stems from using super-linter on files with lots of issues and fixing them. Imho the best way would be to run a local linter that is integrated into your IDE and makes fixing up multiple issues easy, looking something like this:
![image](https://user-images.githubusercontent.com/16141871/90696639-ebe99f80-e27c-11ea-8229-62870ade3c54.png)
(lintr for R in VSc

[2020-08-20 11:07] brunomartinspro commented on #584
@admiralAwkbar do reports only get generated if there is an error?
I am testing the latest version and i get the output on the [build](https://github.com/brunomartinsprointelliflo/PipelinePlayground/pull/1/checks?check_run_id=1007313305)

[code]

[2020-08-20 13:03] mehagar commented on #219
@assignUser , a local linter would be part of the workflow to make it easy to fix issues so they *don't* get caught by any CI linter. But if a developer is making a one line change to a file, I only want them to have to fix linting issues on that one line. As it is, the super linter would report on the entire file instead of just the one changed line.

As an example of what I want, see [reviewdog]

[2020-08-20 13:12] assignUser commented on #219
I see, this would require a lot of changes as the ouput from the linters is not parsed in anyway at the moment. Your suggestion would probably go well with #151 were reviewdog was also referenced.

[2020-08-20 15:13] admiralAwkbar commented on #584
@brunomartinspro remove the line: `DEFAULT_WORKSPACE: /github/workspace`

This will allow the internally defined workspace to be set.
then the `${{ github.worspace }}` set in the next action will be able to pick it up properly

[2020-08-20 15:19] #226 closed

[2020-08-20 15:34] brunomartinspro commented on #584
@admiralAwkbar creating the folder before avoids the error but the folder is still empty.

[code]

[code]

[2020-08-20 21:43] massto opened #596 "1"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2020-08-20 21:51] iggy commented on #143
Slow your roll bot. This is still valid.

Sorry for the noise. Trying to keep this from getting closed.

[2020-08-20 21:52] #596 closed

[2020-08-21 00:21] #371 closed

[2020-08-21 07:10] ruzickap opened #598 "Hadolint checker ignores .hadolint.yaml config file"
**Describe the bug**
I have a `.hadolint.yaml` inside my directory, but when I run `super-linter` (locally / remotely) it ignores this config file. According hadolint README, this config file should be used by default if exists: https://github.com/hadolint/hadolint#configure

**To Reproduce**

See the commands:

[code]

If I run `hadolint` locally, the `.hadolint.yaml` is used by default:

[code]

[2020-08-22 18:41] SeanTAllen opened #599 "BuildFileList related bug"
When running with `VALIDATE_ALL_CODEBASE: false` then instead of shellchecking some of our bash scripts, we instead get the following warning:

`2020-08-22 18:01:47 [WARN  ]   Failed to get filetype for:[.ci-scripts/x86-64-nightly.bash]!`

It should be noted that with `VALIDATE_ALL_CODEBASE: true` the file(s) in question are correctly run through shellcheck.

Here is one of the files in question:

[2020-08-22 21:44] siwon opened #600 "Editorconfig linting - Stronger file filter ?"
Hi,

I hope I understood correctly the code but it seems that editorconfig linting filter is very light.
It looks like it takes all the files `"^.*$"`:
https://github.com/github/super-linter/blob/0e075ccba96327a6d5dec6cc264ad7c06862e352/lib/linter.sh#L1450

Shouldn't it look like that : `.*\(editorconfig\)\$`?

PS: Thanks a lot for this repo :+1:

Edit: I tried to add a quick fix for this issue if

[2020-08-23 10:06] ferrarimarco opened #602 "Error while getting Lua linter version"
**Describe the bug**
Lua linter version is not reported correctly.

**To Reproduce**
Steps to reproduce the behavior:

[code]
**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
Verbose output (seen in super-linter v3.8.0):

[code]

**Additional context**
This is not the first time this happens, see #543.  I highly suggest throwing an error and te

[2020-08-23 11:01] ferrarimarco opened #603 "Shell script file list is not consistent"
**Describe the bug**
Shell scripts linting tools support different shell scripting languages, not just Bash.

The current (super-linter v3.8.0) mechanism has the following issues:

1. Assumes bash only (Example: the `VALIDATE_BASH` variable).
1. Has two mechanisms to check if a file is a shell script, and both are unreliable:
    1. Use the `file` utility, and check if the output of `file` matches

[2020-08-24 00:16] bazzadp opened #604 "Superlinter incorrectly reports languages linted"
**Describe the bug**
The super-linter API over reports languages linted when adding the status to a pull request.

For example a recent PR in my repo has the following:
![Super-Linter Test Results](https://user-images.githubusercontent.com/10931297/90992108-7d228400-e5a5-11ea-8051-fb40f6808c70.png)
I have no Java or R code in my repo.

I noticed it particularly since the R linter was added and hav

[2020-08-24 00:21] #288 closed

[2020-08-24 01:04] mvolkmann commented on #175
I think this issue should remain open until we have a PR that enables adding Prettier as an option.

[2020-08-24 07:40] sergey-muntyanu commented on #399
@jhomarolo sorry for answering for so long? your solution working. Thank you!

[2020-08-24 15:31] ferrarimarco commented on #603
I'm still looking for a ZSH one.

The thing is that with the current configuration, it's not possible to exclude ZSH scripts from being linted with shellcheck for the reasons I stated above :(

[2020-08-24 15:35] ferrarimarco commented on #600
Editorconfig-checker doesn't lint the `.editorconfig` file (only). It checks the given file list (produced by the `^.*$` regex) against the rules specified in `.editorconfig`.

I guess this, and the related PR should be closed :)

[2020-08-24 17:38] siwon commented on #600
Ok ! My bad ;)

[2020-08-24 17:38] #600 closed

[2020-08-24 19:23] admiralAwkbar commented on #599
@SeanTAllen thanks for catching this one...
Can you try again with `latest` or `v3.8.3`
I think i caught this one earlier

[2020-08-24 19:39] #602 closed

[2020-08-24 19:39] #604 closed

[2020-08-24 19:39] GaboFDC commented on #598
@ruzickap as stated in the readme, you can use `LINTER_RULES_PATH` to define where super-linter looks for this.

[2020-08-24 19:44] ferrarimarco opened #612 "super-linter doesn't lint shell scripts without an extesion"
**Describe the bug**
The file list build logic excludes shell scripts that don't have one of the supported extensions. There are perfectly valid cases for when you don't want to use an extension, such as shell initialization files (`.bashrc`, `.zshrc`...). Those files should be included in the linting process.

**To Reproduce**
Steps to reproduce the behavior:

1. Create a shell script with no ext

[2020-08-24 19:51] ferrarimarco opened #613 "Check if shell scripts are executable"
**Is your feature request related to a problem? Please describe.**
I lose too much time when my CI pipelines fail because I forgot to set the executable bit of a shell script.

**Describe the solution you'd like**
Check if shell scripts have the executable bit set to 1. I didn't find a specific linter for this, but it's achievable with simple shell scripting. Here's an example that I use in my pip

[2020-08-24 19:56] ferrarimarco commented on #603
@admiralAwkbar I tried super-linter v3.8.3, but ZSH scripts are not excluded :(

Example:

[code]

`file` reports: `.shells/.zsh/logout.sh: Paul Falstad's zsh script, ASCII text executable`

[2020-08-24 20:38] admiralAwkbar commented on #603
@ferrarimarco i will do some additional testing.. that's super odd

[2020-08-24 21:08] migolfi opened #614 "Ignoring file paths from super-linter search"
Hi, first off, thank you for the great work!

I've noticed when running super-linter in a codebase where I have an embedded dependencies folder that it will find and lint all of the subdirectories.

For examples, I download all of my Python packages to a folder in my workspace called .venv and that contains my entire virtual environment (similar to node_modules anyways). In those cases, it looks l

[2020-08-24 22:10] SeanTAllen commented on #599
It works with v3.8.3

Is it reasonable to update the documentation to use v3.8.3 rather than v3 as the "default" version?

[2020-08-25 00:28] eddynaka commented on #150
instead of going with resharper, we could try to use [dotnet-format](https://github.com/dotnet/format)

[2020-08-25 03:37] josephmarino opened #616 "Add .yml config file support for stylelint"
Hey, folks! :wave: I recently discovered super-linter and I think it is awesome. I have a feature request that may be helpful for anyone using super-linter to lint CSS code with stylelint.

**Is your feature request related to a problem? Please describe.**

Yes, my feature request is related to a problem. When linting CSS code, it looks like super-linter will only execute stylelint with a config f

[2020-08-25 04:37] ruzickap commented on #598
Yeah ... That's right, but super-linter looks for file called `.hadolint.yml` and the original hadolint (https://github.com/hadolint/hadolint#configure) looks for `.hadolint.yaml`.

Is there any way how I can specify the config file for specific linter?

If I set the `LINTER_RULES_PATH: .` it will not find the default config file `.hadolint.yaml` for hadolint like in case I run hadolint from comma

[2020-08-25 07:00] broder-peters-k24 commented on #150
@eddynaka I'm not sure how dotnet-format will fulfill the purpose of linting:

At least for me linting is about programmatic stylistic and errors, which, to my current understanding, dotnet-format doesn't do.
I think what would make more sense would be to use [roslyn analyzers](https://github.com/dotnet/roslyn-analyzers).

[2020-08-25 07:26] eddynaka commented on #150
Dotnet format reads editor config where you can set the lint properties. So, if you use fxcop and set some rules there, format will catch.

Other things like spacing, end line, etc.

[2020-08-25 15:05] #616 closed

[2020-08-25 15:06] jwfuller commented on #584
@brunomartinspro I think the `OUTPUT_FORMAT` parameter is required for a file to be generated (see https://github.com/github/super-linter/blob/f5752cfd452938932ae445c664284d17e981b1df/lib/linter.sh#L1028). I was running into the same problem and came across this issue (thanks for opening it!)

This excerpt works for me

[code]

[2020-08-25 15:29] admiralAwkbar commented on #614
@migolfi Hey thanks!
There is not but i need to add `.venv` and `.rbenv` to the ignored folders as we should likely never lint them as well :)

[2020-08-25 16:08] migolfi commented on #614
Thanks @admiralAwkbar!

Adding `obj/` and `bin/` folders could be helpful as well, for C# codebases.
Otherwise, are there plans to allow a flexible exclusion pattern?

[2020-08-25 16:49] #614 closed

[2020-08-25 16:51] admiralAwkbar commented on #614
@migolfi Its something we have looked at but haven't come to a consensus on how we achieve it... There are a few ways to take the issue and all lead to a lot of customization and not what I want to do yet...

Hope this helps you get going for now and thanks for the input!

[2020-08-25 17:30] alerque commented on #598
I think this is wrongfully closed, see my comment on PR #623 which I think only went part of the way.

[2020-08-25 18:51] josephmarino commented on #616
Very cool!! 😎 Thanks for adding this Lukas.

[2020-08-25 20:02] #612 closed

[2020-08-25 21:55] ferrarimarco commented on #603
@admiralAwkbar shall we reopen this issue as a reminder? Thanks!

[2020-08-26 15:12] admiralAwkbar commented on #599
@SeanTAllen the tagging of v3 should always pull the latest 3.y.z so it should be good from now on

Someone had removed a lib and caused the parse to fail.... but should be all better now

[2020-08-26 15:12] #599 closed

[2020-08-26 15:16] admiralAwkbar commented on #603
@ferrarimarco The issue was someone deleted the underlying libs to check a file on the super linter
it should be working as of 2.8.3
can you validate?

[2020-08-26 18:09] ferrarimarco opened #629 "Is the default coffee-lint configuration file set up correctly?"
In super-linter 3.8.3 and earlier versions, if you enable verbose output, you see:

[code]

Does it looks like the default path for the coffee-lint might not be correctly set up? The log is not showing any file name after the configured `DEFAULT_WORKSPACE`.

Example command to reproduce:

[code]

PS: I'm not using coffee script, so I don't have code to lint

[2020-08-26 18:10] ferrarimarco commented on #603
Validated! I assume you meant v3.8.3. I don't see the issue anymore! Thanks!

[2020-08-27 00:40] massto opened #630 "QUIXXI suggested always print log within a"
QUIXXI suggested always print log within a

if (BuildConfig.DEBUG) {
//Log statement
}

_Originally posted by @sathishmscict in https://github.com/BranchMetrics/Branch-Example-Deep-Linking-Branchster-Android/issues/19#issuecomment-409797049_

[2020-08-27 00:41] massto opened #631 "Hey @f6v. We're in the process of updating all of these demo apps. I believe our testbed in the Android repo is updated: https://github.com/BranchMetrics/Android-Deferred-Deep-Linking-SDK/blob/master/Branch-SDK-TestBed/src/io/branch/branchandroiddemo"
Hey @f6v. We're in the process of updating all of these demo apps. I believe our testbed in the Android repo is updated: https://github.com/BranchMetrics/Android-Deferred-Deep-Linking-SDK/blob/master/Branch-SDK-TestBed/src/io/branch/branchandroiddemo/MainActivity.java#L81

_Originally posted by @aaustin in https://github.com/BranchMetrics/Branch-Example-Deep-Linking-Branchster-Android/issues/5#iss

[2020-08-27 06:49] ferrarimarco commented on #603
@admiralAwkbar sorry, I spoke too soon! Even with v3.8.3 the issue is still not fixed :(

[2020-08-27 06:50] HatsuneMiku3939 commented on #375
workaround

[code]

[2020-08-27 13:54] #480 closed

[2020-08-27 13:56] #631 closed

[2020-08-27 13:56] #630 closed

[2020-08-27 16:36] #629 closed

[2020-08-28 03:38] DawidJanczak commented on #424
I can't remove the label it seems, so commenting to keep it open. This is still an issue for us.

[2020-08-28 07:27] alerque commented on #490
@github-actions The only thing stale around here is you. Not only is this issue *not* fixed and very much still a problem, but the current hack that leads to this problem is to work around a serious shortcoming in Actions itself (that's you) whereby one cannot use the default `uses` syntax and get cached builds — which is just crazy pants. The only way to do is is to use off-site Docker images. An

[2020-08-28 13:10] dec5e commented on #544
@admiralAwkbar unfortunately problem is still there. I've created a test repo to show it, check this PR https://github.com/dec5e/super-linter-test/pull/2 and linter results. I've doublechecked that correct version of the linter is used: image hash is `11ec9aa31cdc` which matches v3.8.3, the fix was released under v3.7.0.

Even though locally I'm getting only correct files with the `git diff` comma

[2020-08-28 13:13] SeanTAllen commented on #151
There's a small problem with annotations and the default settings for super-linter. By default, super-linter is validating the entire codebase. However, annotations attempt to link the last commit so if there is a linting error that comes from something that wasn't in the most recent commit, clicking through from the UI will take you... nothing.

There is still a nice error message on the checks p

[2020-08-28 15:37] #613 closed

[2020-08-28 20:31] migolfi commented on #614
@admiralAwkbar Thanks for the explanation. This has all been extremely helpful!

When is the next release planned (containing the .venv change)?

[2020-08-29 09:14] peternewman commented on #219
It's possibly still more subtle than this @mehagar depending on what you actually want to achieve.

If the line you change/remove is the only usage of an import, then the act of changing/removing that line would generate a lint warning at the top of the file about an unused import, but your suggested fix would filter that out. Obviously these are a different class of warnings to be considered.

Fl

[2020-08-29 09:34] peternewman commented on #151
I was going to say the thing here is to wait for GitHub to get it sorted, as they display fine on the commit, but actually looking just now it seems they have sorted it, it shows up nicely on the PR files view too:
https://github.com/codespell-project/actions-codespell/pull/16/files

Well sort of, it's somewhat inconsistent, see these two views of the same commit:
https://github.com/codespell-proj

[2020-08-29 09:43] peternewman commented on #490
Is the workaround not to update action.yml each time a new release is made? You're already generating Docker versions of each release:
https://github.com/github/super-linter/packages/106548/versions

And a tag for each release:
https://github.com/github/super-linter/tags

So if the tag's action.yml contained an instruction which used the Docker's specific version, you'd always get what you wanted

[2020-08-29 10:01] alerque commented on #490
@peternewman No that's not the issue at all and hence not a solution. The issue is they are hijacking the substance of the action by punting it from the usual build process to a Docker pull and not passing the version through at all, it's hard coded to 'latest' so even if you explicitly `uses` something older you get fast forwarded to whatever the 3rd party container registry thinks is latest.

[2020-08-29 10:28] peternewman commented on #490
I've not done much Docker but this suggests you can run a particular versioned image:
https://github.com/github/super-linter/packages/106548?version=v3.3.2

I don't understand what you mean about not passing the version through? I assume you're talking about action versions not being passed to Docker versions? When you `uses` it selects a tag or branch. I'm suggesting if each tag was hard-coded to

[2020-08-29 11:05] leviem1 commented on #490
Cheeky little workaround. I think it would be a good resolution moving forward to at least get the versioning part sorted, which is what I mostly wanted to address here.

That being said @alerque is talking about the performance impact for using a Docker action using `image: 'Dockerfile'` instead of the pre-compiled Docker hack. Since Actions does not cache the images between runs, it has to be re

[2020-08-29 11:17] alerque commented on #490
@peternewman You don't even have to be that tricky, you can get any  old release you want using a regular action step, you just cant use the regular `uses` syntax. Substitute:

[code]

...which currently is hijacked and actually gives you `latest` instead, with this:

[code]

That will get you the real thing using Docker directly. The trouble is this isn't how the Actions marketplace advertises no

[2020-08-29 19:59] ferrarimarco opened #643 "Why bash-exec reports a warning and not an error?"
The `bash-exec` linter emits a warning when a shell script is not executable, and not an error like any other linter. Moreover, this behavior is not configurable. Is it possible to make `bash-exec` behave like the other linters that super-linter runs?

[2020-08-29 20:20] ferrarimarco commented on #603
@admiralAwkbar I think I know what's happening. The fix in #609 applies only when you call `BuildFileList`, which is not the case if you set `VALIDATE_ALL_CODEBASE` to `true` (directly, or via `RUN_LOCAL`).

[2020-08-30 00:15] #117 closed

[2020-08-30 00:15] #110 closed

[2020-08-30 01:30] peternewman commented on #490
Thanks.

Yeah understood, but if you can automate most of it, then you can use the pre-compiled ones with no real impact. I'd agree though, it seems mad to me that they aren't cached. Although is it something to do with the fact you could influence the config via the inputs, and therefore it might change between runs and so wouldn't be cacheable? It does seem crazy there's not an option you can tu

[2020-08-31 05:36] Bjego commented on #150
Think @eddynaka idea sounds good. See this blogpost as well: https://www.meziantou.net/enforce-dotnet-code-style-in-ci-with-dotnet-format.htm

[2020-08-31 13:26] admiralAwkbar commented on #614
@migolfi Hey im going to try to cut a release later today! Mondays are always work...

[2020-08-31 13:45] jdyke opened #645 "Pylint should ignore import errors"
**Is your feature request related to a problem? Please describe.**
Pylint regularly fails for import errors on modules. This isn't really a linting problem (IE something wrong with your code) so I feel that it's safe to ignore.

**Describe the solution you'd like**
In https://github.com/github/super-linter/blob/master/TEMPLATES/.python-lint we can add `import-error` to the `disable=` section.

**D

[2020-08-31 13:50] jdyke commented on #645
Actually, this looks like it is an ongoing talk in #157 but is stale

[2020-08-31 16:14] admiralAwkbar commented on #643
@ferrarimarco
This was an interesting one...

I agree for most files they should be exec, but then I thought about library code, that gets imported and does not need to be exec. So it was a weird one... We decided to start on warning, but I don't have a more elegant plan and could be persuaded both ways on this one...

[2020-08-31 16:23] ferrarimarco commented on #643
What if we always warn, and error if VALIDATE_BASH_EXEC is true?

Or an additional environment variable to set this behavior?

[2020-08-31 17:05] #603 closed

[2020-08-31 19:23] #492 closed

[2020-08-31 21:33] hoffmang9 opened #648 "3.9.1 seems to be missing shellcheck, golangci-lint, htmlhint etc"
**Describe the bug**
3.9.1 errors out with a list of 12 failures of the form
`/action/lib/linter.sh: line 1369: LintCodebase: command not found` - missing shellcheck e.g.
and then doesn't actually lint anything but exits with success.

**To Reproduce**
I'm testing in a branch with `ACTIONS_RUNNER_DEBUG: true` whose super-linter output can reviewed here:
https://github.com/Chia-Network/chia-blockch

[2020-08-31 21:46] HorizonNet commented on #648
Can confirm it. Happens on 3.9.1, as well as 3.8.3. Did not happen on 3.8.3 for builds 6 days ago. Probably related to #490. Additionally I would expect the action to fail if it doesn't lint anything.

[2020-08-31 21:56] ferrarimarco commented on #648
And for some reason, https://github.com/github/super-linter/commit/98c2eec42a45e7b01210b9e2bc3cf3dd724a69cc removed the recently introduce shfmt support :(

[2020-08-31 22:07] ferrarimarco commented on #648
I've added some stuff that was added in #642 and deleted (by mistake?) in https://github.com/github/super-linter/commit/98c2eec42a45e7b01210b9e2bc3cf3dd724a69cc as part of #649

[2020-08-31 22:18] ferrarimarco commented on #648
BTW I think it's not related to #490 because, as you can see from your build log, the linters are there (see the version information).

I suspect there's something weird when sourcing `worker.sh`.

Additionally, this doesn't happen to me in the branch I'm using for #649

[2020-08-31 22:22] ferrarimarco commented on #648
@hoffmang9 @HorizonNet I can reproduce locally with v3.9.1. I think #649 will fix this one as well

[2020-08-31 22:24] hoffmang9 commented on #648
I'll bump the version once your PR is in and the docker has time to get built.

[2020-08-31 22:28] HorizonNet commented on #648
@ferrarimarco Not sure. What's weird that it worked perfectly fine with 3.8.3 a few days ago. Today I'm seeing the same problems in 3.8.3 and 3.9.1 without any change. It feels like that the image was updated for 3.8.3 afterwards (wouldn't expect that) or both versions are pinned to the same image (as described initially in #490).

[2020-09-01 00:49] avishnyakov opened #650 "Slow execution on "Linter Version Info", could take 60+ seconds"
**Describe the bug**
"Linter Version Info" section takes around 60 seconds to execute. Have this on both default and `LOG_LEVEL=TRACE ` baselines.

Straight away suggestion is to have an option to bypass `GetLinterVersions` here, based on the ENV variables setup:
https://github.com/github/super-linter/blob/master/lib/linter.sh#L1288

Having this at leat on these tags:
* github/super-linter
* githu

[2020-09-01 06:42] ferrarimarco commented on #650
#649 contributes to fix this. Can you try that branch?

[2020-09-01 08:26] bazzadp commented on #648
There is also this error at the top:

[code]

Seems a pretty bad release all in all unfortunately. Is there better automated testing that can be added to prevent this in future?

[2020-09-01 08:33] avishnyakov commented on #650
@ferrarimarco good one, thanks for pointing this out.

Build your branch, it's down to ~20 seconds. Of course better, but probably still worth considering further improvements:
* flag to completely bypass `Linter Version Info:` check
* do `Linter Version Info:` only on debug level or something?
* do `Linter Version Info:` only on crash cases, when something goes really wrong and telemetry is price

[2020-09-01 08:42] ferrarimarco commented on #650
One way could be pre-populating a text file that contains linter versions (which don't change between Docker image builds) when the image gets built, and print the contents of that file instead of querying the linters everytime.

This solution has also the (positive) side effect that you have an additional validation mechanism to check if linters were installed correctly and are available in the `

[2020-09-01 08:45] ferrarimarco commented on #648
This confirms my theory above, that `worker.sh` is not correctly sourced, so the `LintCodebase` function is not available. Probably a merge gone bad

[2020-09-01 09:59] bazzadp commented on #648
Noticed a pull request from an old branch linted correctly in a project I work on so did some digging. Everything after from 3.3.2 onwards breaks. 3.3.1 and below seems to lint fine. So did something in https://github.com/github/super-linter/releases/tag/v3.3.2 effectively hardcoded `linter.sh` or `worker.sh` reference so it doesn't use the versioned script?

[2020-09-01 10:02] ferrarimarco commented on #648
`v3.8.3` was fine for me.

[2020-09-01 10:08] bazzadp commented on #648
Weird. It wasn't for me nor @HorizonNet . Example bad run [here](https://github.com/HTTPArchive/almanac.httparchive.org/runs/1055234959?check_suite_focus=true) using:
[code]

[2020-09-01 10:13] HorizonNet commented on #648
I think the behavior of 3.8.3 changed recently. As said above, I have a job a week ago with 3.8.3, which works fine and didn't show any problem. Running the same job again yesterday shows the same behavior as in 3.9.1.

[2020-09-01 13:06] #648 closed

[2020-09-01 13:25] ferrarimarco opened #655 "Latest version is not deployed on Docker Hub, nor on GitHub registry"
**Describe the bug**
Due to issues when publishing the latest image (v3.9.2), it doesn't get published on Docker Hub or on GitHub Registry.

**To Reproduce**
Steps to reproduce the behavior:

1. See build logs for latest commits

**Expected behavior**
Updated Docker images to be published.

**Screenshots**
See build logs.

**Additional context**
Maybe those commits are related?

https://github.com

[2020-09-01 16:50] admiralAwkbar commented on #655
@ferrarimarco this was a fun bug to hunt down. sorry for the issue but we have been published to both locations now.

thanks for catching this and keeping an eye on us :)

[2020-09-01 16:53] ferrarimarco commented on #655
The hero we deserve :)

[2020-09-01 16:55] admiralAwkbar commented on #655
@ferrarimarco
![](https://media.giphy.com/media/joV1k1sNOT5xC/giphy.gif)

[2020-09-01 17:13] ferrarimarco commented on #655
I think there's still something off :(

See the log (for both Docker Hub and GitHub reg):

[code]

[2020-09-01 17:14] ferrarimarco commented on #655
@admiralAwkbar

[2020-09-01 17:14] ferrarimarco commented on #655
And no images are pushed

[2020-09-01 17:47] gfeun commented on #655
Hey,
Came from the Github Container Registry [blog post](https://github.blog/2020-09-01-introducing-github-container-registry/) and can't find the public image. This may be related to this issue.

[2020-09-01 17:56] admiralAwkbar commented on #655
Docker Hub: https://hub.docker.com/layers/github/super-linter/v3.9.2/images/sha256-af121534c758925e241ecdc57d4ee960f1ee16e9ea0675ece5a8116a2279dde8?context=repo

Github Container Registry:
https://github.com/orgs/github/packages/container/super-linter%2Fsuper-linter/26504

[2020-09-01 17:59] alerque commented on #490
Oh look, GitHub just released an [update to their container registry](https://github.blog/2020-09-01-introducing-github-container-registry/) that directly addresses one of the road-blocks to fixing thing issue. Specifically anonymous fetching of public images. Finally. Now to see if they follow it up with automatically matching prebuilt images with repo tags and using that in lieu of rebuilds when

[2020-09-01 18:02] gfeun commented on #655
Thanks for the link.
There's a typo in your GCR url: https://github.com/orgs/github/packages/container/super-linter/26504

It may be useful to update the blog post to point to this image as it can't be found on the super-linter repo

[2020-09-01 18:06] admiralAwkbar commented on #655
@gfeun
thats super odd...
https://github.com/orgs/github/packages/container/super-linter/27083

[2020-09-01 18:07] admiralAwkbar commented on #655
i think they are moving things around on me 👍

[2020-09-01 20:02] migolfi opened #659 "Adding .venv to the lint path substantially increases linting time"
Hi!

I'm noticing adding the Python virtual environment `.venv` to the lint path, the linting takes much longer than before.

Before:

[code]

After:

[code]

[2020-09-01 21:49] avishnyakov commented on #650
@ admiralAwkbar @ferrarimarco thanks, good idea.

That said, 20 seconds delay before actual linting is suboptimal. Worth re-opening this ticket to find solution for better performance?

[2020-09-01 22:08] migolfi commented on #659
I was looking through the script and I was wondering if [the find search](https://github.com/github/super-linter/blob/master/lib/worker.sh#L98) could be the reason? It looks like node_modules is being omitted. In this case, `.venv` is also very large (similar to node_modules).

[2020-09-02 02:24] admiralAwkbar commented on #650
I will try to make some time for this work this week

[2020-09-02 07:07] ferrarimarco commented on #655
I was able to pull from GCR! :)

[2020-09-02 11:18] dec5e commented on #544
@admiralAwkbar did you have a chance to check my example reproducing the bug?

[2020-09-02 14:21] #659 closed

[2020-09-02 20:55] WSLUser commented on #135
This would help a great deal for MS projects like Windows Terminal. You'd think this would get some kind of feedback from a maintainer.

[2020-09-03 01:25] pwmcintyre commented on #143
still valid; super-linter is totally broken for golang :(

[2020-09-03 05:46] ruzickap commented on #598
I agree - this should not be closed.

The linter component of `super-linter` (whatever it is: `hadolint`, `yamllint`, `ansible-lint`, ...) should always look for the default config file (`.hadolint.yaml`, `.yamllint.yml`, `.ansible-lint`, ...) and then for specific file located in `.github/linters`.

[2020-09-03 08:40] laurent-brisbois opened #669 "How can I handle .vue files linting ?"
Hi guys.

In my project I use Vuejs as a frontend framework and I'd like to be able to lint `.vue` files.
The thing is there are :

`<template></template>` which is HTML
`<script></script>` which is Javascript
`<style></style>` which is CSS

in `.vue` files.

How can I make them being linted by Github Super Linter ?

[2020-09-03 14:56] dec5e opened #671 "Super-linter analyzes more files than was changed in a feature branch"
**Describe the bug**
Super-linter analyzes more files than expected: not only files changed in a feature branch but also files changed in a default branch after feature branched was actually branched.

This is a follow up to a bug described in #544. it was closed with a fix but I still see an unexpected behaviour, so extracting here my comment to have an open issue (feel free to reopen old one and

[2020-09-03 15:46] v1v opened #672 "Failed to find [dotnet-format] in system"
**Describe the bug**

[code]

**To Reproduce**
Steps to reproduce the behavior:

1. Go to https://apm-ci.elastic.co/blue/rest/organizations/jenkins/pipelines/apm-shared/pipelines/apm-pipeline-library-mbp/branches/master/runs/1023/nodes/231/steps/243/log/?start=0
2. Scroll down to the very end
3. See error

command:

[code]

**Screenshots**

![image](https://user-images.githubusercontent.com/287178

[2020-09-03 16:58] laurent-brisbois commented on #669
I guess it should work. Don't know how github super-linter works deep inside

[2020-09-03 17:56] admiralAwkbar commented on #672
@v1v

Super odd..

I just downloaded the latest and tried:
[code]

[2020-09-03 18:18] v1v commented on #672
Let me debug a bit more and see if I can find what's causing that particular issue and whether it is a genuine and reproducible or a transitive environmental issue

[2020-09-04 00:24] #453 closed

[2020-09-04 00:24] #441 closed

[2020-09-04 08:12] v1v commented on #672
I cannot reproduce it so far locally :( and it seems it happens with the latest docker image

[code]

Further details:
- [docker pull](https://apm-ci.elastic.co/blue/rest/organizations/jenkins/pipelines/apm-shared/pipelines/apm-pipeline-library-mbp/branches/master/runs/1024/nodes/233/log/?start=0#)
- [docker run with the weird error](https://apm-ci.elastic.co/blue/rest/organizations/jenkins/pipeli

[2020-09-04 18:19] HorizonNet opened #680 "Make Checkstyle style configuration configurable for Java"
**Is your feature request related to a problem? Please describe.**
Currently the Java linter via Checkstyle only allows Sun's style due to hardcoding it to `sun_checks.xml`. It would be great to make it configurable to also allow [Google's style](https://checkstyle.org/google_style.html) (or make own configuration files available).

**Describe the solution you'd like**
Making Google's Style availa

[2020-09-04 18:20] admiralAwkbar commented on #671
@dec5e Hey, we have seen this before.

## Problem
In order to get an exact match of the files changed in the PR, we would need to call the GitHub API to get the list, this would  need an additional call to GitHub to gather the information, and would strictly limit using the super-linter from GitHub and Actions.

We would like to keep this git agnostic so that others can take advantage of it, but i

[2020-09-04 19:27] felipecrs opened #682 "Support Oracle PL/SQL"
It would be very good if we could add support to PL/SQL (Oracle).

Sadly, [sql-lint does not support PL/SQL](https://github.com/joereynolds/sql-lint/issues/166). I found some tools though:

https://github.com/pmd/pmd
https://github.com/Trivadis/plsql-cop-cli
https://github.com/alanmcruickshank/sqlfluff

But I don't know what would be better.

[2020-09-05 11:13] nvuillam commented on #374
PR attempt to solve this issue : #684

[2020-09-05 11:13] nvuillam commented on #225
PR attempt to solve this issue : #684

[2020-09-06 00:35] BrentMifsud commented on #127
Bump

[2020-09-06 07:23] alerque commented on #499
@github-actions You are being too aggressive, this question hasn't gotten a satisfactory answer and is really an outstanding problem in this project that needs fixing. Closing the issue won't make the problem go away.

[2020-09-06 07:25] alerque commented on #598
Pinging @admiralAwkbar, please re-evaluate this closure.

[2020-09-07 04:53] josephmarino opened #685 "ENOENT error occurring after defining a stylelint config file with the CSS_FILE_NAME env var"
:wave: Hi folks, I think I found a bug.

**Describe the bug**

When linting CSS code, it looks like super-linter cannot locate a stylelint config file when a config file such as .stylelintrc.yml is defined in the CSS_FILE_NAME environment variable.

**To Reproduce**

1. Create a repo

2. Create a super-linter linter.yml config file in a .github/workflows folder of the repo, and then add the follow

[2020-09-07 14:09] dec5e commented on #671
Could you point to the code used right now to determine a list of changed files? Originally I thought the list of files is determined only by `git diff <default_branch>...<commit_id>`, by this code block: https://github.com/github/super-linter/blob/v3.9.4/lib/buildFileList.sh#L48-L53. For me locally it gives a correct list. So it seems that's not the only place used to get the list?

[2020-09-07 14:18] GaboFDC commented on #499
I think you can fix it by the lint rules file, also try setting PYTHONPATH as specified on the workarround in #157

[2020-09-08 12:18] ferrarimarco commented on #598
This issue bit me as well :(

I do have an `hadolint.yaml` in my root, and set both `DEFAULT_WORKSPACE` and `LINTER_RULES_PATH` accordingly. Other rule files are being evaluated. Maybe there's an issue with `yml` vs `yaml` extension in `linter.sh`?

`super-linter` config:

[code]

Log output:

[code]

[2020-09-08 12:43] ferrarimarco opened #692 "Terrascan runs AWS checks only"
**Describe the bug**
Terrascan is invoked with the `-t aws` option. This causes Terrascan check Terraform code against a subset of rules, which is not ideal.

**To Reproduce**
Steps to reproduce the behavior:

1. Run super-linter against Terraform code
2. See that no violations are reported against Google Cloud- or Azure- specific checks.

**Expected behavior**
Terrascan should not be limited by a

[2020-09-08 12:48] ferrarimarco opened #693 "Support scanning Terraform with tfsec"
**Is your feature request related to a problem? Please describe.**
https://github.com/liamg/tfsec is a popular (more than TerraScan at least!) security-oriented linter for Terraform.

**Describe the solution you'd like**
Support tfsec as one of the linters that super-linter ships.

**Describe alternatives you've considered**
N/A

**Additional context**
N/A

**Note**
If this is a request to add a n

[2020-09-08 12:51] ferrarimarco opened #694 "Support linting infrastructure-as-code descriptors with Checkov"
**Is your feature request related to a problem? Please describe.**
https://github.com/bridgecrewio/checkov is a tool to check infrastructure-as-code descriptors. `It scans cloud infrastructure provisioned using Terraform, Cloudformation, Kubernetes, Serverless or ARM Templates and detects security and compliance misconfigurations.`

**Describe the solution you'd like**
Support `checkov`.

**Descri

[2020-09-08 13:13] admiralAwkbar commented on #127
This is being worked on in #535 but seems to have hit a wall.. any help there is appreciated

[2020-09-08 15:26] #157 closed

[2020-09-08 15:26] #645 closed

[2020-09-08 17:03] ferrarimarco commented on #598
This is not specific to Hadolint. Files with two dots in their name have this issue. I'm debugging a bit...

[2020-09-08 17:26] ferrarimarco commented on #598
@alerque @ruzickap can you check if #696 fixes this issue?

/cc @admiralAwkbar

[2020-09-08 17:29] ferrarimarco commented on #685
@josephmarino can you check if #696 fixes this as well?

[2020-09-08 20:59] #598 closed

[2020-09-09 02:37] IlanCosman opened #698 "Default to main and then master"
**Is your feature request related to a problem? Please describe.**

Following the guidance of github, many developers are moving to `main` as their default branch. Saving developers from the very small hindrance of using `DEFAULT_BRANCH: main` would contribute to smoothing the transition.

**Describe the solution you'd like**

The default branch should be `main`. If it does not exist, use `master`

[2020-09-09 03:19] Clint-Chester commented on #671
Just experienced this same problem 😢 this article is a good explanation of the problem - https://blog.developer.atlassian.com/a-better-pull-request/

[2020-09-09 07:13] ferrarimarco commented on #643
If we choose a behaviour here, I can provide a PR :) @admiralAwkbar

[2020-09-09 17:44] admiralAwkbar commented on #682
@felipecrs Hey that would be great if someone could take a stab at it... I looked at pmd and was able to get it up and running, but my lack of knowledge on pl/sql made it tough to test :)

[2020-09-09 18:40] felipecrs commented on #682
@admiralAwkbar it may be funny but I also have almost zero knowledge about pl/sql. If I discover something useful I will keep this issue updated. :)

[2020-09-09 19:39] #225 closed

[2020-09-09 19:39] #374 closed

[2020-09-09 19:41] admiralAwkbar commented on #698
@IlanCosman Very valid and great points. Due to legacy issues, we need to find a good way to check the repository and look for source branches. I need to take a look and see the insides and how this could be easily achieved. If you have some cycles, maybe you can take a look and see if it could be an easy fix as well :)

Thanks

[2020-09-09 20:30] josephmarino commented on #685
@ferrarimarco I was able to run the recent release of super-linter (v3.10.0) in a test repo today, and it looks like the ENOENT error is still occurring 😕 #696 looked like it would fix this issue. What are your thoughts on this?

Below is a link to the super-linter workflow run log, the workflow file and a screenshot showing the ENOENT error.

https://github.com/josephmarino/super-linter-css-bug/r

[2020-09-09 21:26] hoffmang9 commented on #490
Just got hit with this issue again. I'm specifying github/super-linter@v3.9.4 but I'm pretty sure I got 3.10.0 whether I liked it or not. I didn't like it because it's changed the results for unchanged files. It also seems to now have a version of black that wants to make changes on the ci that it doesn't want to make locally...

Does docker://github/super-linter:v3.9.4 still work as a workaround?

[2020-09-09 21:28] IlanCosman commented on #698
It _seems_ like it should be fairly easy, but I'm sure I'm missing something.

I forked the repo and changed `DEFAULT_BRANCH="${DEFAULT_BRANCH:-master}"` to `DEFAULT_BRANCH="${DEFAULT_BRANCH:-origin/HEAD}"`. The dev action passed successfully.

I'm not sure how to test my changes elsewhere. I suppose I'd have to set up a dockerhub account, publich my image, and then try using it in another reposit

[2020-09-09 21:46] IlanCosman commented on #698
Oh, no it seems to work with `uses: IlanCosman/super-linter@v3`, cool.

[2020-09-09 22:24] IlanCosman commented on #698
After a bit of testing I realize that I don't understand what the `DEFAULT_BRANCH` variable is supposed to do in the slightest. I'll leave this issue open since it seems to mean something to you.

[2020-09-10 04:24] Clint-Chester opened #699 "Groovy linter not respecting linter configuration set"
**Describe the bug**
Linting errors are not being identified by the Super Linter for Groovy files, but they are being identified locally with the same configuration.

**To Reproduce**
Steps to reproduce the behavior:

1. Set the following configuration in `.github/linters/.groovylintrc.json`

[code]
2. Setup the following groovy file.
[code]
3. Run through Super Linter in GitHub
4. Run through sam

[2020-09-10 06:21] bazzadp opened #704 "Super-Linter has started linting node_modules as part of v3.10.0"
**Describe the bug**
Just got a dependenabot note about v3.10.0 being released. Linting failed in that pull request due to Super-linter now linting the `node_modules` folders and many npm developers not following our HTML conventions.

Note we do not check in `node_modules`to our repo, however we do generate HTML as part of our build process (which requires `npm install` to have run), so run an HT

[2020-09-10 08:20] alerque commented on #490
@hoffmang9 Yes this is still very broken, and yes that workaround should still work.

[2020-09-10 09:58] ferrarimarco commented on #655
@admiralAwkbar the link to packages in the home page of the repo points to a stale repository (the latest package there is 3.6.0).

Stale repo link: https://github.com/github/super-linter/packages

[2020-09-10 10:02] ferrarimarco commented on #704
#696 is for rules files, not to select files to lint :)

[2020-09-10 10:12] ferrarimarco commented on #704
@bazzadp can you check if #707 fixes this?

[2020-09-10 10:23] bazzadp commented on #704
Not sure how to build and test the linter locally. Is there an easy way to call this from an Action?

Presume I can't do it as simply as this?:
[code]

[2020-09-10 10:53] ferrarimarco commented on #704
Nope :)

1. Clone https://github.com/ferrarimarco/super-linter
1. Switch to the `fix-node-modules` branch
1. Build the Docker image
1. Try linting your codebase by running a Docker container as you would in your CI pipeline :).

Example (running the container, from the directory where the code to lint is), that you can adapt to your needs:

[code]

[2020-09-10 12:01] bazzadp commented on #704
Gto that working (took a while to build!) but still seeing it linting the `node_modules` folder and so throwing up lots of errors.

[2020-09-10 12:07] bazzadp commented on #704
Reverting the changes in this commit fixes it: https://github.com/github/super-linter/commit/0e5f996c3c68727d21824ff25bf80ebcbeb04477#diff-409b55ad463cfac3e14fdaa2a919cfeb

[2020-09-10 12:15] bazzadp commented on #704
OK added some debugging.

The `$FILE` is set to: `/workspace/node_modules`, this means `$DIR_NAME` is set to `/workspace` by this line:

https://github.com/github/super-linter/blob/767a39e10703f8754501d4a94cb26232513fa4df/lib/worker.sh#L178

This means this clause is never fired (nor any of the following ones):

https://github.com/github/super-linter/blob/767a39e10703f8754501d4a94cb26232513fa4df/l

[2020-09-10 12:29] bazzadp opened #708 "Why does Versioning not work?"
**Describe the bug**
There is [a bug in v3.10.0](https://github.com/github/super-linter/issues/704) so I have not upgraded to this version so am still running 3.9.4.

I still hit the bug.

**To Reproduce**
Steps to reproduce the behavior:

1. Setup an action with node_modules and lock the version: `uses: github/super-linter@v3.9.4`
2. Lint a repo with a `node_modules` folder. Note this folder gets

[2020-09-10 14:51] zhenik commented on #708
I faced a similar issue. I would like to add a comment.

Why in the example run, version setup is explicit, but logs show that version `v3` is in use instead v3.9.4?

## Setup version explicit
<img width="1133" alt="Screenshot 2020-09-10 at 16 44 36" src="https://user-images.githubusercontent.com/15572799/92748392-617cf300-f385-11ea-86b0-8054964677e8.png">

## Log
<img width="1223" alt="Screenshot

[2020-09-10 16:21] #704 closed

[2020-09-10 16:23] admiralAwkbar commented on #708
@bazzadp I might need some help with the versioning code... seems it's not doing exactly what I would have expected

[2020-09-10 16:32] bazzadp commented on #708
Happy to help test here. Other than that dunno how it works (or how it’s supposed to anyway!) so not sure I can help fix it.

[2020-09-10 16:32] madietlx opened #709 "Python linters: Flake8 incompatibility with Black / E203"
**Describe the bug**
When both Flake8 and Black are used to lint python code, there are some rare cases that cause incompatibilities between the two, i.e., without disabling one of the linters (or at least the line that causes the warning) the linting/checks will fail.

**To Reproduce**
As described in the Black docs: https://github.com/psf/black/blob/master/docs/compatible_configs.md#flake8
Flake

[2020-09-10 21:45] TeraNovaLP opened #710 "FILTER_REGEX_INCLUDE seems not to work"
**Describe the bug**
I added the `FILTER_REGEX_INCLUDE` environment var with this regex `.*\.(cs|css|scss|ts|js|yml|ps1|vue)`. But file endings that are not in this regex are checked anyway. I tested my regex with the following script, there it works: https://github.com/github/super-linter/pull/684#issuecomment-687603635

**To Reproduce**
Steps to reproduce the behavior:

1. Create a folder with a

[2020-09-11 06:44] dec5e commented on #671
@Clint-Chester actually, problem I'm facing is different. My struggle is that `git diff ...` doesn't work here as expected, the article goes beyond this discussing next steps to improve PRs.

[2020-09-11 07:56] ferrarimarco commented on #685
Ok, after digging a bit, I don't think this is a bug, rather than a misconfiguration.

You set `CSS_FILE_NAME: .stylelintrc.yml` and this is ok, because the default is `.stylelintrc.json`.

You also need to set `LINTER_RULES_PATH` to point to the directory where you're saving the rules for your linters. The current default is `.github/linters`, as pointed out in the README.

Let us know if this he

[2020-09-11 11:34] bazzadp commented on #708
Is there any chance of doing a 3.10.1 release while we wait for this to be resolved? #704 is causing us a lot of noise because of the combination of that and this bug. So I would rather get that fix out there with the existing "auto upgrade" and then fix this in a following release.

Worse case to me would be fixing this and then releasing both together, as then old branches from all our maintaine

[2020-09-11 15:40] josephmarino commented on #685
@ferrarimarco ah ok. Yes, setting the ``LINTER_RULES_PATH`` env var fixed this. Very cool, thank you! I am closing this ticket now.

[2020-09-11 15:40] #685 closed

[2020-09-11 16:08] jdhom commented on #375
@HatsuneMiku3939 looks similar to the docker workaround I use. If you add the private org to the replace you can prevent sending your token on all github requests.

`git config --global url."https://${GITHUB_TOKEN}:x-oauth-basic@github.com/private-org".insteadOf "https://github.com/private-org"`

[2020-09-11 16:15] ferrarimarco commented on #708
I think this is a duplicate of #655

[2020-09-11 16:44] bazzadp commented on #708
Possibly, but not convinced.

I'd expect the following to both be true:
1. Versions above v3.6.0 would fail
2. Locking to v3.6.0 would avoid any bugs introduced in v3.10.0

But neither is true.

[2020-09-11 16:58] zkoppert commented on #375
Anybody got some time to add this workaround to the super linter documentation? maybe @jdhom or @HatsuneMiku3939 ?

[2020-09-12 19:16] theodore-s-beers commented on #710
Yeah, I can't get `FILTER_REGEX_INCLUDE` or `FILTER_REGEX_EXCLUDE` to work at all. It even confuses me that the README section about this has Bash syntax (e.g. `FILTER_REGEX_EXCLUDE=.*test/.*`). I thought this was supposed to be an `env` variable set in YAML. It would help, especially for less experienced users, if someone could post a known good example of a `linter.yml` file with these variables

[2020-09-13 00:25] #272 closed

[2020-09-13 12:33] HatsuneMiku3939 commented on #375
@zkoppert
OK. I will do it.

[2020-09-13 19:10] artob commented on #507
@cvega @devoncarew Any updates?

[2020-09-14 07:53] jeremiahlewis-vw opened #722 "Accidental Black Version War"
**Describe the bug**
black has been updated to latest version and then accidentally reverted to an older version.

**To Reproduce**
See here:

* Current master branch (from snakefmt PR which reverted dependency update): https://github.com/github/super-linter/blob/3548643771ed644d106be4b8eb28548ee363772d/dependencies/Pipfile.lock#L67
* Dependency bump for black to current version (overwritten by ab

[2020-09-14 15:04] GaboFDC commented on #709
Different linters have diferent rule set and different defaults. Trying to lint with multiple linter for the same languages can have some benefits but also some challenges like this.
Changing the one whole linter default to be compatible with other linter does not seems like the proper solution, and also could affect the users already using it.
I think this is more of a personalized config, so you

[2020-09-14 15:14] GaboFDC commented on #710
@nvuillam can you help us look at this?

[2020-09-14 15:26] nvuillam commented on #710
I'll have a look :)

[2020-09-14 15:47] theodore-s-beers commented on #710
Thanks. Another question I have is whether `VALIDATE_ALL_CODEBASE` would override `FILTER_REGEX_EXCLUDE` (preferably not).

[2020-09-14 18:31] nvuillam commented on #710
FILTER_REGEX_EXCLUDE is (supposed to) be applied on all files while filtering, even in case of override of other configuration variables

[2020-09-14 20:05] madietlx commented on #709
I would not want to disagree with what you said in general, but please consider that
- this change should be more PEP 8 compliant, not less (*supposing Black is right here?*)
- this change extends what is ignored so that the effects should be minimal (*but noticeable, of course!*)
- the Flake8 config files `TEMPLATES/.flake8` and `.github/linters/.flake8` already contain

[code]

which looks like

[2020-09-14 20:49] nvuillam commented on #710
I think my check to see if FILTER_REGEX_INCLUDE and FILTER_REGEX_EXCLUDE are set is wrongly done

https://stackoverflow.com/a/3601734/7113625 solution would deserved to be tried

[code]

Unfortunately I'm on windows and I don't have anything to run locally yet... Will test that once I can, except if someone else tried before :)

[2020-09-14 20:51] nvuillam commented on #710
It could also be escaping characters matters because of regex in command line argument

Some debug about variables FILTER_REGEX_INCLUDE & FILTER_REGEX_EXCLUDE values may help

[2020-09-15 00:25] #179 closed

[2020-09-15 01:02] akirak commented on #144
Sorry, I won't work on this issue soon. I don't mind if it's closed for now, and it can be reopened later. If someone else would implement it, please go ahead.

[2020-09-15 04:13] akirak commented on #144
In [elinter-demo](https://github.com/akirak/elinter-demo), I randomly pick a package from top 25% ones on MELPA every day and run lint on it, and [no package has ever passed the checks](https://github.com/akirak/elinter-demo/actions?query=workflow%3A%22Random%22). Maybe you'll want to discuss which checks are essential.

[2020-09-15 06:23] nvuillam commented on #710
Soooo I tried an attempt to solve the issue, when seems to be a good old argument wrong order ( shame on me 😡 )

@admiralAwkbar maybe it is possible to generate a docker image of a beta version, so we can test with docker run before publishing to an official release ?

[2020-09-15 06:46] MCOfficer commented on #108
fine, i'll play "keep the feature request open" with you.

[2020-09-15 07:33] ferrarimarco opened #724 "Terrascan should not be picked from an image tagged as latest"
**Is your feature request related to a problem? Please describe.**
Currently Terrascan is picked from its `latest` image:

[code]

This leads to unreproducible builds. Does it also prevent Dependabot from doing its job?

**Describe the solution you'd like**
super-linter should depend from a specific, non-`latest` tag.

**Describe alternatives you've considered**
N/A

**Additional context**
I was a

[2020-09-15 08:18] theodore-s-beers commented on #710
I don't think there was a problem with the original syntax for checking whether these variables are set. `-n` is the default test, so it doesn't need to be indicated explicitly, and a single bracket should be fine (provided the variable is quoted). Double brackets as a Bash-specific feature have certain advantages, which aren't really meaningful in this case.

I guess the revision offers a lot of

[2020-09-15 11:55] #722 closed

[2020-09-15 11:58] #710 closed

[2020-09-15 13:33] nvuillam commented on #710
@admiralAwkbar > CI failed again, no way to test if my corrections are effective... maybe you can manually run it again ? :)

https://github.com/github/super-linter/actions/runs/255599210 (same good old phar.io error)

[code]

[2020-09-15 15:22] nvuillam commented on #710
@TeraNovaLP > The docker build seems correct now, please can you tell if it works better with your test case , using latest version ?

`docker run -e RUN_LOCAL=true -e FILTER_REGEX_INCLUDE='.*\.(cs|css|scss|ts|js|yml|ps1|vue)' -v PATH_TO_FOLDER:/tmp/lint github/super-linter:latest`

[2020-09-15 15:41] MrSquaare opened #726 "Exclude .github folder from linting"
Hello,

I've tried to exclude the .github folder from linting but it seems it doesn't work

Here is my workflow config:
[code]

Thanks!

[2020-09-15 15:56] nvuillam commented on #710
Works on my side with latest docker image version

[code]

As result, it lints only files inside `/lib` folder , but not files inside `/lib/example` folder, so the filtring seems to be performed correctly 🎈

[2020-09-15 16:08] nvuillam commented on #726
The filtering option is very new and it seems to have a problem, a fix has been made but is not deployed yet in official Docker Image

It will be solved soon :)

[2020-09-15 16:10] nvuillam commented on #699
mmmm strange, i'll try to have a look :) ( I maintain [npm-groovy-lint](https://github.com/nvuillam/npm-groovy-lint) )

[2020-09-15 16:26] MrSquaare commented on #726
Ok, thanks 😁

[2020-09-15 17:05] theodore-s-beers commented on #710
Thanks. I'll try again once these changes are reflected in the GitHub Action.

[2020-09-15 17:17] admiralAwkbar commented on #710
@nvuillam Seems the restart worked on the job... i hate that phar...

[2020-09-15 18:18] admiralAwkbar commented on #726
@MrSquaare Hello

I just cut 3.10.1 with the update

can you verify it works as expected?

[2020-09-15 18:40] MrSquaare commented on #726
Hello @admiralAwkbar ,

I got a fatal error but I don't know if it's related to the update

Here are the full logs: https://pastebin.com/fEtcMHa5

[2020-09-15 18:48] nvuillam commented on #726
`Failed to find module.` , just had the same :/

https://github.com/nvuillam/npm-groovy-lint/runs/1119375303

@admiralAwkbar > it seems to be our good old friend from phar.io ... 😭

[code]

[2020-09-15 18:50] admiralAwkbar commented on #726
I hate that site lol

[2020-09-15 18:57] MrSquaare commented on #726
Ah sorry haha, I didn't know that you could see the logs when you're connected to GitHub even if you're not part of the repository collaborators, here is the log link: https://github.com/CyberryTeam/contributing/runs/1119336328

[2020-09-15 18:57] mbuotidem opened #728 "VALIDATE_ALL_CODEBASE: false appears not to work. Is there something I'm missing?"
My understanding of this flag is that if set, super-linter will run its linters on existing files that have been modified in the commit. However, as you can see in https://github.com/mbuotidem/lint-demo, it doesn't seem like that is the case. I started out the repo with `existing_code.py`, then added the super-linter action. After that, I edited `existing_code.py`. However, super-linter did not li

[2020-09-15 20:19] ferrarimarco commented on #272
@admiralAwkbar can we reopen this? I tested against the latest version, and the issue is still there.

Why was #34 necessary?

[2020-09-15 21:00] TeraNovaLP commented on #710
@nvuillam  It works now as expected. Thanks

[2020-09-15 21:32] dshevtsov commented on #726
I found this issue by phrase `Failed to find module.. I'm not sure if it is in scope of this issue, but the same error has started to appear with no reason in public and internal repositories today.

https://github.com/magento/devdocs/pull/7882/checks?check_run_id=1120039401#step:4:65

[2020-09-15 22:13] ferrarimarco opened #730 "Support linting of Kubernetes descriptors with Kubeval"
**Describe the solution you'd like**
Kubernetes descriptors could be validated with https://github.com/instrumenta/kubeval

**Describe alternatives you've considered**
N/A

**Note**
If this is a request to add a new language, after submitting this issue check out [the wiki](https://github.com/github/super-linter/wiki/Adding-new-language-support) for more info on how to accomplish that.

[2020-09-16 07:43] nvuillam commented on #726
@admiralAwkbar > I think the docker image associated to the GitHub action is broken, and that now all runs of latest version of this GitHub action are crashing, I strongly suggest to create a patch (maybe without that phar.io references ? )

[2020-09-16 07:46] karlism commented on #338
Hello,

We seem to have similar issue here:
https://github.com/lest/prometheus-rpm/pull/274

Linting failed with following error:
[code]

[2020-09-16 07:50] aparcar opened #733 "Unlcear "FATAL: Failed to find module." exit without linting"
**Describe the bug**
The bug is best described bu looking at the buildlog [here](https://github.com/openwrt/packages/pull/13400/checks?check_run_id=1121893736)

[code]

There is no linting possible for neither Makefile nor patches, so what is the linter trying to do?

**To Reproduce**

Try to lint a pull request with the [PRs content](https://github.com/openwrt/packages/commit/3101efa15508f41eceb7

[2020-09-16 08:59] ruzickap commented on #598
Hello guys.

I'm sorry to come back so late, but this issue is still in latest `super-linter`.

See this example:

[code]

Run `hadolint` which automatically use the `.hadolint.yaml` config file and doesn't produce any error:

[code]

If I run the `super-linter` it ignores the `.hadolint.yaml` the hadolint's config file and report error:

[code]

Looks to me like `super-linter` is trying to use `.

[2020-09-16 09:12] ken5scal commented on #733
I'm facing the same problem

[2020-09-16 09:42] ferrarimarco commented on #598
@ruzickap can you enable debug output with `ACTIONS_RUNNER_DEBUG=true` and try again? super-linter already checks both `yml` and `yaml`, as you will notice by setting `ACTIONS_RUNNER_DEBUG` to `true`.

Also, you didn't set `LINTER_RULES_PATH`, which should point to the directory where you have the `.hadolint.yaml` file, which is `.` in this case, if I read your example correctly. So `LINTER_RULES_

[2020-09-16 10:11] ruzickap commented on #598
Yeah... `LINTER_RULES_PATH=.` did the job...

Thank you...

[2020-09-16 10:58] HorizonNet commented on #733
I'm facing the same problem starting with version 3.10.0 (or better since 3.10.1 was released, but it seems that some artifacts also have an impact on earlier releases. What happens here is that the PowerShell linter is executed, even if there are no PowerShell files in the repository. I solved it via a workaround by setting `VALIDATE_POWERSHELL` to `false`.  In my opinion it should be not needed

[2020-09-16 13:25] #643 closed

[2020-09-16 13:26] #724 closed

[2020-09-16 13:34] admiralAwkbar commented on #733
I believe 3.10.1 has a failed include and the build still completed. Were building 3.10.2 now and that should surpass this issue

[2020-09-16 13:45] kslr commented on #733
3.10.2 did not solve the problem

[2020-09-16 14:37] MrSquaare commented on #733
The latest release fixed the problem for me

[2020-09-16 14:39] MrSquaare commented on #726
https://github.com/github/super-linter/issues/733#issuecomment-693449703

In addition, the exclusion of the .github folder seems to worked 👍

[2020-09-16 14:55] jbnjohnathan commented on #733
Strange, 3.10.2 solved the issue for me

[2020-09-16 14:56] assignUser opened #735 "Move Images to GHCR?"
Hey!

I contributed the R and LaTeX linters and use images currently hosted on docker hub. Should I publish/pull these on/from ghcr specifically in view of the new pull limits on docker hub?

[2020-09-16 15:54] nvuillam commented on #710
I confirm that with latest version it works fine for me 👍

[code]

[2020-09-16 16:44] GaboFDC commented on #709
About running it locally:
1) you can also put the linter file in the root and use `LINTER_RULES_PATH` which is more standard.
2) when running locally, and having the linter file under `.github/linters/` it should pick it up, and run exactly as it runs on the actions. If you use the `LINTER_RULES_PATH` you can also pass it to the container, and should also work

About the change in the defaults, i'

[2020-09-16 16:44] nvuillam commented on #733
Also working fine for me :)
Maybe some cache issue ?

[2020-09-16 16:51] GaboFDC commented on #728
I think you are miss understanding.

From the readme:

[2020-09-16 17:51] HorizonNet commented on #733
3.10.2 also works for me and the workaround described above is not necessary anymore.

[2020-09-16 18:39] #733 closed

[2020-09-16 18:42] admiralAwkbar commented on #735
Hey, @assignUser We push to both locations with the same binaries/containers when built. So whatever works for you is fine. Where trying to make this as easy to use for all platforms and if there is anything we can do, please let me know

thanks!

[2020-09-16 19:09] omusavi opened #736 "Support linting dotnet solution files"
**Describe the bug**
We have a medium sized C# solution running with super linter. We are running super linter with RUN_LOCAL so every run ends up evaluating every file. We recently wanted to add C# linting since it was just added, but found that build times for linting all of a sudden spiked. The reason for this is the call to `dotnet format` takes roughly 2-3 seconds per file, whereas the tool s

[2020-09-16 19:48] assignUser commented on #735
Ah, I think I might have not phrased that very clearly. I maintain these images:
https://github.com/github/super-linter/blob/58d3d191b823648aeb2610568a29b31ee86e895d/Dockerfile#L19-L20

And I was wondering if I should make them available via ghcr instead of docker hub (free accounts have a 100pulls/6h limit now, which wasn't reached yet but as this is a growing project I wanted to be proactive :)

[2020-09-16 21:03] mbuotidem commented on #728
@GaboFDC  Thanks for responding. I did read that section of the readme before asking the question and I thought I understood it. So perhaps you could clarify to help me and others who could possibly arrive at the same misunderstanding.

My possible misunderstanding of what `VALIDATE_ALL_CODEBASE` does is based on https://github.com/github/super-linter/issues/219#issuecomment-654187666 and https://

[2020-09-17 06:25] nvuillam commented on #726
@MrSquaare so maybe it's time to close the issue 😄

[2020-09-17 08:36] tbeaugrand commented on #708
I think the problem is due to the hardcoded version in action.yml file

[code]

[2020-09-17 08:42] bazzadp commented on #708
@tbeaugrand do you mean this action.yml file?

https://github.com/github/super-linter/blob/58d3d191b823648aeb2610568a29b31ee86e895d/action.yml#L5-L6

Because the syntax is slightly different than you gave.

[2020-09-17 08:51] tbeaugrand commented on #708
@bazzadp yes sorry, i edited my post.

It was a copy from previous commit

[2020-09-17 09:43] theodore-s-beers commented on #710
Yeah, it works. Thanks so much for doing this! I wanted a setup where everything is linted according to the defaults, while carving out a few narrow exceptions. And now that's possible.

[2020-09-17 09:55] nvuillam opened #737 "Use repos default linter configuration instead of Super-Linter defined one"
Today, Super-Linter offers two ways to use linters configuration :
- Send the name of a configuration file using env variables LINTER_RULES_PATH and **_LINTERNAME_ _CONFIG_FILE**
- Use Super-Linter default configuration

In my opinion, there is a missing third option:
- use repository configuration, meaning do not send the path to a config file to the linter CLI, but let it find it itself

We coul

[2020-09-17 10:07] nvuillam commented on #710
You're welcome 🤓

[2020-09-17 13:09] #726 closed

[2020-09-17 17:00] tbeaugrand commented on #708
@zkoppert why have you hardcoded this version ?

[2020-09-17 18:20] WSLUser commented on #737
So something like `.clang-format` is read by default and then applies the defaults from here?

[2020-09-17 18:31] josephmarino commented on #737
I think this is a good idea too. This would also improve the user experience for folks who are migrating over to super-linter from repos where they are running linters individually, such as stylelint, and are used to the [cosmiconfig](https://stylelint.io/user-guide/configure) functionality that is built into stylelint to locate and load the config file by default.

[2020-09-17 18:32] nvuillam commented on #737
The global idea is a new value meaning "i don't want to send a config file as parameter to the linter CLI, i want this CLI to load its config the way it is programmed to"

Examples:
- eslint will look for a .eslintrc.json file, if not found it will look for a property eslint in package.json, etc ...

We need to be able to use our repository config files without having to specify a file path to Sup

[2020-09-17 19:44] admiralAwkbar commented on #735
@assignUser I understand now... that makes a lot more sense :)
I think that would be great and would be very much appreciated.

[2020-09-17 19:46] admiralAwkbar commented on #736
@omusavi Thanks for the input.

Would you think that if we looked for SLN files and then ran the linter against that, vs individual files, we could experience much better times?

I'm not a C# dev, and we want to make sure this works well for everyone. I'm interested in some solutions we can take to speed this up and help everyone

thanks

[2020-09-17 20:58] omusavi commented on #736
Yes, looking as sln files or csproj files would be the preferred method for this tool. Looks like dotnet format also supports a `--folder` flag that looks at all files within that folder, but that might not work as well because it won't take into account the files that super-linter already ignores (such as node_modules).

Perhaps there could be a flag for specifying which extension you want to sea

[2020-09-17 23:04] nvuillam commented on #737
@admiralAwkbar i think i can do it ... would such PR be interesting to you ? 😇

[2020-09-17 23:20] admiralAwkbar commented on #737
I'd be glad to help if I can get some spare cycles I've been slammed lately

[2020-09-18 14:42] admiralAwkbar commented on #730
@ferrarimarco I like it, lets get it in

[2020-09-19 14:49] assignUser commented on #737
Just FYI this is the default behavior for `lintr`

[2020-09-20 00:26] #188 closed

[2020-09-21 08:09] HorizonNet commented on #392
Based on the initial discussion I would prefer Scalastyle. For me it's kind of a pendant to Checkstyle in Java.

[2020-09-21 13:50] #735 closed

[2020-09-21 14:45] eiei0 opened #755 "Protocol Buffer Linter not using GetLinterRules"
It seems like the same thing that has happened in #524 with PHP is happening to the Protocol Buffers linter. After adding our `.protolint.yml` config to `.github/linters` as described [in the README](https://github.com/github/super-linter#template-rules-files), the workflow logs still show that its referencing the default location. I'm not sure, but I think it should be added [here](https://github

[2020-09-21 17:04] josephmarino commented on #755
Hey, Jonathan! (@eiei0)

See if adding ``LINTER_RULES_PATH: .github/linters`` to main.yml fixes this error.

[2020-09-21 19:06] #755 closed

[2020-09-22 04:49] leoalves100 commented on #728
@mbuotidem

Translated by google translator.

I also had the same problem. The only solution is to leave **VALIDATE_ALL_CODEBASE: true** and the other types that you want to validate with **true** also.

**Code**
![](https://i.ibb.co/TkMgk6G/Captura-de-tela-2020-09-22-014218.png)

**Execution**
![](https://i.ibb.co/jLT10Qd/Captura-de-tela-2020-09-22-014339.png)

Checked only the files I wanted!

[2020-09-22 12:17] madietlx commented on #709
@GaboFDC Just tested it out. Having the `.flake8` linter file under `.github/linters/` did not work locally. With or without `LINTER_RULES_PATH`, made no difference.

What did work: Running the docker image `github/super-linter:v3` with

`-v '$(shell git rev-parse --show-toplevel)/.github/linters/.flake8':/action/lib/.automation/.flake8:ro`

Looks a bit overcomplicated. Not like it is supposed to

[2020-09-22 13:47] #730 closed

[2020-09-22 21:31] ferrarimarco opened #760 "Simplify the code base"
**Is your feature request related to a problem? Please describe.**
Extending super-linter is hard, and there's a lot of duplicated code. This causes errors and issues, and hinders the maintainability of the project.

**Describe the solution you'd like**
Here are some things that come to mind, after an inspection of the code base:

1. Use a single array for languages and linters: having two makes i

[2020-09-22 21:37] ferrarimarco commented on #760
Additionally, we might leverage a descriptor that we parse to build the environment. For example, a `JSON` that we parse with `jq` that describes the properties of each linter (name, how to get the version, default command switches, default rules file name...).

This scenario also supports the use case that sees a user personalizing this configuration. For example, super-linter now doesn't support

[2020-09-22 21:40] ferrarimarco commented on #760
PS: I don't know how all this might relate to #739

[2020-09-23 08:13] montyly opened #762 "Grab snakefmt and black from their container images instead if installing them"
Hi,

Similar to https://github.com/github/super-linter/issues/722, black was downgraded to `19.10b0` again with https://github.com/github/super-linter/pull/713. `19.10b0` does not follow the exact same rules as `20.8b1`, as a result, some workflows are not passing anymore (ex: https://github.com/crytic/slither/pull/643).

Do you know if there is a specific version conflict between `black` and `Sna

[2020-09-23 13:46] Yunus259 opened #763 "- name: Super-Linter uses: github/super-linter@v3.11.0"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Additional context**
Add any other

[2020-09-23 15:02] nvuillam commented on #737
Implemented in my super-linter POC in python.... but there is a long way for it to be in production ^^

[2020-09-23 15:07] nvuillam commented on #760
Have a look in my [Proof of concept](https://github.com/github/super-linter/pull/745) for a super-linter V4 in python -> part of what you propose is already implemented :)

If @admiralAwkbar , @GaboFDC and other GitHub DevOps team maintainers are ok for it to be the next version, I'd love some help from you & others to implement what is missing :)

[2020-09-23 16:22] nvuillam commented on #760
@ferrarimarco > After your suggestion I just implemented factorized version management, is that what you have in mind ?

https://github.com/nvuillam/super-linter/commit/468c6a6724928426355e38b1e2470dd23194cb06

[2020-09-23 17:22] nvuillam commented on #760
Here is what a linter class could contain
Do you see more items which would be necessary ? Kube linter may but i don't know it :)

Template class for custom linters: any linter class in /linters folder must inherit from this class
The following list of items can/must be overridden on custom linter local class:
- field language (required) ex: "JAVASCRIPT"
- field name (optional) ex: "JAVASCRIPT_ES"

[2020-09-23 18:52] josephmarino commented on #737
@nvuillam very cool 😃 this functionality will also be an elegant solution to #685

[2020-09-24 00:59] mbuotidem commented on #728
@leoalves100  Thanks for your response. Good to see I wasn't the only one who was confused by this. Your answer will probably be helpful for someone else who has the same issue. I also noticed that **VALIDATE_ALL_CODEBASE: false** worked fine when I performed pull requests instead of direct pushes to master. That was going to be the standard method of usage for the project I wanted to implement th

[2020-09-24 00:59] #728 closed

[2020-09-24 01:39] ljharb commented on #175
eternal bump

[2020-09-24 07:03] ferrarimarco commented on #760
Apart from some relatively small changes, such as the `file_extensions` and `config_file_name` which shouldn't be required, why do we need to implement a subclass for each linter? Compared to the current implementation, the only advantage would be that a developer is guided in adding a new linter because of inheritance. This could be easily done even in the current implementation with some tests a

[2020-09-24 14:56] nvuillam commented on #760
@ferrarimarco I totally get your point and agree with it : less code + more config = the better :)

But I think that with all the `if` and special cases in the code, just updating the current bash code to manage JSON/YML descriptions would work for now , but would prevent from having :
- everything related to a linter in a single file
  - Most common behaviours could be just descriptive, but some

[2020-09-24 16:16] ferrarimarco commented on #760
If you generalize the behavior, why would this matter? This design choice might encourage specialization, instead of generalization.

Yes. Correct. I suspect that there aren't that many special cases. We have already an idea of how many just by having a look at the fields that are marked as "optional".

I don't agree here, because to maintain this project you have to know Python. Additionally, hav

[2020-09-24 17:13] nvuillam commented on #760
I don't see why contributors would do complicated when they can do simple. And anyway, maintainers validate PRs so would request simplification when useless code is detected

I already detected several special cases with just python js markdown and groovy linters... i suspect there are much more.
Alternative would be to add `IF LINTER == XXX` in the core architecture (like it is today) , which in

[2020-09-25 10:39] catborise opened #768 "multiple Regex exclude folder"
hi,
i want to exclude more than 1 folder. How can it be done? There is no clue on docs.

there are two folders: static, dev/scss

".*static/.*" ".*dev/scss/.*"
FILTER_REGEX_EXCLUDE:  .... ?

[2020-09-25 19:05] ferrarimarco commented on #760
And look how much duplicate code there's now :)

Why defining a linter in a single file is a requirement? What are the benefits of this design choice?

It's not an issue with Python itself, rather then assessing if it's the right tool for the job.

As said, this is subjective (although shell scripting might not have the most straightforward syntax).

Maybe, but this is not always true. Example: wh

[2020-09-25 23:02] ferrarimarco commented on #760
Additionally, the main downside of having such a fixed class hierarchy would be that when you need to add a new linter, you've to rebuild the whole project. With text-based descriptors (the JSON I mentioned above, for example), you don't need to re-build anything, and the user might even personalize every aspect how linters are invoked (command line switches, for example), without writing a single

[2020-09-26 05:22] nvuillam commented on #760
I don't claim to be perfect, far from that... butafter looking to what i already fid, do you really there is bo future for it ? :/

[2020-09-26 07:56] nvuillam commented on #760
I replied from a bar yesterday , sorry for the lame message :)
I fully understand that it can appear "impulsive" to propose a new implementation before getting acceptance from all the different parts, I agree that it's can look a little bit "enforcing" , but from the beginning I asked opinion of maintainers, @GaboFDC seemed to think it was going in the good way ....

Instead of criticizing every s

[2020-09-26 23:20] JustinGrote commented on #760
I made Super-Duper-Linter which fixes a lot of these problems and switched over the primary "runtime" from shell to Powershell.
https://github.com/marketplace/actions/super-duper-linter

[2020-09-27 08:47] nvuillam commented on #760
@JustinGrote > In my opinion, hard-forks should be the last resort... usually only one survives (cf Hudson & Jenkins), because the community uses / maintain only one of both
Did you try to propose your evolutions here ?

[2020-09-27 08:59] Ronaldcoop commented on #760
No I just need my phone fixed..Really bad..

On Sun, Sep 27, 2020, 3:48 AM Nicolas Vuillamy <notifications@github.com>
wrote:

[2020-09-28 09:38] maxim-lobanov opened #776 "Support JSON Linter with syntax validation"
**Is your feature request related to a problem? Please describe.**
Currently, `github/super-linter` uses [jsonlint](https://github.com/zaach/jsonlint) to validate `*.json` files.
The problem is that this linter can't report styling issues.
It can report syntax issues (when JSON is invalid) and can beautify JSON file (that is useless for github/super-linter).

**Describe the solution you'd like**
I

[2020-09-28 13:25] nvuillam commented on #768
You can build a regex with multiple matching strings

Example :  **(/static/|/dev/scss)**

You can play with an online regex editor to build your appropriate RegEx
https://regex101.com/r/YemT0T/2

[2020-09-28 13:45] admiralAwkbar commented on #776
@maxim-lobanov Do you know of any library we could use that makes this available?
Currently, [jsonlint](https://github.com/zaach/jsonlint) was the only good one available

thanks!

[2020-09-28 13:46] admiralAwkbar commented on #763
@Yunus259 Not sure what the issue is?

[2020-09-28 13:46] #763 closed

[2020-09-28 14:00] alauq opened #778 "👾🤖👽♾iPhone c’est"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Additional context**
Add any other

[2020-09-28 14:30] alauq opened #779 "Thé wikis"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2020-09-28 14:31] alauq opened #780 "**Is your feature request related to a problem? Please describe.**"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2020-09-28 14:41] maxim-lobanov commented on #776
Unfortunately, I don't know CLI tools that can do that.

Just an option: `eslint` can be configured to use [eslint-plugin-json-format](https://www.npmjs.com/package/eslint-plugin-json-format) plugin. It works perfect for me

[2020-09-28 14:47] #780 closed

[2020-09-28 14:47] #779 closed

[2020-09-28 14:48] #778 closed

[2020-09-29 11:56] #768 closed

[2020-09-29 20:48] ferrarimarco commented on #760
I think we can close this issue. The discussion went a bit off track.

[2020-09-29 20:48] #760 closed

[2020-09-29 23:41] nvuillam commented on #760
Despite the ping-pong, I found the discussion very interesting :/

I'll open a new issue or PR where I summarize everything I propose (taking in account the requirements you nicely defined in your first post) , with detailed explanations, pro, cons, etc , and i'd really like if you participate :)

[2020-09-30 07:26] ferrarimarco commented on #760
Sure! Let's move the discussion regarding the re-implementation in Python in #745

[2020-09-30 10:36] ahmedhosnycs commented on #375
@HatsuneMiku3939 This workaround has worked for me. Many Thanks 🙏

[2020-09-30 15:07] migolfi opened #786 "Support ignore experience similar to .gitignore"
**Is your feature request related to a problem? Please describe.**

I love that I can integrate "One linter to rule them all", and with that comes the file ignoring challenge.
Recently we've seen generated code added to our repo and the lint errors which come with it.
The generated code is absolutely needed for our tests, and so it needs to be maintained in the repo.
I added the `FILTER_REGEX_EXCL

[2020-10-01 05:38] apollonian commented on #127
Oh! Will be checking this out.

[2020-10-01 17:06] nason-schrodinger commented on #693
This seems right up my alley, I'll review your wiki and see if this is doable.

[2020-10-01 17:14] zylent commented on #693
Sorry for the extra comment, wrong account. This is up my alley - I'll review your wiki and guidelines before 100% committing but I would love to work on this.

[2020-10-02 04:15] vovanthao opened #792 "Ad giúp tôi vs ạ"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Additional context**
Add any other

[2020-10-02 04:16] vovanthao opened #793 "Ad sử lý giùm tôi với ạ"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Additional context**
Add any other

[2020-10-02 04:21] vovanthao opened #794 "Ad giúp em ạ"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Additional context**
Add any other

[2020-10-02 04:23] vovanthao opened #795 "Ad giúp em ạ"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Additional context**
Add any other

[2020-10-02 04:23] vovanthao opened #796 "Ad giúp em ạ"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Additional context**
Add any other

[2020-10-02 04:25] vovanthao opened #797 "Ad giúp em ạ"
Rep

[2020-10-02 04:26] #797 closed

[2020-10-02 04:26] vovanthao commented on #797
Yéa

[2020-10-02 04:26] vovanthao commented on #797
Yéa

[2020-10-02 14:05] andrejpk commented on #736
It seems like super-linter is built on sensible defaults, so what makes the most sense in most cases? Default to just scanning SLNs and let you configure another way if you'd like? Or default to **.cs as it does now and allow choosing a csproj or sln?

[2020-10-02 18:16] omusavi commented on #736
From my understanding of how super-linter works, when run as a github action it only runs on the files that have been modified, so if we were to set it to default to sln/csproj, it would not lint any changes to code files. However, when using RUN_LOCAL it ends up running against everything all the time, which is how we run it outside of the github context. So as not to break the experience on gith

[2020-10-02 18:19] noora1981 opened #800 "Sex"

[2020-10-02 18:27] admiralAwkbar opened #801 "Commit Scrapper"
| Commit SHA | Date | Author | Email | Commit Message |
| --- | --- | --- | --- | --- |
| 6902cbf (HEAD -> master, origin/master, origin/HEAD) | Thu, 1 Oct 2020 10:52:05 -0500 | GitHub | noreply@github.com | Merge pull request #788 from st3v3nhunt/fix-linters-dir-path |
| a94d86f | Thu, 1 Oct 2020 10:51:18 -0500 | GitHub | noreply@github.com | Merge pull request #789 from github/dependabot/pip/dep

[2020-10-02 18:28] #801 closed

[2020-10-02 18:28] #800 closed

[2020-10-02 18:28] #796 closed

[2020-10-02 18:28] #795 closed

[2020-10-02 18:28] #794 closed

[2020-10-02 18:28] #793 closed

[2020-10-02 18:28] #792 closed

[2020-10-03 04:28] ribtoks commented on #135
Not stale

[2020-10-05 19:00] HorizonNet commented on #680
Comment to remove the stale label from this one for now. Need to find some time to look into it on my own.

[2020-10-06 14:15] jeremiahlewis-vw opened #807 "Black linter failing again..."
The black linter step is using v19 instead of v20, as can be seen in this line of the Pipfile.lock file. Solution might be to pin the version to at least version 20, or to pin it to v20 to avoid unplanned breaking changes.
https://github.com/github/super-linter/blob/6902cbfd3d6ca9432bcfa450ff91a3f6ca2472e1/dependencies/Pipfile.lock#L67

[2020-10-06 14:16] jeremiahlewis-vw commented on #807
Same issue as here: https://github.com/github/super-linter/issues/722

[2020-10-06 14:19] jeremiahlewis-vw commented on #807
What about enforcing a minimum version in the Pipfile?

https://github.com/github/super-linter/blob/6902cbfd3d6ca9432bcfa450ff91a3f6ca2472e1/dependencies/Pipfile#L9

->
`black = ">=20"`

[2020-10-07 12:47] prabhakarreddy1234 opened #812 "tag 3.11.0 is not available"
# docker pull github/super-linter:3.11.0
Error response from daemon: manifest for github/super-linter:3.11.0 not found: manifest unknown: manifest unknown

[2020-10-07 12:49] prabhakarreddy1234 commented on #763
docker pull github/super-linter:3.11.0
Error response from daemon: manifest for github/super-linter:3.11.0 not found: manifest unknown: manifest unknown

[2020-10-07 13:48] prabhakarreddy1234 opened #813 "Files are not linted when run in Azure Devops pipeline"
**Describe the bug**
I added super-linter step to a build pipeline in azure devops. When the pipeline is run, lint step is simply ignoring all the files in the working directory. I written `ls` on working directory to console. It shows all the files. Attached logs.

[code]

**To Reproduce**
Steps to reproduce the behavior:

1. Add below step to any build pipeline job.
[code]

**Expected behavior**

[2020-10-07 16:52] admiralAwkbar commented on #812
![Screen Shot 2020-10-07 at 11 52 03 AM](https://user-images.githubusercontent.com/29484535/95362319-89337e00-0893-11eb-88c9-e3b320bf568e.png)

Hey @prabhakarreddy1234
Seems maybe a bad connection?

[2020-10-07 17:12] omusavi commented on #813
One thing I have found can be helpful is to add the super-linter.log file as a build artifact, there is a lot more information there that can help debug the issue

[2020-10-07 17:52] #812 closed

[2020-10-07 19:27] theodore-s-beers opened #816 "Possible typo in markdownlint template"
**Describe the bug**
In `TEMPLATES/.markdown-lint.yml`, at line 25, the `line_length` value—i.e., the maximum number of characters allowed per line (with certain exceptions)—is set to `808`. To me it seems like a typo, with `80` being the intended (and commonly used) value. But I didn't want to presume, so I figured I would ask here rather than making a one-character PR. Please close the issue if

[2020-10-08 07:21] alerque commented on #499
No @github-actions this issue is not stale, the *project* is stale. The maintainers' last documented stance on this is:

There still isn't a provision for the need here other than really ugly work arounds.

[2020-10-08 10:08] mamilov commented on #807
Failing for me as well, also using 20.8b1

[2020-10-08 17:51] penismilker opened #822 "Bug"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Additional context**
Add any other

[2020-10-08 17:54] #822 closed

[2020-10-08 17:55] admiralAwkbar commented on #816
@theodore-s-beers I think you might have found a fun typo that was likely set to make the error go away lol...

Feel free to open a pr :)

[2020-10-08 17:56] admiralAwkbar commented on #807
@jeremiahlewis-vw Can you pin the version in the pip file so this stops happening? I think that should be a good fix for now and will get you 1 PR closer to hacktoberfest :)

[2020-10-08 19:37] theodore-s-beers commented on #816
Ok. You're right… I'm almost reluctant to deprive myself and others of the 728 characters of leeway…

[2020-10-08 20:13] jeremiahlewis-vw commented on #807
Would love to contribute, but unfortunately can't do a PR, for reasons. Anyone else down for the PR?

[2020-10-08 20:39] HorizonNet opened #825 "Upgrade to 3.12.0 automatically checks .editorconfig"
**Describe the bug**
When upgrading to 3.12.0 an `.editorconfig` in the repository gets analyzed automatically, even with `VALIDATE_ALL_CODEBASE` is set to `false`.

**To Reproduce**
Steps to reproduce the behavior:

1. Update the `super-linter` action in a repository with an existing `.editorconfig` to 3.12.0.
2. Linting workflow will automatically check the `.editorconfig` even when it wasn't ch

[2020-10-09 07:41] ferrarimarco commented on #692
I can have a look at this. @admiralAwkbar can we remove the stale label? Thanks!

[2020-10-09 08:59] jtbonhomme commented on #143
Still valid!

[2020-10-09 11:40] dec5e commented on #671
The solution which fixed the issue for me was an update to `actions/checkout@v2` config in workflow yaml file:
[code]

For the explanation please see the sample PR I created https://github.com/dec5e/super-linter-test/pull/4. Quoting important part:

[2020-10-09 18:47] troyfontaine opened #830 "Terragrunt Linter should automatically ignore .terragrunt-cache folders"
**Is your feature request related to a problem? Please describe.**
When trying to use the new Terragrunt linter, the time to scan a repo is drastically longer (when performed locally) due to the fact that super-linter has to slog through the source repos pulled in by Terragrunt.

**Describe the solution you'd like**
The Terragrunt linter should automatically add an exclude files filter to avoid li

[2020-10-09 20:15] GaboFDC commented on #499
You can use the linter file to specify the rules you want to avoid, yo don't necesarely have to doit by the CLi args.
Also as an open sopurce project any PR adding more funtionalities is higly welcomed.

[2020-10-09 20:23] GaboFDC commented on #813
Maybe in the pipeline the tmp dir is not being mounted correctly? I assume that the `ls` you did was on System.DefaultWorkingDirectory, but maybe the container is not getting it? I'm not able to test this, but if you provide a more detailes like as @omusavi said an also if you run with `LOG_LEVEL=TRACE` and `ACTIONS_RUNNER_DEBUG=true` to see all possible details

[2020-10-09 22:44] HorizonNet commented on #698
Instead of defining the default branch it would be better (and more flexible) to grab the default branch of the repository. With that the user does not need to care about setting the configuration. The configuration can then be used if the user wants to use another branch as the default branch used by super-linter.

[2020-10-10 11:56] 5hre9a opened #831 "Dependencies"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Additional context**
Add any other

[2020-10-10 15:43] a16bitsysop opened #832 "Upgrade Dockerfilelint to allow linting Dockerfiles with HEALTHCHECK"
**Describe the bug**

Any dockerfile with healthcheck fails as dockerfilelinter has its own error

**To Reproduce**
Steps to reproduce the behavior:

1. Add a healthcheck to a dockerfile
1. Run  super-linter on it

**Expected behavior**

Fails if problem with syntax or pass if ok

**Screenshots**

[code]

**Additional context**

Run via GitHub actions

[2020-10-11 04:01] alerque commented on #490
Still very much broken.

[2020-10-12 00:29] #424 closed

[2020-10-12 08:10] turkiszz opened #839 "Aarek"
https://github.com/github/super-linter/blob/2e126e59e256ee8a98e825e2105d17ebb0517389/.github/CODEOWNERS#L1
#395

[2020-10-12 15:21] #816 closed

[2020-10-12 20:24] anhuong opened #843 "Support linting Tekton yamls"
**Is your feature request related to a problem? Please describe.**

N/A

**Describe the solution you'd like**

Would be nice to [tekton-lint](https://github.com/IBM/tekton-lint) files as well.
Tekton is an emerging technology and linting is vital!

**Describe alternatives you've considered**

Are there other tekton linters? Please let us know, if so!

**Additional context**

N/A

[2020-10-13 00:29] #219 closed

[2020-10-13 01:05] LogicNinja opened #844 "Markdown linter not honoring rules in default config"
**Describe the bug**
The markdown linter does not appear to be honoring the rules defined in the default .markdown-lint.yml config file.
There is a rule to trigger MD013 only on lines over 808 characters however, this now triggers when lines are over 80 characters. This is the default behaviour in the markdown linter but the config file should be overriding this.
Specifying your own config also do

[2020-10-13 04:14] #839 closed

[2020-10-13 04:45] bewuethr commented on #556
FWIW, I see the exact same thing: with triggers set to

[code]

I don't have per-language status and don't see failed calls in the logs (see [action run](https://github.com/bewuethr/pandoc-bash-blog/runs/1245673489?check_suite_focus=true)); with triggers set to

[code]

I get individual status (see [action run](https://github.com/bewuethr/pandoc-bash-blog/runs/1245688506?check_suite_focus=true)).

[2020-10-13 15:12] FlyingEagles commented on #844
{{End Mackdown linter}}

[2020-10-13 16:07] KineticTheory opened #847 "[Noob Q] How do I use FILTER_REGEX_EXCLUDE?"
Can someone provide an example for me wrt `FILTER_REGEX_EXCLUDE?.  I would like to eliminate this warning:
[code]

I currently have this in `linter.yml`, but it doesn't eliminate the warning:
[code]

Do I need to `.*/.*/.*.hh`?  The regex format isn't exactly what I am used to using.

Thank you!

[2020-10-13 17:16] admiralAwkbar commented on #847
@KineticTheory i think the line should simply be:
[code]
That would exclude all files that end in `hh`

Now the issue is that, we build the list of files at the beginning and try to find their arrays, and any that don't have a defined home `somefile.hh` will likely still show a warning as it doesn't have a linter or know what it is...

[2020-10-13 18:54] KineticTheory commented on #847
Thank you for responding.  If I need multiple filters, should I use a comma delimiter like this `*.hh,*.cpp`?  Does the regex format allow the use of `$` for end-of-line like this `*.hh$,*.cc$`?

[2020-10-13 19:11] admiralAwkbar commented on #847
@KineticTheory
The line of code thats called is:
[code]

So i would assume if you used properly `or` technique, you could get multiple excludes...
@ferrarimarco  would you believe that?

[2020-10-13 19:12] #831 closed

[2020-10-13 19:13] admiralAwkbar commented on #830
@troyfontaine
Hey thanks for the input!

Is there a default `.terragrunt-cache` folder?
If so we could have that set to ignore... Sorry I'm not an expert on terragrunt :)

[2020-10-13 19:14] admiralAwkbar commented on #807
This was merged and fixed!

[2020-10-13 19:14] #807 closed

[2020-10-13 19:21] KineticTheory commented on #847
Hmmm.  That line of code would indicate that the value `*.hh` wouldn't work as expected.  I think I need `.*[.]hh`.  Do you concur?

In the end, I think I might need something like `.*[.](cc|hh)$`.  Do I need to escape the parenthesis?  Something like `.*[.]\(cc\|hh\)$`?  I'll give this a try with the understanding that I'll still get the warnings about filetype.

[2020-10-13 19:36] #655 closed

[2020-10-13 19:37] #671 closed

[2020-10-13 19:38] #396 closed

[2020-10-13 20:08] troyfontaine commented on #830
HI @admiralAwkbar they can be nested anywhere inside of the repository-so it isn't a matter of directory depth unfortunately.  With the structure my org uses:

[code]

Here is the example from the Terragrunt website:
[code]

[2020-10-13 20:09] admiralAwkbar commented on #830
Hey no worries at all! it does look like it always follows that naming so I can make it to where it'll always look for it

[2020-10-13 20:10] troyfontaine commented on #830
The folder name is always the same!  Thank you!

[2020-10-13 20:54] #830 closed

[2020-10-13 21:37] #843 closed

[2020-10-14 00:29] #393 closed

[2020-10-14 07:15] ferrarimarco commented on #847
@admiralAwkbar this looks interesting. I'd check #786 as well, which proposes an interesting approach to this.

[2020-10-14 07:17] ferrarimarco commented on #786
And you might just symlink your `.gitignore` to point to `.superlinterignore` (much like we're doing with the `.dockerignore` in this repo), and fallback reading the `.gitignore` file directly...

[2020-10-14 07:19] ferrarimarco commented on #825
@HorizonNet can you try with `3.13.0` that @admiralAwkbar just released? We fixed some issues we had when building the file list, and others related to include/exclude linters.

Please, let us know if this issue is still there. Thanks!

[2020-10-14 07:30] HorizonNet commented on #825
@ferrarimarco The same behavior still happens. The following screenshot show part of the linter log from a Dependabot PR trying to bump from 3.11.0 to 3.13.0. Dependabot is actually only touching the workflow definition, not the Editorconfig file.

![Screen Shot 2020-10-14 at 9 26 58 AM](https://user-images.githubusercontent.com/1908271/95957227-bafe9480-0dff-11eb-8a1c-6b28a09ce60a.png)

[2020-10-14 07:34] ferrarimarco commented on #832
This shouldn't happen, you're right. Can you run super-linter again after setting `ACTIONS_RUNNER_DEBUG=true`? Thanks!

[2020-10-14 07:37] ferrarimarco commented on #832
And, can you also show us the Dockerfile that's causing the issue?

[2020-10-14 07:39] ferrarimarco commented on #832
Apparently, this is an upstream issue: https://github.com/replicatedhq/dockerfilelint/issues/156

I'll leave this open as a reminder to update dockerfilelint when they fix the issue.

[2020-10-14 09:07] a16bitsysop commented on #832
Yes I found the upstream one after posting this [here](https://github.com/replicatedhq/dockerfilelint/issues/156#issuecomment-707827305) and commented on it as well.  Do you still want the debug info?

[2020-10-14 09:11] ferrarimarco commented on #832
Not needed anymore :)

[2020-10-14 10:39] ferrarimarco commented on #825
This is working as expected. [editorconfig-checker](https://github.com/editorconfig-checker/editorconfig-checker) (the linter that's complaining) doesn't lint `.editorconfig` files for correctness, but it checks text files **against** an `.editorconfig` file. In other words, if a text file doesn't follow the rules you set in your `.editorconfig`, `editorconfig-checker` is going to flag it as an er

[2020-10-14 10:39] #825 closed

[2020-10-14 10:42] ferrarimarco commented on #844
See #816

[2020-10-14 10:42] HorizonNet commented on #825
@ferrarimarco Thanks for the pointer. I completely oversee this one. Yes, then it's working as expected.

[2020-10-14 12:49] jonasfj commented on #507
Lots of the issues you're having are because you're not using flutter, or installing dependencies before running the analysis.

In short you need to do:
* For dart projects:
  * `dart pub get`
  * `dart analyze` or (`dartanalyzer`)
* For flutter projects:
  * `flutter pub get`
  * `dart analyze` or (`dartanalyzer`)

Long term I suspect that `dartanalyzer` will go away, so if you can make `dart ana

[2020-10-14 14:29] admiralAwkbar commented on #844
@ferrarimarco @LogicNinja I think making this a more user friendly number is the right answer.

- `80` chars seems a little low these days
- `808` seems a bit high...
- `404` sounds about right...

[2020-10-14 14:55] artob commented on #507
@jonasfj Thanks for the write-up, I will review and see if I can work around these issues.

[2020-10-14 15:35] #844 closed

[2020-10-14 15:59] admiralAwkbar commented on #813
@prabhakarreddy1234 just pushed new code to latest can you try to run again and see if no files are found in the mount?

[2020-10-14 18:34] a16bitsysop commented on #832
I can get a Dockerfile to pass with the current dockerfilelint using the command:
`docker run -v `pwd`/Dockerfile:/Dockerfile replicated/dockerfilelint /Dockerfile`

But the same Dockerfile with a healthcheck will fail with this version.

The healthcheck has to have an option before the command to stop this error, and must end in ` || exit 1`

[2020-10-14 23:47] PhunStyle opened #852 "JavaScript ESLint Issue (And possible solution)"
**Describe the bug**
Trying to now use a configuration file with ESLint causes issues. This is probably because the script tries to look for JAVASCRIPT_ES_LINTER_RULES (it's dynamically doing this per language) but in some places some things are still defined as JAVASCRIPT_LINTER_RULES. This causes an issue where it skips over custom rules and uses the `DEFAULT_RULES_LOCATION='/action/lib/.automat

[2020-10-15 04:12] Clint-Chester commented on #699
@nvuillam my theory is potentially on how it's using the `--files` parameter. I was noticing that if you passed in the exact file names into this parameter it wouldn't run, but adding wildcards to each of the file names would make it analyse. Do you think that could be it?

[2020-10-15 13:47] JuliusJacobitz opened #855 "Pylint: load-plugins in PYTHON_PYLINT_CONFIG_FILE"
Hi there,
I added `load-plugins=pylint_django` to my PYTHON_PYLINT_CONFIG_FILE.

After pushing I recieve the following error in Github Actions:

[code]
Since I could not findy any way to install the missing module, is there a workaround or sth. I am missing ?
Thanks for any help !

[2020-10-15 13:55] ferrarimarco commented on #855
AFAIK, we don't currently have a way to install additional modules.

As a workaround, you might have to build your own container image and install what you need.

/cc @admiralAwkbar

[2020-10-15 14:08] admiralAwkbar commented on #698
@HorizonNet The root of the issue:
We are trying to find the files that have changed between the current SHA and the branch it was built off of.
This data is hard to come by due to how people trigger the build pipeline.
- They could be running through GitHub actions
- They could be running locally
- They could be running from other git tools

This makes it hard for us to be able to parse from some

[2020-10-15 14:17] admiralAwkbar commented on #855
@ferrarimarco  @JuliusJacobitz I think the only other option is to use the rules to ignore the module load failures at this point...

[2020-10-15 14:19] admiralAwkbar commented on #855
@JuliusJacobitz another option would be to clone the container, then load the plugins, then run it... that could work as well :)

[2020-10-15 15:54] ferrarimarco commented on #855
That's what I was suggesting :)

You might go fancy and enable dependabot, so that every time super-linter gets a new version, you'll have a PR ready in your repo :)

[2020-10-15 17:04] #855 closed

[2020-10-15 17:05] #852 closed

[2020-10-15 17:38] omusavi opened #858 "Breaking Issue: EDITORCONFIG_LINTER_RULES rules file not found"
**Describe the bug**
[code]

No changes were made, this is likely caused by #854

**To Reproduce**
Run super linter, do not specify EDITORCONFIG_LINTER_RULES

**Expected behavior**
No errors

[2020-10-15 17:39] HorizonNet commented on #698
Ok, got your point. Was only thinking in terms of a GitHub action.

[2020-10-15 17:46] omusavi commented on #858
Note I had VALIDATE_EDITORCONFIG=false as well.

For now I set our CI rules to pin to v3.13.0 and that has fixed the issue

[2020-10-15 18:10] PhunStyle commented on #858
Same issue here, The PR you referenced #854 fixes the ESLint issue i had in #852 but introduces this new error.

I feel like this has to do with the fact that the script tries to validate all default linter rules found here: https://github.com/github/super-linter/tree/master/TEMPLATES -- note how .ecrc is not one of them.

[2020-10-15 21:40] GaboFDC commented on #858
I think this is related to #824 that added using the file, but didn't add a default.

@admiralAwkbar we need some tests to catch these cases, this broke a lot of flows and was completely unseen. I'm working on a fix atm.

[2020-10-15 21:57] #858 closed

[2020-10-16 00:30] #150 closed

[2020-10-16 03:01] boarnoah commented on #108
not stale, rust-clippy is an official project as well making it a very good choice.

[2020-10-16 09:30] tarsius commented on #144
Lalalala.

[2020-10-16 14:43] catborise commented on #847
beside that there are also some problems with filter regex
i am using that filter:
FILTER_REGEX_EXCLUDE: .*[static|scss]/.*
it works as expected but when i add another folder name. then it is not working, not linting and not filtering.

FILTER_REGEX_EXCLUDE: .*[static|scss|venv]/.*

[2020-10-16 15:51] JuliusJacobitz opened #861 "import-error with same config"
Hi there,
my issue looks like this:
I recieve the following error even when my pylintrc-file is exactly like the basic pylint-lint file.
`E0401: Unable to import 'pandas' (import-error)`.
When i disable the  PYTHON_PYLINT_CONFIG_FILE env var in my linter.yml I recieve no errors, but the file should have the same content ?

What am I missing ?
Thanks for any help !

[2020-10-16 19:30] pdelre opened #864 "_LINTER_RULES rules doesn't exist"
I'm also seeing issues when `MARKDOWN_CONFIG_FILE` is set, it is unable to find the file unless `LINTER_RULES_PATH` is also set.

Doesn't work

[code]

Works

[code]

Continued from #858 & #859

_Originally posted by @PhunStyle in https://github.com/github/super-linter/pull/859#issuecomment-709625090_

[2020-10-16 19:32] pdelre commented on #864
My troubleshooting attempts, including `TRACE` from later runs: https://github.com/pdelre/commonmark/actions?query=workflow%3A%22Lint+Docs%22+branch%3Aissue-553-add-markdownlint

[2020-10-17 08:39] DreamPWJ opened #868 "Can it be used in Jenkins Pipeline?"
Jenkins Pipeline is widely used within an enterprise

[2020-10-18 00:31] #669 closed

[2020-10-18 07:58] ferrarimarco commented on #864
I think you're experiencing #685

@admiralAwkbar do you think we should update the README? We receive many questions like this one.

[2020-10-18 08:29] ferrarimarco commented on #868
Why not? Here's an example of running it standalone: https://github.com/ferrarimarco/dotfiles/blob/master/Makefile

[2020-10-18 08:29] #868 closed

[2020-10-18 08:30] ferrarimarco commented on #861
Can you post the full output, after setting `ACTIONS_RUNNER_DEBUG=true`?

[2020-10-18 10:29] bazzadp commented on #708
Keep open please, unless explicitly planning not to support this, as I’d still like to explicitly lock the version and only upgrade when dependabot notifies me and gives me the choice. Especially given a few broken releases like those mentioned above.

[2020-10-18 13:25] DreamPWJ commented on #868
Sorry, What I need is a JenkinsFile @ferrarimarco f

[2020-10-18 14:14] PhunStyle commented on #864
@ferrarimarco @admiralAwkbar

The current docs make it seem like there's a default value for LINTER_RULES_PATH and that the default will, if it's not explicitly set, be used when you specify a custom config file. And to be honest that's what I think the expected behavior is here.
![image](https://user-images.githubusercontent.com/6770468/96370068-efa28100-115c-11eb-8ba3-609fa0593555.png)

[2020-10-18 15:13] ferrarimarco commented on #864
The thing is that `LINTER_RULES_PATH` is **relative** to `GITHUB_WORKSPACE` (or `DEFAULT_WORKSPACE` if `GITHUB_WORKSPACE` is not set).

[2020-10-18 15:34] PhunStyle commented on #864
Ah, I see, I see. Then a doc update would suffice! Thanks so much for explaining

[2020-10-18 20:03] josephmarino opened #872 "Give users the ability to enable or disable stylelint's cosmiconfig functionality"
Hi folks :wave:

I have a suggestion that may improve user experience for developers who are using super-linter with stylelint to lint CSS code. If implemented, the user experience when using super-linter with stylelint would be similar to what a developer experiences when they run stylelint individually without super-linter.

Please let me know your thoughts on this.

**Is your feature request re

[2020-10-19 00:30] #672 closed

[2020-10-19 01:16] josephmarino commented on #864
@ferrarimarco @admiralAwkbar

What do you folks think about eliminating the ``LINTER_RULES_PATH`` env var, and replacing it with functionality that just searches the user's repo for a config file if the user has set a config file env var in their super-linter ``linter.yml``?

For example, if a user has set a config file env var in their linter.yml such as ``MARKDOWN_CONFIG_FILE: .markdownlint.yml`

[2020-10-19 01:37] josephmarino commented on #864
@ferrarimarco @admiralAwkbar

What do you folks think about eliminating the ``LINTER_RULES_PATH`` env var, and replacing it with functionality that just searches the user's repo for a config file if the user has set a config file env var in their super-linter ``linter.yml``?

For example, if a user has set a config file env var in their linter.yml such as ``MARKDOWN_CONFIG_FILE: .markdownlint.yml`

[2020-10-19 11:29] pdelre commented on #864
As a inexperienced Super-Linter user, documenting the use of how env vars are required to be used would have likely made this a non-Issue.

However, without fully understanding the intended developer experience of Super-Linter, as a user I think I'd first expect this to work by setting only one env var and that a the base/root location would be based on my project and not the vendor specific works

[2020-10-19 12:49] GaboFDC commented on #861
Also see #157

[2020-10-19 15:31] Grahame-student commented on #680
Is this still valid? I added a copy of sun_checks.xml to .github/linters in my repo, made a few changes to the configuration and triggered the action. The results from the linting showed that the changes had made a difference.

Or was this more about being able to have greater control over the linting rules from the workflow configuration?

[2020-10-19 15:37] HorizonNet commented on #680
@Grahame-student Probably yes. But before going deeper into it, the name of the file needed to be `sun_checks.xml` within the `.github/linters` directory, correct? Usually the Checkstyle definition is located at a different location within a project. Also, the filename `sun_checks.xml` would be misleading if a different definition was actually used, such as the Google style. My initial suggestion

[2020-10-19 17:44] ferrarimarco opened #879 "Use linter commands and linter names arrays to build the versions file"
**Is your feature request related to a problem? Please describe.**
The current implementation of `linterVersions.sh` relies on a duplicated list of linters, instead of relying on the newly implemented associative arrays.

**Describe the solution you'd like**
Use the linter commands and linter names associative arrays defined in `linter.sh` instead of the one defined in `linterVersions.sh`. By doin

[2020-10-19 18:44] wrux opened #880 "Running superlinter locally never fails."
I have followed [the setup steps](https://github.com/github/super-linter/blob/master/docs/run-linter-locally.md) for running the superlinter locally.

If I run `docker run -e RUN_LOCAL=true -v $(pwd):/tmp/lint github/super-linter`, the superlinter works, but it never fails. I have created errors in my markdown, env and added a bunch of editorconfig errors; but nothing seems to cause the superlinte

[2020-10-19 19:06] ferrarimarco commented on #880
I *think* this is expected, because when running locally, we don't load configuration from the GitHub actions file.

[2020-10-19 20:31] GaboFDC commented on #880
I think the title is misleading.
In local it is expected to don't detect GitHub actions stuff, as is not running as a GitHub action.
But in local this should fail if the linter detects something. I'm giving it a look. but I think the title should be something like "running super-liner locally, doesn't fail"

[2020-10-19 21:25] GaboFDC commented on #880
Seems related to #867 fixed in #884

[2020-10-19 21:37] wrux commented on #880
@GaboFDC I've changed the title and description to something more relevant.

[2020-10-20 12:10] danielbayley commented on #169
cc: @helixbass

[2020-10-20 12:34] GaboFDC commented on #855
A bit late, but the easiest workaround is described in #157

[2020-10-20 12:39] GaboFDC commented on #813
@prabhakarreddy1234 please run with LOG_LEVEL=TRACE and ACTIONS_RUNNER_DEBUG=true to see all possible details, to facilitate the debug.

[2020-10-20 13:07] GaboFDC commented on #151
This would still be a nice to have, but need some work on it

[2020-10-20 13:38] #880 closed

[2020-10-20 16:05] prabhakarreddy1234 commented on #813
Thanks @GaboFDC

Logs are attached.  Somehow all files are `Excluded`. Please let me know if you find anything.

[lint-logs.txt](https://github.com/github/super-linter/files/5409983/lint-logs.txt)

[2020-10-21 11:12] ferrarimarco opened #888 "Do we need to support a "lint directory" use case?"
Currently, super-linter mainly focuses on linting single files, treating cases where a linter supports "whole" directories only as special/peculiar.

Instead of adding other special cases (`ansible-lint`, `jscpd`, we should plan for a more generalized `lint this whole directory` use case.

[2020-10-21 13:01] GaboFDC commented on #888
This would be a really nice feature, there is some related issues also like #424, #736 and maybe others.
Problem is not sure what would be the logic to do so, if we pretend to do it auto-magically it.
We could also take the same approach as with ansible, and when the users wants to check a folder as a whole, allow it to do so via an ENV var, but this doesn't seems like the best.

[2020-10-21 13:03] GaboFDC commented on #813
@prabhakarreddy1234 unfortunatelly seems like that run was affected by #880
Also note that the bash errors you mentions, the ones that start with `##[debug]` are not commig from super linter but from azure itself.
Could you do a test again?

[2020-10-21 13:12] prabhakarreddy1234 commented on #813
@GaboFDC

Reran the pipeline. It downloaded `github/super-linter:latest` again. But same log output. It couldn't find any files.

[2020-10-21 13:33] ferrarimarco commented on #888
I think most of the complexity will be where we build the file list. In fact, the other parts still continue to work as they are now.

In cases where we want to lint directories, we can automatically detect them if possible, so that a user doesn't have to specify them manually (in other words, remove the `ANSIBLE_DIRECTORY` variable). This would be consistent with what we do with other linters: fo

[2020-10-21 13:34] ferrarimarco commented on #888
PS: after we gather some consensus, I can give this a shot.

[2020-10-21 13:45] MusaBack commented on #888
Ok I need jt thanks

On Wednesday, October 21, 2020, Marco Ferrari <notifications@github.com>
wrote:

[2020-10-21 18:50] ahmadnassri opened #889 "JSX_RULES is not a defined variable"
**Describe the bug**

it seems as of dfaeaf317d7452ee59c0fe28503b24d43f32fd3e the JSX command is broken as it no longer points to a config file, and tha tresults in attempting to read the next argument as the config (which is the actual `.jsx` file) https://github.com/github/super-linter/blob/4053087930d90c4303969c5a7679e9bf7751058d/lib/linter.sh#L1169

**To Reproduce**
Steps to reproduce the beha

[2020-10-21 19:12] ahmadnassri commented on #889
it seems the intended variable is `JSX_FILE_NAME` made a PR #890 to correct this

[2020-10-21 20:57] GaboFDC commented on #813
@prabhakarreddy1234 that is weird, on latest log, the problem i saw was on:

[code]

Seems like is trying to get the files fdrom the .automation folder, this was a but, but was fixed already

[2020-10-21 21:03] GaboFDC commented on #888
I'm just wondering what will be the criteria, or how you will determine which liter to use in what folder.
i.e. if there is a folder with 3 yml files, then what?
what if there are 2 ruby files and 2 yml?
what if there are 5 files from 5 different extensions?
what if the folder has 80% of one extension, 10% of other, and 10% of another one?
what if there is a folder with some files of one extension

[2020-10-21 21:13] MusaBack commented on #888
Fi nuW disk wuzic ould anw..ass I won’t o .. pl5

On Wednesday, October 21, 2020, Gabriel Diaz <notifications@github.com>
wrote:

[2020-10-21 21:37] pbstriker38 opened #891 "Kubernetes validation should not fail on CRD's"
Kubeval validation fails when given a K8 configuration with a custom resource definition. The ignore missing schema flag should be used when running `kubeval`.
https://www.kubeval.com/#crds
[code]

**To Reproduce**
1. Create a file with a CRD
[code]

2. Run lint

**Expected behavior**
The file should not be validated since it is an unknown Kubernetes type.

**Screenshots**
If applicable, add scree

[2020-10-22 08:31] ferrarimarco commented on #888
You might run different linters on in the same folder! The criteria would be easier than it seems, because it's already somewhat similar to what we're doing in the `DetectXXX` functions. In this case, we should look at the linter documentation to check what it looks for before linting. Example criteria for tfsec: Is there at least one terraform descriptor in that folder? Yes -> add it to the tfsec

[2020-10-22 08:38] ferrarimarco commented on #891
I feel your pain here, but I think this should be configurable, not hard-coded (one way or another).

@admiralAwkbar @GaboFDC @IAmHughes do you think there's room for customized commands in #857?

[2020-10-22 08:39] ferrarimarco commented on #891
PS: Kubeval doesn't support configuration files.

[2020-10-22 10:52] aayushsanghavi commented on #604
**Describe the bug**
For commits involving changes in Java files, the ansible linter is somehow invoked, it finds no issues and finishes the lint checks.

Console output of the github actions ci
[code]
There is no Ansible code in the codebase at all. Also `VALIDATE_ALL_CODEBASE: false`

It worked as expected for changes in markdown and yaml files though.

**Expected behaviour**
Only the Java linte

[2020-10-22 14:44] prabhakarreddy1234 commented on #813
@GaboFDC  I am sure it pulled latest super-linter image. I can specify the tag to be sure of pulling the latest fixes. Can you give me the tag please?

[2020-10-23 07:15] ferrarimarco commented on #604
@aayushsanghavi the code base changed a lot since this issue was opened. I think you're experiencing a different problem.

Can you open a new issue, and attach a log after setting `ACTION_RUNNER_DEBUG=true`? thanks!

[2020-10-23 07:17] #889 closed

[2020-10-23 14:59] michael0liver opened #899 "Add support for Python isort"
**Describe the solution you'd like**
Add support for isort, it is commonly used alongside black, flake8 etc.

https://github.com/PyCQA/isort

[2020-10-23 15:46] IvanKuchin opened #900 "Push to branch: No files were found in the GITHUB_WORKSPACE"
Hello,

Below command will find 0 differences between HEAD and last commit id if push commit to DEFAULT_BRANCH

https://github.com/github/super-linter/blob/b058f4ac1e4dbd77f3b75dcdece5d879f082ae19/lib/buildFileList.sh#L65

In case of PUSH to branch it is better use

`git diff-tree --no-commit-id --name-only -r ${GITHUB_SHA}`

or

`git show --pretty="" --name-only ${GITHUB_SHA}`

Warning message:
!

[2020-10-23 19:21] MusaBack opened #901 "Help!"
Having a HARD time getting my settings together for a merge

[2020-10-23 20:31] miro6666 opened #902 "Hhhbn"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Additional context**
Add any other

[2020-10-24 00:31] #682 closed

[2020-10-24 08:36] nvuillam commented on #737
Production-ready on hard-fork [Mega-Linter](https://github.com/nvuillam/mega-linter#readme) , just use value `LINTER_DEFAULT`

Example doc: https://github.com/nvuillam/mega-linter/blob/master/docs/descriptors/r_lintr.md#readme

Won't code it here in bash, obviously 😞

[2020-10-24 13:46] ferrarimarco commented on #901
Probably spam

[2020-10-24 13:46] #901 closed

[2020-10-24 13:46] ferrarimarco commented on #902
Spam

[2020-10-24 13:46] #902 closed

[2020-10-24 16:03] ferrarimarco commented on #900
Feel free to open a PR in THIS repo. I think you've opened one in your own fork :)

[2020-10-26 02:37] Joannazhx opened #907 "Disable specific folders in file lists"
I noticed even I set FILTER_REGEX_EXCLUDE to exclude some folders, it only worked at the check code stage. In the gathered list of files...The super-linter will still scan the files inside the exclude folders and put them into file lists. I'm dealing with a large and complicated folder, the super-linter scan to get file lists took 20 mins locally. Is there any way I could use to set ignore some fo

[2020-10-27 05:33] DreamPWJ opened #914 "Score is obtained after the test is completed"
We hope to automate the code quality test in Jenkins' CI/CD. If the score is greater than 90, the test will continue and if the score is less than 90, the test will be terminated

[2020-10-27 18:43] #864 closed

[2020-10-27 18:43] #872 closed

[2020-10-27 18:47] #900 closed

[2020-10-27 21:39] ferrarimarco commented on #175
Prettier is a code formatter, not a linter. What we could (and should) do, is to support both. They serve two different purposes.

This is very similar to the shellcheck vs shfmt case. The first one is a linter, and lints code, while we run shfmt to check if shell scripts are correctly formatted.

[2020-10-27 21:42] ljharb commented on #175
eslint is both a formatter and a linter, and can (and should) be used to run prettier, and thus subsumes it. That way, "linter" is "eslint", and "formatter" is "eslint --fix".

[2020-10-28 09:57] TomerFi commented on #907
Same here, it slows down the linter in projects with a lot of files excluded.

[2020-10-28 11:21] KSmanis commented on #807
Apparently still relevant:
[code]

[2020-10-28 11:55] mamilov commented on #807
Just checked as well, it's still the old version in Pipfile.lock. Probably need to upgrade the dependencies...

[2020-10-28 12:01] jeremiahlewis-vw commented on #807
Think the issue is conflicting dependency requirements, looks like snakefmt requires the 19.* version of black:

https://github.com/snakemake/snakefmt/blob/master/pyproject.toml

[2020-10-28 12:52] KSmanis commented on #807
Unfortunately the underlying problem seems to be conflicting dependencies. As per my [previous comment](https://github.com/github/super-linter/issues/807#issuecomment-717868515):

[2020-10-28 14:15] lsc opened #919 "Allow for less verbose logging"
**Is your feature request related to a problem? Please describe.**
The amount of output that super-linter produces can be overwhelming, I'd like to propose additional valid values for the LOG_LEVELS environment variable: WARN and ERROR.

**Describe the solution you'd like**
When LOG_LEVEL is set to WARN or ERROR, only show logs matching that severity.

**Describe alternatives you've considered**
N

[2020-10-28 18:24] #899 closed

[2020-10-28 19:09] WSLUser opened #921 "Update .eslintrc.yml to accept jsonc files"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

If you use jsonc files, the linter will complain about comments. But if you use https://www.npmjs.com/package/eslint-plugin-json-format, you will find the support is there to simply ignore the comments. VSCode uses this to lint jsonc files

[2020-10-28 22:18] GaboFDC commented on #807
And just to be clear, what is the issue with black 19? why we can't keep it in the version compatible with snakefmt?

[2020-10-28 23:28] GaboFDC commented on #914
This is an interesting idea, but could you elaborate more on how do u think this will work? how will the score be calculated?

[2020-10-29 06:37] KSmanis commented on #807
They don't produce identical output, thus leading to the relevant CI check failing if there is a version mismatch between the dev and the CI environments.

[2020-10-29 08:08] DreamPWJ commented on #914
can reference    https://www.codefactor.io/

[2020-10-29 11:25] prabhakarreddy1234 commented on #813
@GaboFDC  I'm still facing the issue with `latest` tag. Is there anything i need to try ?

[2020-10-29 18:33] owenrumney commented on #693
Worth mentioning that tfsec is now tfsec/tfsec

There are lots more features being added and the check count is growing steadily

[2020-10-30 10:44] ferrarimarco opened #925 "v3.13.3 is not in Docker Hub, nor GitHub Container Registry"
**Describe the bug**

Version 3.13.3 was not deployed to any artifact repository because the [build failed](https://github.com/github/super-linter/runs/1294033734). I've seen the build failing many times because of this exact issue. Time to fix it? :)

**To Reproduce**
Steps to reproduce the behavior:

1. `docker run ghcr.io/github/super-linter:v3.13.2`

**Expected behavior**

Run `ghcr.io/github/

[2020-10-30 10:45] ferrarimarco commented on #925
/cc @admiralAwkbar

[2020-10-30 10:58] ferrarimarco commented on #925
I think it's safe to re-run the job that failed so that the version is finally pushed to the registries, but I've proposed a fix in #926

[2020-10-30 13:24] ferrarimarco commented on #925
@admiralAwkbar I've reopened this as a reminder that we still have to publish the missing version. Is it safe to just re-run the build job that failed? I think so, but wanted to have a confirmation before acting.

[2020-10-30 15:22] admiralAwkbar commented on #925
@ferrarimarco Im not sure what happened here... will try to cut it again

[2020-10-30 15:24] #919 closed

[2020-10-30 18:05] GaboFDC commented on #925
This happens because we merge a failing PR #926 there is no point on doing dev build if we push them anyways when they fail. We should re run and debug them to only push working build. Anyone pullint latest image will have this same error. Are you guys checking this out? I'm not totalyl sure why that pr made the error, but i'm giving it a look asap

[2020-10-30 18:35] GaboFDC commented on #925
Seems like the problem is that PowerShellGallery gallery is down (https://github.com/PowerShell/PowerShellGallery/blob/master/psgallery_status.md), so the build couldn't install the modules. But for some reason, the build didn't fail when the command to install PSScriptAnalyzer failed.

[2020-10-30 18:54] artgoldberg opened #928 "Linting not working following directions at https://github.com/github/super-linter/blob/master/README.md"
**Describe the bug**

Did not get expected behavior following these directions (https://github.com/github/super-linter/blob/master/README.md):

    To use this GitHub Action you will need to complete the following:

    Create a new file in your repository called .github/workflows/linter.yml
    Copy the example workflow from below into that new file, no extra configuration required
    Commit tha

[2020-10-30 19:14] GaboFDC commented on #928
Those grep are only informative and in the run i see the worflow run correctly and also in the logs i see:
[code]

So the linter is working as expected

[2020-10-30 19:24] GaboFDC commented on #925
The #929 fixes so the run doesn't fail if the module doesn't exist, but we are not using it. No need to fail the build if we are not going to lint Powershell.

But still, we have to give a look, to fail the docker build when the command to install PSScriptAnalyzer fails

[2020-10-30 19:39] ferrarimarco commented on #925
Thanks @GaboFDC .

The build I'm referring to (https://github.com/github/super-linter/runs/1294033734) failed because of the error downloading the GPG key that I mentioned above. But still #929 is a welcome fix!

Let's remember to publish the 3.13.3 somehow. I suppose re-running the failing job should do it.

[2020-10-30 21:38] yotamshapira opened #930 "Latest image fails on 'Failed to find module'"
**Describe the bug**
When running the latest image, linting constantly failes with the message `Failed to find module`

**To Reproduce**
Steps to reproduce the behavior:

I use this in my repos to run super linter:
[code]

**Expected behavior**
Shouldn't fail

**Screenshots**
Log:
[code]
**Additional context**
Nothing really

[2020-10-31 01:08] DreamPWJ opened #931 "When we do Run the container Locally ，Check to see if the web page is available"
Super Linter is great but for most companies to go private and deploy detection, we need a view page to see the detection results, and it's best to distinguish between the project and the detection per Git commit

[2020-11-01 00:35] BrentMifsud commented on #127
With swift now on windows, I think this is going to become a more desired feature in the near future.

[2020-11-02 09:26] montyly commented on #807
Would it be somehow possible to overcome this by passing a flag to the super linter?

For example either:
- a generic `FORCE_LATEST`, that would take a list of name, and use the latest version for this tool
- a per tool `FORCE_LATEST_X`, that would force the latest version of the tool

`FORCE_LATEST` might lead to conflicts between tools, but the user can prevent this by running the tools  in sepa

[2020-11-02 14:11] #925 closed

[2020-11-02 14:11] #930 closed

[2020-11-02 14:24] ferrarimarco opened #937 "linterVersions.sh doesn't fail it the version command itself fails"
**Describe the bug**
The `linterVersions.sh` script doesn't correctly detect errors when a "get version" command errored.

Checking the build log, there are a couple of issues:

[code]

The validation script should fail in both cases. We now output just a `warn`, but I suggest we turn it to a `fatal`, now that we run this validation as part of the image build.

**To Reproduce**
Steps to reproduce

[2020-11-02 15:10] ferrarimarco commented on #925
@admiralAwkbar I don't know if we care, but `v3.13.3` is still not in any registry, even if we fixed (mitigated?) the root issue.

[2020-11-02 15:14] admiralAwkbar commented on #925
@ferrarimarco Going to redeploy it

[2020-11-02 16:17] KSmanis commented on #807
Imho a simpler solution would be to install each tool in an isolated environment (whenever possible).

[2020-11-02 17:20] denis-matchenko opened #938 "Cannot find rules files - FATAL"
**Describe the bug**
A clear and concise description of what the bug is.
Log:

[code]

**To Reproduce**
Steps to reproduce the behavior:

1. Go to '.github/linters'
2. Leave only the necessary rules (eg. `.yaml-lint.yml`)
3. Run job
4. See error

**Expected behavior**
Add only necessary linters rules to `.github/linters`

**Screenshots**
If applicable, add screenshots to help explain your problem.

[2020-11-02 17:29] omusavi commented on #736
Commenting as this is still an active issue

[2020-11-02 17:43] maxim-lobanov commented on #938
+1, the same issue for https://github.com/actions/virtual-environments

[2020-11-02 18:39] shgysk8zer0 commented on #938
I saw this same error, copied the `cfnlintrc.yml` from template linter configs, and it's now reporting the same issue but for Dart.

It seems that all config files are expected and any missing file will result in this error.

[2020-11-02 18:40] dmerrick commented on #938
I also tried downgrading to v3.12.0 and am getting the same error

[2020-11-02 18:54] shgysk8zer0 commented on #938
@dmerrick I'm looking for an exact version number for when this passed in a PR just 6 hours ago, but the best I could find was in `Pull github/super-linter:v3` which contained "Digest: sha256:b5b43c0f80224919968b1482b48d82c2424cf596e09468917025575a6bf110d2".

[2020-11-02 19:27] markti-beyondtrust opened #939 "[FATAL] -> ANSIBLE_LINTER_RULES rules file () doesn't exist. Terminating..."
**Describe the bug**
2020-11-02 19:21:24 [FATAL]     -> ANSIBLE_LINTER_RULES rules file () doesn't exist. Terminating...

**To Reproduce**
Steps to reproduce the behavior:

      - name: Lint Code Base
        uses: github/super-linter@v3
        env:
          VALIDATE_ALL_CODEBASE: false
          DEFAULT_BRANCH: master
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

**Expected behavior**
W

[2020-11-02 19:34] admiralAwkbar commented on #939
@markti-beyondtrust
That's odd that the file name is empty...

Can you run it with flag
[code]

And send the details?

[2020-11-02 19:36] denis-matchenko commented on #939
same issue https://github.com/github/super-linter/issues/938

[2020-11-02 19:49] dshevtsov commented on #939
similar issue [here](https://github.com/magento/devdocs/pull/8169/checks?check_run_id=1344010859)

[2020-11-02 20:09] ferrarimarco commented on #939
Duplicate of #938

[2020-11-02 20:09] #939 closed

[2020-11-02 20:11] denis-matchenko commented on #938
`ACTIONS_RUNNER_DEBUG: true` log:

[code]

[2020-11-02 20:26] brndnwng commented on #938
Same issue here
```2020-11-02 20:25:05 [FATAL]     -> ANSIBLE_LINTER_RULES rules file () doesn't exist. Terminating...```

[2020-11-02 20:27] ferrarimarco commented on #938
How are you running `super-linter`? After building the latest master and running it locally, I couldn't reproduce.

[2020-11-02 20:33] cageyv commented on #938
+1, the same issue for https://github.com/actions/virtual-environments

Mon, 02 Nov 2020 14:33:59 GMT -  6 hours ago everything is good
Mon, 02 Nov 2020 20:01:29 GMT - 30 minutes ago [FATAL]     -> ANSIBLE_LINTER_RULES rules file () doesn't exist. Terminating...

[2020-11-02 20:37] ferrarimarco commented on #937
This is likely because `mapfile` is swallowing the error code...

[2020-11-02 20:42] mego22 commented on #938
@ferrarimarco I'm seeing the error when running it in Github action and when pulling the latest docker image down with Jenkins.

[2020-11-02 21:09] ferrarimarco commented on #938
Clearing my assignment, as it's getting late here :)

In the meantime, can you try running building locally and run against the same code base?

[2020-11-02 21:20] andrejpk commented on #938
same issue, vanilla superlinter.yml straight from the docs as a starting point (only changed the branch name)
[code]

[2020-11-02 21:39] mego22 commented on #938
Built the image locally and got the same result:

[code]

[2020-11-02 22:50] mtigas commented on #938
tldr: `v3.13.1` appears to work, and `v3.13.2` doesn't exist. (current `v3` is `v3.13.3`.)

---

Seems to be working for me with `v3.13.1` on one of our projects. Our last successful lint (from a few days ago) had this in the output:
[code]
and that git revision matches v3.13.1 in https://github.com/github/super-linter/releases .

Here's the version info from a failing build with `:v3` a few hours

[2020-11-02 23:11] bazzadp commented on #708
I see we've released another bug in #938 breaking all linting on anyone using this project. Can we please look at this issue and introduce proper versioning to avoid this?

[2020-11-03 00:36] solvaholic commented on #938
When I build from 5a04bd98750ed6c576c9a480e2708b94589d012b I get the described error:

[code]

When I build from e4b007cd406479d8261c9d8ba72fb1df0366e2e2 I do not.

So I think the changes from https://github.com/github/super-linter/pull/927 introduced this issue.

/cc @ferrarimarco @admiralAwkbar

[2020-11-03 01:34] ahmadnassri opened #943 "all the versions are serving the same image"
**Describe the bug**

seemingly all versions are serving the same actual image, regardless of described version number in workflow file

**Screenshots**

###### `@v3`

![image](https://user-images.githubusercontent.com/183195/97936819-c253f680-1d4a-11eb-9dd3-e506984b0790.png)

###### `@v3.13.2`

![image](https://user-images.githubusercontent.com/183195/97936832-ca139b00-1d4a-11eb-96a5-39b0c31bd595

[2020-11-03 01:35] WSLUser commented on #135
Still pending

[2020-11-03 07:50] TomerFi commented on #938
Starting today, I'm seeing the same issue on two separate organization private repositories:

[code]

For both workflows, I've configured `VALIDATE_ALL_CODEBASE: false` so the Ansible linter should not even be executed.
I've tried pinning the version:

[code]

But to no avail, the workflow run seems to pull `ghcr.io/github/super-linter:v3` regardless...

[2020-11-03 08:04] TheLastZombie commented on #938
Try 3.13.1 instead, see https://github.com/github/super-linter/issues/938#issuecomment-720769293:

[2020-11-03 08:32] TomerFi commented on #938
@TheLastZombie
Thank you, but that doesn't work.

First of all for both [v3.13.1](https://github.com/github/super-linter/blob/v3.13.1/action.yml#L6) and [v3.13.3](https://github.com/github/super-linter/blob/v3.13.3/action.yml#L6) the action is set to pull `ghcr.io/github/super-linter:v3`.
Which is a bug in itself, #943 has already been opened on that topic.

As for the https://github.com/github/su

[2020-11-03 08:35] dec5e commented on #938
You can use actions from docker image to lock to a specific version:
[code]

[2020-11-03 08:36] TomerFi commented on #943
Perhaps [this](https://github.com/github/super-linter/blob/v3.13.3/action.yml#L6) is the reason.
I've followed git blame for that line, it was always the case.

[2020-11-03 08:42] TomerFi commented on #938
@dec5e
Works well!
Cool workaround!
:-)

[2020-11-03 08:45] TomerFi commented on #943
https://github.com/github/super-linter/issues/938#issuecomment-720977157 offers a tested workaround for pinning the version regardless.

[2020-11-03 09:06] dec5e commented on #708
I've proposed a fix for described issue in #947.

[2020-11-03 10:04] bazzadp commented on #938
The only issue with that workaround is dependabot will no longer see this as a Github Action dependency and so will no longer alert when there's a new version of the super-linter. But as a workaround it's better than every run being broken for now...

[2020-11-03 10:05] bazzadp commented on #938
Oh and also they don't always publish the latest version to docker (e.g. v1.13.2 is missing despite that being a working version for example).

[2020-11-03 10:09] bazzadp commented on #943
Duplicate of #708

[2020-11-03 10:17] bazzadp opened #948 "Add post release test run"
**Is your feature request related to a problem? Please describe.**
The GitHub super-linter has published a number of bad releases since go-live which have been left in place for hours and days. This is particularly a problem as this project does not follow versioning (see #708 ) so this affects even those repos that do not upgrade, and also affects all forks and branches meaning even if we try to

[2020-11-03 10:21] bazzadp opened #949 "Add more pre-release testing"
**Is your feature request related to a problem? Please describe.**
The GitHub super-linter has published a number of bad releases since go-live which have been left in place for hours and days. This is particularly a problem as this project does not follow versioning (see #708 ) so this affects even those repos that do not upgrade, and also affects all forks and branches meaning even if we try to

[2020-11-03 14:06] #937 closed

[2020-11-03 15:30] solvaholic commented on #938
When I build from bdc7aa6a1a90fb89c50ef5b8ba9d7ba511981a20 (current `master`, also the v3.13.4 release) I get success.

Re-running the failed job in Actions still got a ❌ :

[code]

I see similar failure when I `docker pull ghcr.io/github/super-linter:v3` and run that. So I think the `v3` docker image is not really the latest `v3` release, maybe as described in https://github.com/github/super-lint

[2020-11-03 15:50] ahmadnassri commented on #943
indeed @TomerFi this seems like GtiHub Actions itself being .... not great in their definitions of `action.yml`...

if that line is removed, github actions willl attempt to pull and build the super-linter image in your own workflow !

[2020-11-03 16:27] solvaholic commented on #938
In case you'd prefer to use GitHub's container registry rather than Docker hub, this syntax works as well:

[code]

[2020-11-03 17:10] admiralAwkbar commented on #949
@bazzadp i agree... I take full responsibility for some of these releases and some of the lack of testing.
As this is more widely adopted, we need to make sure `master/main` is always hyper stable.
I will look into this week to see if we can create some additional safeguards to help resolve this

[2020-11-03 17:10] admiralAwkbar commented on #938
#950 solved this

[2020-11-03 17:10] #938 closed

[2020-11-03 17:47] admiralAwkbar commented on #938
@solvaholic thanks for the info!

[2020-11-03 21:16] jgamblin opened #951 "Critical Vulnerablity (CVE-2020-8165) Present In Container."
**Describe the bug**
The latest version of the container is reporting that it has CVE-2020-8165 in the Gemfile.lock.   [CVE-2020-8165](https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2020-8165) is scored as a high vulnerability via trivy.   We have a CI rule not to deploy containers with critical vulnerabilities.

**To Reproduce**
Steps to reproduce the behavior:

1. trivy --ignore-unfixed -f J

[2020-11-04 07:20] dec5e commented on #708
This proposed solution doesn't work. It seems at the moment the only option to fix versioning is to have versioned `action.yaml` with hardcoded image tag

[2020-11-04 11:29] ferrarimarco opened #954 "super-linter includes .git directory in the list of files to lint"
**Describe the bug**

[code]

Affects v3.13.5, maybe others.

**To Reproduce**
Steps to reproduce the behavior:

1. Run super-linter in a Git repository.

**Expected behavior**
super-linter should ignore the `.git` directory [as expected](https://github.com/github/super-linter/blob/master/lib/buildFileList.sh#L98).

[2020-11-04 12:56] Connell1 commented on #499
It is not enough to just turn off some individual rules. If I can't import a module and I just disable the import-error rule, I will still get errors on every line that calls a function from the imported module.

[2020-11-04 13:12] ferrarimarco opened #955 "hadolint doesn't pick up the configuration file"
**Describe the bug**
Hadolint ignores the configuration file. Observed in `v3.13.5`.

**To Reproduce**
Steps to reproduce the behavior:

1. Create a Dockerfile with the following contents:

[code]

1. Create a `.hadolint.yaml` file with the following contents:

[code]

1. Run super-linter against a workspace containing that Dockerfile:

[code]

**Expected behavior**
A clear and concise description

[2020-11-04 15:58] #879 closed

[2020-11-04 17:11] MrCull opened #958 "The README file in this repo has a bad link - [404:NotFound]"
## Describe the bug

The README file in this repo has a bad link - [404:NotFound]

Status code [404:NotFound] - Link: https://phpstan.org/n

## Expected behavior

Link should work

## Steps to Reproduce
Click the link for "PHPStan"

## Logs

## Additional context

This was found by an new experimental hobby project that I have just created: https://github.com/MrCull/GitHub-Repo-ReadMe-Dead-Link-Fi

[2020-11-04 20:28] josephmarino commented on #958
Thanks, @MrCull! This should be fixed by PR #960 😸

[2020-11-04 20:42] #958 closed

[2020-11-04 22:56] ferrarimarco opened #961 "Enable anti-spam measures"
Hi all!

There's a recent spike in spam here, in this repo. What if we enable the restrictions for very new users to interact (issues, PRs) with the repo?

@admiralAwkbar

[2020-11-05 08:20] ferrarimarco commented on #954
Reopening, because the PR didn't fix it. We should use this kind of syntax to exclude dotdirs: `find . -path */.git -prune -o -print`

[2020-11-05 13:58] ferrarimarco commented on #954
Btw, we didn't notice because `editorconfig-checker` is the only linter we don't run, because we don't have a `.editorconfig` file in this repo. Maybe it's time to add one?

[2020-11-05 15:01] admiralAwkbar commented on #961
@ferrarimarco Set to block new users for the next month... well see if that helps :)

[2020-11-05 15:01] #961 closed

[2020-11-05 15:06] admiralAwkbar commented on #954
@ferrarimarco The `-print` causes the list to contain the folders now in the list.. so not a great fix for this...

[2020-11-05 15:07] admiralAwkbar commented on #954
Example:
[code]

[2020-11-05 15:11] ferrarimarco commented on #954
that was an example :)

[2020-11-05 15:12] ferrarimarco commented on #954
We don't need print. Wait a sec, I'll prepare a quick PR

[2020-11-05 15:13] ferrarimarco commented on #954
Can you have a look at #964?

[2020-11-05 16:54] ferrarimarco opened #965 "Add an .editorconfig file?"
As we've seen in #954, by not including an `.editorconfig` file, we're not able to run `editorconfig-checker` on the whole code base. (the tests work tho!)

Including one has the benefit of being able to spot more issues, and helps us maintaining a consistent style.

Thoughts?

@admiralAwkbar

[2020-11-05 17:13] ferrarimarco commented on #955
Closing, there's a typo in the rules file (DL3008 vs DL3018)

🤦

[2020-11-05 17:13] #955 closed

[2020-11-05 18:28] admiralAwkbar commented on #965
@ferrarimarco I thought we had a template at some point... we need to add it back 👍
Make it so :)

[2020-11-05 21:02] #954 closed

[2020-11-06 03:50] mcm-ham opened #967 "Support custom file extension for existing linters"
Our project uses Microsoft files like app.config or web.config that are XML files.

We would like the ability to indicate that .config should be linted using the XML linter.

An alternative approach is to add support for plugins to allow devs more control e.g. it registers what file extensions it can handle, and then provide plugin with a list of matching files to lint, which can then return resul

[2020-11-06 08:49] Joannazhx opened #968 "Powershell linter Error: Invoke-ScriptAnalyzer"
## Describe the bug

The Powershell Linter didn't work have same error Invoke-ScriptAnalyzer
similar issue #279 #318
## Expected behavior

When running PowerShell linting using the current latest version tag
[code]
## Steps to Reproduce
    docker run -e RUN_LOCAL=true \
        -e VALIDATE_CSHARP=false \
        -e VALIDATE_PYTHON_BLACK=false \
        -e VALIDATE_ALL_CODEBASE=false \
        -e

[2020-11-06 11:20] ferrarimarco commented on #967
One thing we might do (as we did with other linters), is to add an exception to detect if a `.config` file is also an `XML` file.

How does one of those config files looks like?

[2020-11-06 11:23] ferrarimarco commented on #968
@Joannazhx can you try building the latest `master` and run it again? Thanks!

[2020-11-06 12:36] dec5e commented on #708
@admiralAwkbar Could put more attention to this issue? It's really important to have an option to use specific super-linter version without "workarounds". There was recently the "outage" for super-linter because of #938 and the only option to fix it was to switch to docker image with locked tag. That shouldn't be a recommended way.

It seems there is no simple way to make versioning work. In my PR

[2020-11-06 13:01] sindrenm commented on #680
This should probably be approached similarly as it has been for other linters, right? Just like there's an `CSS_FILE_NAME` environment variable for reading a stylelint configuration, one could have a `JAVA_FILE_NAME` pointing to a checkstyle config?

[2020-11-06 16:44] ferrarimarco opened #969 "Why do we have the disable-linters document?"
Having the `disable-linters.md` document (which might contain stale information) is a maintenance chore for us.

What if we get rid of that, and just refer to each linter docs?

For example, in that file we state about `klint`: `There is no top level _configuration file_ available at this time`, which is not true as we discovered in #966 (and then by reading klint docs).

Shall we just get rid of

[2020-11-06 19:02] admiralAwkbar commented on #969
@ferrarimarco I think when we only had a few languages it was easy, but now as more and more join, we should likely just point to their configurations or homepages so users can see the documentation hosted by the source... I would be good for that direction

[2020-11-06 20:22] mverbaas commented on #968
I have the same, I guess it is because of the spaces in the path!

[2020-11-06 20:59] ferrarimarco commented on #949
One idea here might be to fail with a fatal error if the TAP file is missing, instead of raising a warning (that no one is going to fix). Thoughts?

[2020-11-07 00:21] #709 closed

[2020-11-07 00:53] mcm-ham commented on #967
Sure it looks like this:
[code]

[2020-11-07 14:45] ItsLuized opened #970 "Super-linter never fails (locally)"
I'm currently trying to linter this html file:
[code]

For anyone who has written html, know that the `<!DOCTYPE html>` is missing (on purpose)

And when I run superlinter i get the following output:

[code]

command used: docker run -e RUN_LOCAL=true -v /html-infra_ti:/tmp/lint github/super-linter

[2020-11-07 15:15] ferrarimarco commented on #970
@ItsLuized please follow the issue template instructions by posting the complete debug output. My initial guess is that it's not linting anything.

[2020-11-07 16:12] ItsLuized commented on #970
With the command: ```docker run -e RUN_LOCAL=true -e ACTIONS_RUNNER_DEBUG=true -v /html-infra_ti/index.html:/tmp/lint/file github/super-linter```

I get the output:

[code]

Apparently there are no HTML file to lint, even thought I point directly to the file... I honestly don't know why it's not finding it

[2020-11-07 16:34] ferrarimarco commented on #970
[code]

super-linter doesn't find anything to lint in `/tmp/lint`. I'd double check your volume mounting option.

Can you try with (assuming that the HTML file you want to lint is in the `/html-infra_ti` directory):

[code]

[2020-11-07 16:37] ItsLuized commented on #970
I found the solution...
I was using Docker with WSL2... What was happening is that I wasn't putting the absolute path of the folder, because docker threw the following message: ```docker: invalid reference format: repository name must be lowercase.```, because the absolute path was: ```/mnt/e/Users/Usuario/Documents/Infra TI/Examen Final/html-infra_ti```

What I ended up doing was copying the file

[2020-11-07 16:37] #970 closed

[2020-11-07 18:16] ferrarimarco commented on #967
@mcm-ham can you run super-linter locally setting `ACTIONS_RUNNER_DEBUG=true` ?

Something like:

[code]

We do have a fallback for when super-linter is not able to decide how to lint a file, but I suppose it's not working for this kind of file, and it should.

[2020-11-07 21:40] #951 closed

[2020-11-08 00:15] gon1332 commented on #864
I have the same problem with eslint:

My yaml configuration looks like this after what I read from here:

    - name: Lint Code Base
      uses: github/super-linter@v3
      env:
        LINTER_RULES_PATH: ${{ github.workspace }}
        VALIDATE_ALL_CODEBASE: true
        JAVASCRIPT_ES_CONFIG_FILE: .eslintrc.json
        DEFAULT_BRANCH: main
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

Lint

[2020-11-09 00:54] Joannazhx commented on #968
@ferrarimarco Thanks for your help. I include details information. Could you check the path space bug mverbaas mentioned above?
## Describe the bug
Powershell linter can't lint successfully  with .ps file which contains space in file path
Thanks to @mverbaas diagnose the reason rasing this issue

## Expected behavior
In PowerShell liner, if the .ps file path contains space, can't be linter correct

[2020-11-09 04:31] Joannazhx opened #972 "SQL Server Lint Support"
**Is your feature request related to a problem? Please describe.**
Hi,

We use SQL Server in our codebase, the current sql-lint only supports MySQL and PostgreSQL. It will be really useful if you could add another SQL lint which could check the SQL server.

**Describe the solution you'd like**
This one tsqllint works well for SQL Server.
https://github.com/tsqllint/tsqllint
I'll really appreciate

[2020-11-09 14:52] #965 closed

[2020-11-10 14:00] sanmai-NL opened #978 "Superlinter tries to lint files just removed in the current commit"
## Describe the bug

Superlinter tries to lint files just removed in the current commit.

## Expected behavior

Superlinter lints changed files, but not those that were removed. See also #671.

## Steps to Reproduce

1. Add two yml files.
2. Commit and push.
3. Remove one yml file.
4. Commit and push.

## Logs

[code]

[2020-11-10 16:19] #978 closed

[2020-11-10 16:19] #972 closed

[2020-11-10 17:18] #969 closed

[2020-11-10 17:41] #968 closed

[2020-11-10 17:53] #928 closed

[2020-11-10 17:59] admiralAwkbar commented on #931
@DreamPWJ The Actions results show the files and what issues were detected per commit, so I'm not sure what else we could do to help?
Are you asking for a separate page to be made when issues are reported?

[2020-11-10 20:31] admiralAwkbar commented on #949
@ferrarimarco I agree

[2020-11-11 08:26] alerque commented on #490
Still broken. Get your bot off our backs, activity has nothing to do with it when the upstream project is the one letting everything slide. If you were an active project that actually triaged issues this would be a non-issue.

[2020-11-11 14:14] bazzadp opened #985 "Ignoring same files locally as when run as an action"
When I run this locally (on a Mac) it includes files/folders (like `node_modules`) that are ignored when run through GitHub Actions

What I'm running:

[code]

I saw #179 but that seems to be about dynamically ignoring folders - I just want to ignore the files and folders that the super-linter knows to ignore anyway when run as aa GitHub Action.

Am I doing something wrong or is this not supported

[2020-11-11 16:25] foodev opened #986 "How to increase memory limit for PHP/PHPStan linter?"
I configured the [PHPStan](https://phpstan.org/) linter for a big project but it often crashes due to not enough memory:

If I use PHPStan locally and pass e.g. `--memory-limit 1GB` as parameter it works fine. But there's no option to specify this memory limit in the PHPStan config file (which has nothing to do with the super-linter).

I understand that there're always [7 GB of RAM for each GitHub

[2020-11-11 16:52] GaboFDC commented on #985
These files should be ignored locally too. Do you mind running with the debug flags, and sharing the output?
An example of how to run is on the issue template.

[2020-11-11 18:00] leviem1 commented on #490
Yes, not to beat a dead horse, but this behavior is confusing and frustrating. Builds fail without reason (well, the reason being that the linter broke in an update as we've seen happen in many patches lately) and can be hard to trace since two identical builds may have two different outcomes. Basically, using superlinter in your builds will lead to nondeterministic outcomes.

Again, just a slight

[2020-11-11 18:06] alerque commented on #490
@leviem1 I saw some comments about the GHCR situation changing and remember thinking that I needed to look into if it could be leveraged to fix my own projects now. That doesn't solve the versioning issues here though. Assuming it can (an anonymous pulls work) they should look into that being a standard Actions thing ASAP. This situation is beyond crazy.

Meanwhile I've dropped SuperLinter form al

[2020-11-11 18:35] bazzadp commented on #985
Well that's interesting!

If I add `-e ACTIONS_RUNNER_DEBUG=true` it works as expected (though outputs a LOT of debugging info, that I'd rather not see unless I'm actually debugging the linter!).

However if I don't include that (or set it to `false`) it spends ages gathering the files:

[code]

Kind of makes it difficult to debug when the debug flag makes it work! 😀

Will dig on and see if I can

[2020-11-11 18:51] bazzadp commented on #985
Curiouser and curious. Just setting the LOG_LEVEL (even to the default VERBOSE) also fixes the problem!

[2020-11-11 19:13] bazzadp commented on #985
Sorry this piece is incorrect. I still had `ACTIONS_RUNNER_DEBUG=true` set. When I remove that it reverts back to taking ages while it scans `node_modules` and other folders.

[2020-11-11 20:28] ferrarimarco opened #987 "Support the customization of linter invocations"
**Is your feature request related to a problem? Please describe.**

super-linter doesn't currently support any customization of the commands and the options it uses. Apparently, this is a feature that users want: #891, #986, #692, #680. #507, #498

We can use this issue to design an implementation.

**Describe the solution you'd like**

1. Users should be able to personalize commands and options.

[2020-11-12 14:53] mpeteuil commented on #954
👋 Hi there! I wasn't sure where to ask, but I was wondering when we should expect a new release with #964 and #965?

[2020-11-12 16:27] ferrarimarco opened #991 "Enable branch protection rules"
After having a look at the Git history, which is a bit hard to follow, I think we might benefit from a couple more branch protection rules for the main/master branch.

1. Require linear history.
1. Require branches to be up to date before merging (also contributing to #982)

Example of the current history:

<img width="402" alt="Screenshot 2020-11-12 at 17 23 22" src="https://user-images.githubuse

[2020-11-12 17:15] admiralAwkbar commented on #991
@ferrarimarco I love it.. we need it... consider it done

[2020-11-12 17:17] admiralAwkbar commented on #991
@ferrarimarco updated and done!
thank you for keeping up with this!

[2020-11-12 17:25] admiralAwkbar commented on #986
@foodev Added the flag for 1GB
Hopefully, this can help!

[2020-11-12 17:31] ferrarimarco commented on #991
Re-opening to bug more :)

[2020-11-12 17:31] ferrarimarco commented on #991
Forgot to ask about "Squash and Merge" to be the only merging mechanism, otherwise we end up with the same result as before

[2020-11-12 17:45] #986 closed

[2020-11-12 17:45] foodev commented on #986
Thanks for the quick fix! This should definitely help, though it would be good to set this limit manually (as described in https://github.com/github/super-linter/issues/987).

[2020-11-12 18:01] admiralAwkbar commented on #991
@ferrarimarco The only option I had was squash and merge
Is that what you were looking for?

[2020-11-12 20:50] ferrarimarco commented on #991
Yes! that one :) nice!

[2020-11-12 20:50] #991 closed

[2020-11-12 22:59] GaboFDC commented on #985
Could yo then share an output with only `LOG_LEVEL` set?

[2020-11-12 23:02] GaboFDC commented on #987
From the top of my mind, we could create new ENV vars, like <LINTER>_CLI_ARGS. leaving the current ones as default, and use that variable on the linter invocation. Seems plausible. wdyt?

[2020-11-12 23:48] josephmarino commented on #864
@gon1332 try replacing ``LINTER_RULES_PATH: ${{ github.workspace }}`` with the directory where your .eslintrc.json file is located. For example, if your .eslintrc.json file is located in your repo's root directory your ``LINTER_RULES_PATH`` ENV VAR should look like ``LINTER_RULES_PATH: /`` notice the forward slash is used to define the root directory.

To learn more about how to use super-linter w

[2020-11-13 13:33] ferrarimarco opened #997 "Exclude the __pycache__ directory or pyc files from linting"
**Is your feature request related to a problem? Please describe.**
super-linter includes the `__pycache__` directory (and `.pyc` files) when building the file list. Linters that are set to check every file, such as `editorconfig-checker`, fail on Python bytecode files.

**Describe the solution you'd like**
Ignore the `__pycache__` directory, or `*.pyc` files

**Additional context**

Example:

[cod

[2020-11-13 13:58] ferrarimarco commented on #987
The `_CLI_ARGS` approach works if we don't want to also let users customize the name of command to run, besides the arguments, which makes sense, because the command name depends on how we build the container image.

[2020-11-13 14:03] ferrarimarco commented on #762
I have to reopen this :(

Building the latest master says:

[code]

[2020-11-13 14:05] ferrarimarco commented on #762
From Pipfile.lock:

[code]

[2020-11-13 14:06] montyly commented on #762
It seems to be needed because of `stakefmt` requirements. See the related discussion: https://github.com/github/super-linter/issues/807

[2020-11-13 14:10] ferrarimarco commented on #762
I see. Thanks @montyly

[2020-11-13 14:17] ferrarimarco commented on #762
[snakefmt](https://github.com/snakemake/snakefmt#containers) is also containerized already. I'm wondering if we can use this to our advantage somehow, instead of installing it in our image...

[2020-11-13 14:38] ferrarimarco commented on #762
What we're currently doing is:

[code]

I guess we can solve this issue by avoiding a system installation, and use pipenv to manage virtual environments. We might adopt this approach in general, or only with tools that cause conflicts, such as `snakefmt`.

Maybe a generalized solution is easier to implement?

[2020-11-13 15:05] #997 closed

[2020-11-13 15:40] ferrarimarco commented on #762
Another option: seems that Black now [publishes self-contained binaries](https://github.com/psf/black/pull/1743). No releases to evaluate yet...

[2020-11-14 00:20] #392 closed

[2020-11-14 00:20] #375 closed